---
import Layout from "../../../layouts/Layout.astro";
import Altar from "../../../components/Altar.astro";
import Start from "../../../components/BhadjanMandala/Start";
import GaneshaMantra from "../../../components/BhadjanMandala/GaneshaMantra";
import GaneshaArati from "../../../components/BhadjanMandala/GaneshaArati";
import LakshmiGayatri from "../../../components/BhadjanMandala/LakshmiGayatri";
import GimnLakshmi from "../../../components/BhadjanMandala/GimnLakshmi";
import LaksmiArati from "../../../components/BhadjanMandala/LaksmiArati";
import PanchabrahmaMantry from "../../../components/BhadjanMandala/PanchabrahmaMantry";
import Prarthana from "../../../components/BhadjanMandala/Prarthana";
import BhadjanyShakti from "../../../components/BhadjanMandala/BhadjanyShakti";
import ShantiMantra from "../../../components/BhadjanMandala/ShantiMantra";
import LekciyaGuru from "../../../components/BhadjanMandala/LekciyaGuru";
import Meditation4BSB from "../../../components/BhadjanMandala/Meditation4BSB";
import Finish from "../../../components/BhadjanMandala/Finish";
import Disclaimer from "../../../components/BhadjanMandala/Disclaimer";
import { Icon } from "astro-icon/components";
---

<Layout title="Пуджа Шакти. Неделя 2.">
  <div class="main-container">
    <div class="flex items-center justify-center gap-1">
      <h1 class="mainTitle">Пуджа Шакти. Неделя 2</h1>
      <a href="/upasana/bm-shakti/" class="">
        <Icon
          name="mdi:arrow-left-top"
          class="size-5 text-indigo-500 md:size-6 lg:size-8 dark:text-amber-400"
        />
      </a>
    </div>
    <div id="sutra"></div>
    <Altar />
    <Start client:visible />
    <GaneshaMantra client:visible />
    <GaneshaArati client:visible />
    <LakshmiGayatri client:visible />
    <GimnLakshmi client:visible />
    <LaksmiArati client:visible />
    <PanchabrahmaMantry client:visible />
    <LekciyaGuru client:visible />
    <Prarthana client:visible />
    <BhadjanyShakti client:visible />
    <ShantiMantra client:visible />
    <Meditation4BSB client:visible />
    <Finish client:visible />
    <Disclaimer client:visible />

    <div class="mt-10 flex w-full justify-center text-lg lg:mt-20">
      <a href="/upasana/bm-shakti/">
        <Icon
          name="mdi:arrow-left-top"
          class="size-5 text-indigo-500 md:size-6 lg:size-8 dark:text-amber-400"
        />
      </a>
    </div>
  </div>
</Layout>
