---
import Layout from "../../layouts/Layout.astro";
import DattaJayanti2023 from "../../components/carousel/DattaJayanti2023";
---

<Layout title="Даттаджаянти 2023">
  <div class="main-container">
    <DattaJayanti2023 client:visible />
  </div>
</Layout>
