---
import Layout from "../../layouts/Layout.astro";
import DhanvantariJayanti2023 from "../../components/carousel/DhanvantariJayanti2023";
---

<Layout title="Дханвантари Джаянти 2023">
  <div class="main-container">
    <DhanvantariJayanti2023 client:visible />
  </div>
</Layout>
