---
import Layout from "../../layouts/Layout.astro";
import GuruImageGallery from "../../components/carousel/Guru";
---

<Layout title="Шри Гуру Свами Вишнудевананда Гири Махарадж">
  <div class="main-container flex w-full flex-col gap-2">
    <h1 class="mainTitle">Гуру Свами Вишнудевананда Гири</h1>
    <GuruImageGallery client:visible />
    <h3 class="mt-10 w-full text-center">НАШ ГУРУ — СВЕТОЧ ДХАРМЫ</h3>
    <p class="mt-5 font-bold">Шри Гуру Свами Вишнудевананда Гири Махарадж</p>
    <p class="italic">Махамандалешвар Ордена Джуна Акхары</p>
    <p>
      Духовный учитель находящийся 35 лет в безпрерывном самадхи, реализованный
      Мастер-Джняни в линии адвайта-веданты, шиваизма и ануттара-тантры.
    </p>
    <p>✦ Философ, теолог, писатель, паломник-путешественник.</p>
    <p>
      ✦ Более 25 лет проповедует Санатана Дхарму, путь практической веданты и
      учение аннутара-тантры.
    </p>
    <p>
      ✦ Имеет более 10000 последователей, учеников монахов и мирян по всему
      миру.
    </p>
    <p>
      ✦ Входит в тройку наиболее влиятельных санньяси-индуистов из числа
      европейцев по версии издания ВВС.
    </p>
    <p>✦ Основатель Всемирной общины Санатана Дхармы (ВОСД).</p>
    <p>
      ✦ Обучает джняна-, раджа-, бхакти-, карма-, кундалини- и лайя-йоге,
      учениям ануттара-тантры сиддхов.
    </p>
    <p>
      ✦ Создатель института Риши Васиштхи ,12-летней программы системного
      духовного образования для глубокой практики Освобождения.
    </p>
    <p>✦ Основатель 11 ашрамов и дхарма центров по всему миру.</p>
    <p>
      ✦ Автор более 50 книг. Наиболее значительные и известные из которых:
      «Сияние драгоценных тайн лайя-йоги», «Песни пробужденного», «Вселенная
      джняни», «Духовная алхимия».
    </p>
    <p>
      ✦ Инициатор Международных конгрессов Адвайта-веданты и межконфессиональных
      встреч в Европе.
    </p>
    <p>✦ Инициатор и вдохновитель движения «Йоги за мир».</p>
  </div>
</Layout>
