---
import Layout from "../../layouts/Layout.astro";
import GuruImageGallery from "../../components/carousel/Guru";
---

<Layout title="Гуру Свами Вишнудевананда Гири">
  <div class="main-container flex w-full flex-col gap-10">
    <h1 class="mainTitle">Гуру Свами Вишнудевананда Гири</h1>
    <GuruImageGallery client:visible />
  </div>
</Layout>
