---
import Layout from "../../layouts/Layout.astro";
import IndiaSay2024 from "../../components/carousel/IndiaSay2024";
---

<Layout title="День Индии 2024">
  <div class="main-container">
    <IndiaSay2024 client:visible />
  </div>
</Layout>
