---
import Layout from "../../layouts/Layout.astro";
import MahaShivaRatri2025 from "../../components/carousel/MahaShivaRatri2025";
---

<Layout title="МахаШиваРатри 2025">
  <div class="main-container">
    <MahaShivaRatri2025 client:visible />
  </div>
</Layout>
