---
import Layout from "../../layouts/Layout.astro";
import MahaShivaRatri2024 from "../../components/carousel/MahaShivaRatri2024";
---

<Layout title="МахаШиваРатри 2024">
  <div class="main-container">
    <MahaShivaRatri2024 client:visible />
  </div>
</Layout>
