---
import Layout from "../../layouts/Layout.astro";
import MahaShivaRatri2023 from "../../components/carousel/MahaShivaRatri2023";
---

<Layout title="МахаШиваРатри 2023">
  <div class="main-container">
    <MahaShivaRatri2023 client:visible />
  </div>
</Layout>
