---
import Layout from "../../layouts/Layout.astro";
import PambattiJayanti2023 from "../../components/carousel/PambattiJayanti2023";
---

<Layout title="Памбати джаянти 2023">
  <div class="main-container">
    <PambattiJayanti2023 client:visible />
  </div>
</Layout>
