---
import Layout from "../../layouts/Layout.astro";
import Tradiciya from "../../components/carousel/Tradiciya";
---

<Layout title="Традция Пратьякша Адвайта сиддхов">
  <div class="main-container flex w-full flex-col gap-10">
    <h1 class="mainTitle">Традиция практической адвайты сиддхов</h1>
    <Tradiciya client:visible />
  </div>
</Layout>
