---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ишвара Гита">
  <div class="main-container">
    <h1 class="mainTitle">Ишвара Гита</h1>
    <div class="mt-10 flex w-full justify-center">
      <iframe
        width="480"
        height="270"
        src="https://dzen.ru/embed/opUbJp8QJAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0"
        allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media"
        data-testid="embed-iframe"
        frameborder="0"
        scrolling="no"
        allowfullscreen
        class="rounded-xs"></iframe>
    </div>
  </div>
</Layout>
