---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Освобождающий нектар драгоценных наставлений">
  <div class="main-container">
    <h1 class="mainTitle">Освобождающий нектар драгоценных наставлений</h1>
    <h2 class="w-full text-center font-semibold">
      Лайя Амрита Упадеша Чинтамани
    </h2>
    <div class="mt-10 flex w-full justify-center">
      <iframe
        width="480"
        height="270"
        src="https://dzen.ru/embed/opUZN88QJAAA?from_block=partner&from=zen&mute=0&autoplay=0&tv=0"
        allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media"
        data-testid="embed-iframe"
        frameborder="0"
        scrolling="no"
        allowfullscreen></iframe>
    </div>
  </div>
</Layout>
