---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Наставления Сарахи">
  <section class="main-container">
    <h1 class="mainTitle">Наставления великого йогина Сарахи ученику</h1>
      <div class=" mx-2 mt-5 ">
        <div class="my-7 lg:my-10 flex flex-col gap-3 font-light">
          <p class="w-full text-center">БУДЬ ВНИМАТЕЛЕН, НЕ ПЕРЕПУТАЙ:</p>
          <div><p class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>1</p> Самодовольство, гордыню, надменность и самомнение можно принять за божественную гордость, возникающую при созерцании.
            Будь внимателен, не перепутай!</div>
          <div><p class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>2</p> Потакание страстям-клешам и отсутствие самодисциплины можно принять за практику спонтанного всепринятия без выбора, безупречно ведущую к «единому вкусу».
            Будь внимателен! </div>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>3</span> Незрелую привязанность к личности Учителя можно принять за подлинную преданность и Гуру-йогу, дарующую благословение ума всех святых и сиддхи.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>4</span> Ограниченное высокомерие и сектантскую замкнутость можно принять за безупречное соблюдение тайн и принципов самайи, желание сохранить чистоту и уважение к Учению.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>5</span> Инертное пребывание в безмыслии, наполненное небольшим блаженством, можно принять за подлинное пустотное самадхи, освобождающее от рождения и смерти.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>6</span>  Слепое формальное следование правилам дисциплины, одержимость обетами без понимания их духа можно принять за безкомпромиссность в практике Дхармы, присущую святым древности.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>7</span> Ум, который заклинило в оцепенелом безмыслии в результате длительной медитации покоя, можно принять за глубокое состояние сахаджа-самадхи, дающее истинную свободу.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>8</span> Поглощенность собственной ясностью, возникающую из-за неуклонного созерцания «Я есмь» в долгом ритрите, легко принять за непрерывное поддержание присутствия.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>9</span> Препятствия, возникающие в сновидениях от тайноredры у йогинов с малыми заслугами, можно принять за благословение Гуру и святых сиддхов.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>10</span> Поглощенность сансарными делами и мирскими заботами вследствие отвлечения и цепляний к этой жизни, можно легко спутать со спонтанной просветленной лилой – игрой своими качествами на благо других.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>11</span> Напряженное поддержание мысленных конструкций, сужающее ум до скорлупы, можно спутать с безусильным созерцанием, подобным небу, опирающимся на тонкое намерение – санкальпу.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>12</span> Жонглирование цитатами из священных книг и чужими словами о реализации, подобное попытке насытится едой, видимой в зеркале, легко спутать с подлинной ясностью, возникающей в результате личного опыта самадхи и практики созерцания.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>13</span> Незрелую захваченность внутренними состояниями и ребячливое желание самовыражения можно принять за просветленное вдохновение и игру на благо других, присущие сиддхам.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>14</span> Желание безцельно бродить туда-сюда из-за неспособности к самодисциплине, отсутствия гибкости и неуживчивого характера легко можно спутать со спонтанным танцем святого авадхуты, который подобен облаку или сухому листу.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>15</span> Незрелое бегство от мирских трудностей в надежде жить спокойной монастырской беззаботной тихой жизнью
            легко принять за глубокое подлинное отречение от всех забот и дел этой жизни ради обучения в школе Мастера и высшего Освобождения.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>16</span> Заурядного человека, обольщенного демонами и потерявшего трезвость рассудка, легко спутать со святым безумцем-авадхутой, опьяненным Богом.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>17</span> Начитанного выскочку, пару раз побывавшего в Индии, умеющего жонглировать цитатами из текстов и повторяющего слова из священных книг, легко принять за подлинного духовного Учителя, благословленного богами и сиддхами, того, кто опирается на личный внутренний опыт самадхи.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>18</span> Скукоженность ума и обусловленность концепциями, происходящие от застывших представлений-стереотипов, неспособности быть в неконцептуальной осознанности за рамками теорий и слов, легко спутать с уважением к Учению и поддержанием линии передачи.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>19</span> Слепое подражание словам Учителя без понимания смысла, незрелое копирование его действий легко спутать с подлинным обучением и уважением к Учителю и Учению.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>20</span> Юношескую жажду приключений и поиск экзотики в «ашрамах», желание найти Учителя потому, что об этом говорят другие, можно принять за искреннее стремление к Освобождению от круга рождения-смерти.
            Будь внимателен!</p>
          <p><span class='bg-red-600 dark:bg-amber-600 size-6 inline-flex justify-center items-center p-1 rounded-full'>21</span> Цепляние за привычный образ жизни, поглощенность мирскими дхармами и удовольствиями, неспособность приложить настоящее усердие в практике легко принять за спонтанное всеприятие любого опыта, присущее авадхуте, и жизнь без выбора, присущую подлинному Мастеру.
            Будь внимателен! Не перепутай!</p>
        </div>
      </div>
  </section>
</Layout>