---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Неоадвайта"
  desc="О двенадцати видах поверхностного отношения, подстерегающих практиков недвойственных учений."
>
  <section class="main-container">
    <h1 class="mainTitle">Как не попасть в ловушку поверхностной Адвайты</h1>

    <div class="mx-2 mt-5 font-light">
      <p class="mt-5 indent-5 md:indent-10">
        Адвайта — это мощнейшее мировоззрение, я бы сказал, это самое мощное
        мировоззрение, которое может быть вообще во вселенной для человека или
        любого существа. Это учение практикуют не только люди, но и боги, асуры,
        сиддхи, риши, дакини и другие существа.
      </p>
      <p class="mt-5 indent-5 md:indent-10">
        И у каждой традиции есть свое особое понимание Пути. И я не имею ввиду
        только адвайта-веданту Шри Шанкарачарьи. Сюда можно отнести и
        тантрическую адвайту кашмирского шиваизма и адвайту тантрического
        шактизма, учения сиддхов-авадхутов традиции сахаджья, а также буддийские
        и бонские недвойственные учения. Все эти учения недвойственные и
        обладают огромной трансформирующей силой, даже когда просто их слышишь.
        Они быстро дают готовой душе сильную внутреннюю веру, ясность, радость,
        свободу и понимание. Они дают абсолютное видение, дают возможность
        увидеть краешком глаза, услышать краешком уха, коснуться дыхания
        Абсолюта. Однако есть и большой соблазн неверной, поверхностной
        трактовки воззрения адвайты и ошибочной опоры на подобные учения в
        относительной жизни. Когда это происходит, мы называем это «нигилизмом»
        — формой заблуждения, ошибочного понимания. В чем это может проявиться?
      </p>
      <div class="mt-5 flex flex-col gap-3">
        <p>Например, когда мы под предлогом воззрения адвайты:</p>
        <div>
          <p
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
          >
            1
          </p> Отрицаем важность Бога, Божественной милости и благодати (ануграха
          шакти), веры, преданности, прибежища, гуру, парампары и традиции.
        </div>
        <div>
          <p
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
          >
            2
          </p> Когда мы отвергаем закон кармы и необходимость накопления заслуг (саттвической
          энергии) через богослужения, раскаяние, анализ, хорошее поведение, поклонение,
          паломничества, совершение подношений, пожертвований, служение святым и священным
          объектам, таким как дхарма и сангха.
        </div>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >3</span
          > Отвергаем важность зарождения желания Освобождения, «мумукшуттвы», постоянной
          личной садханы, приложения усилия, тапаса, самодисциплины, умеренной или
          аскетичной жизни, проведения длительных затворов.
        </p>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >4</span
          > Отвергаем принятие духовных авторитетов, важность дикши, обучения у гуру,
          связи гуру-ученик, самаи, благодатной силы гуру-таттвы.
        </p>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >5</span
          > Отвергаем важность обучения, опоры на священные тексты, возможность нисхождения
          благодати через священные тексты (шастра-крипа) и переоцениваем опору только
          на внутренние опыты.
        </p>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >6</span
          > Отвергаем постепенное восхождение по духовному Пути через ежедневную практику.
        </p>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >7</span
          > Отвергаем божественную иерархию, например, более высокое положение богов,
          риши, сиддхов, святых.
        </p>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >8</span
          > Отвергаем возможность понимания знаков продвижения по духовному Пути и
          проверки их.
        </p>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >9</span
          > Отвергаем духовную эстетику, важность атмосферы, коллективные ритуальные
          практики, поклонение и любые внешние формы практики, хорошо помогающие начинающим.
        </p>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >10</span
          > Отвергаем важность хорошей компании (садху, сангха), общинную жизнь, сотрудничество,
          ашрамы, храмы, статусы и уклады жизни, эффективно помогающие нам на Пути;
          пренебрежительно относимся к санньяси, к монашеской жизни в целом, вместо
          уважения.
        </p>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >11</span
          > Отвергаем важность самаи, любви, сострадания, духовную этику, важность
          воспитания и очищения души через поклонение, паломничества, покаяние, смирение,
          служение и выработку качеств садху.
        </p>
        <p>
          <span
            class="inline-flex size-6 items-center justify-center rounded-full bg-red-600 p-1 text-gray-200 dark:bg-amber-600 dark:text-gray-800"
            >12</span
          > Отвергаем какую-либо возможность изменить внешние условия на более полезные
          для духовной жизни, считая, что одного недвойственного воззрения достаточно.
        </p>
      </div>
      <p class="mt-5 indent-5 md:indent-10">
        Если мы все это отвергаем просто под предлогом того, что это якобы не
        имеет отношения к самой адвайте, это означает, что нам не удалось понять
        точку зрения святых и мы запутались в воззрении адвайты, вернее, не в
        самом воззрении, а в том, как его правильно и с пользой применять в
        конкретно нашей жизни.
      </p>
      <p class="mt-5 indent-5 md:indent-10">
        Итак, если вы знаете это и помните эти наставления, вы сможете избежать
        эти нигилистические ловушки.
      </p>
      <p class="mt-5 text-right">
        Из сатсанга Шри Гуру Свами Вишнудевананда Гири Махараджа
      </p>
    </div>
  </section>
</Layout>
