---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Расширение сознания"
  desc="От сознания жертвы до состояния божества, творящего реальность"
>
  <section class="main-container">
    <h1 class="mainTitle">Расширение сознания</h1>
    <h2 class="w-full text-center font-semibold">
      От сознания жертвы до состояния божества, творящего реальность
    </h2>
    <div class="mt-7 font-light">
      <h3 class="w-full text-center font-medium">1. СОЗНАНИЕ ЖЕРТВЫ</h3>
      <p class="mt-5">
        Мир несправедлив... Меня не ценят... Меня никто не любит... Прочему со
        мной так несправедливо обошлись?... За что так со мной? Я столько
        вкладывал(а) в отношения а меня так обманули... Это он(она) виноват(а)
        во всем... Если бы не тот человек в моей жизни все было бы иначе... Вот
        такой я человек, ничего не поделать... Вот такая моя плохая карма,
        ничего не поделаешь... Во всем виноваты ( инопланетяне, вредящие духи,
        корпорации, олигархи, чиновники, и т. д.) это они не дают мне хорошо
        жить...
        <br /><br />
        Вам знаком ход таких мыслей, такой настрой , такое мироощущение?
        <br /><br />
        Это сознание жертвы сансары, мироощущение человека-жертвы сансары. Жертвы
        неведения. Когда причина того, что происходит с вами , ищется не внутри. а
        снаружи. Человек в сознании жертвы сансары остро ощущает страдания, но не
        понимает их изначальную, первичную причину и приписывает их внешним, вторичным
        причинам.
        <br /><br />
        Он не различает первичную базовую причину и вторичные , ситуативные причины.
        Это подобно тому, как рассеянный человек теряет вещи из за своей невнимательности,
        но думает что кто то постоянно крадет его вещи и считает воображаемых воров
        причиной своих бед.
        <br /><br />
        Человек - жертва сансары не может вообще добиться какого либо успеха на пути,
        не говоря уже о Просветлении, Освобождении. Он сильно верит в сансару и в
        свою пассивную роль жертвы в ней. Он идентифицирует себя как пассивный объект
        , которым вертит карма, на которого влияют другие люди, обстоятельства, и
        неведомые силы судьбы. Он не верит в свой божественный потенциал и не знает
        как его использовать, даже если он считает себя практикующим, йогом, верующим.
        Он не имеет воли. Или не знает куда ее направить.
        <br /><br />
        Человек с сознанием "жертвы сансары" может делать асаны, читать мантры, медитировать,
        пробовать созерцать , создавать карты желаний и заниматься религиозной или
        светской визуализацией в надежде что это поможет. Но это не сработает, потому
        что все это делается из того же сознания жертвы сансары. Это сознание "жертвы
        сансары" - это и есть эго, мешающее на духовном пути. И здесь надо в корне
        менять сам подход, сами фундаментальные настройки своей картины мира и способы
        своего мышления..
      </p>
    </div>
    <div class="mt-7 font-light">
      <h3 class="w-full text-center font-medium">
        2. МИР - ЭТО МАГИЧЕСКАЯ СЕТЬ ИНДРЫ
      </h3>
      <p class="mt-5">
        Первое, что надо осознать - мир - он не грубый и не материальный , он
        целиком состоит из сознания. Сознания Абсолюта, Шивы. Его называют Чит
        или Чайтанья. Чит - это чистое сознание лежащее в основе мироздания.
        Чайтанья указывает, что оно живое, оно слышит, разумное, нас, оно
        откликается.
        <br /><br />
        Все что в есть в этом мире, - это все сознание, состоит из сознания. И наше
        сознание формирует свое окружение своим вибрациями. В шиваизме это называется
        "спанда". Какие вибрации излучаем такой и мир вокруг нас. Мир таков потому
        что ваше сознание таково. Мы видим мир не таким как он есть а таким каковы
        мы сами. Это называется "лока-дришти", кармическое видение. Мир не враг, он
        - наше зеркало. Он -отражение нашего способа видеть, смотреть и думать. Ситуации
        , люди, события вокруг вас таковы, потому что ваше сознание, как магнит их
        притягивает.
        <br /><br />
        "Где и что сознание задумывает то там и проявляется" - говорит риши Васиштха
        в Йога Васиштхе.
        <br /><br />
        "Вселенная становится такой , какой ты задумываешь ее в мыслях"- говорит Даттатрея
        в Трипура Рахасье.
        <br /><br />
        Мы живем не в грубом, материальном а в магическом, квантово-вероятностном
        мире, на который влияет факт нашего наблюдения его, хотя и в слабой степени.
        Мир вокруг и наше собственное сознание- всегда взаимосвязаны, хоть это не
        видно явно. Весь этот мир-волшебная, магическая сеть Индры. Фрактал. В ней
        все взаимосвязано, все взаимозависимо, и все взаимо-проникает.("сарвам-сарваатмакам").
        <br /><br />
        Ученые наконец-то подтвердили все это, то что и так знали все древние мистики,
        йоги, маги, колдуны, шаманы. А значит, многое зависит от вашего сознания.
        И от того, как мы развиваем сознание -зависит каким будет мир, в котором мы
        живем.
      </p>
    </div>
    <div class="mt-7 font-light">
      <h3 class="w-full text-center font-medium">3. УПРАВЛЕНИЕ РЕАЛЬНОСТЬЮ</h3>
      <p class="mt-5">
        Это означает, что наше сознание, как часть Вселенской реальности,
        участвует в ее созидании. Что реальность может быть управляема. Что от
        нас в этом мире кое что зависит. По крайней мере события и потоки вокруг
        нас сильно зависят от нас.
        <br /><br />
        Тогда, если наша реальность не физическая, а магическая, то она может быть
        программируема. Управляема. Реальность снаружи - это такое же сознание как
        и внутри. Мы можем научиться управлять реальностью, управляя своим сознанием.
        <br /><br />
        Сознанием можно и нужно управлять Если это так, то вывод - надо учиться управлять
        этим миром через управление своим сознанием. Надо попытаться из жертвы сансары
        стать ее программистом. Научиться постоянно излучать из своего сознание намерение,
        программы(санкальпы), управляющие этой сансарой и сделать свою жизнь и судьбу
        лучше.
      </p>
    </div>
    <div class="mt-7 font-light">
      <h3 class="w-full text-center font-medium">4. ПРИНЦИП ВИБРАЦИЙ</h3>
      <p class="mt-5">
        Эта "магическая Сеть Индры", магическая Вселенная, состоящая из
        сознания, она-живая, она откликается не на наши желания, мысли,
        визуализации, буквальные молитвы, она слышит частоту вибраций нашего
        сознания.
        <br /><br />
        Каждый из нас - излучатель, генератор вибраций определенной частоты. Каково
        излучение вашего сознания то и притягивается. в вашу жизнь. Излучающий вибрации
        бедности и дефицита притягивает ситуации бедности и нехватки.
        <br /><br />
        Излучающий вибрации неискренности попадает в поле, где другие неискренны с
        ним. Излучающий вибрации гармонии и любви притягивает ситуации гармонии и
        любви. Излучающий вибрации воинственности , агрессии притягивает ссоры, конфликты,
        войны. Тот, кто лжет попадает в ситуации обмана, неясности, запутанности.
        <br /><br />
        В дхармических религиях все это известно издревле и называется кармой. Здесь
        на первом месте важны не ваши поступки и даже не мысли, а ваши вибрации, ваше
        внутреннее мироощущение, оно и проецирует мир вокруг вас.
        <br /><br />
        С вами будет происходить именно то, что вы излучаете изнутри. Ваша Реальность
        следует за вашим внутренним состоянием. Ваша судьба, окружение-следствие ваших
        устойчивых внутренних вибраций, долгосрочных внутренних состояний.
        <br /><br />
        Значит, надо:<br /> 1. Принять ответственность за те вибрации которые вы сами
        излучаете<br /> 2. Учиться управлять своими вибрациями<br /> 3. Повышать персональную
        частоту вибраций.<br /> В этом суть и духовной практики Освобождения и суть
        магического оперирования реальностью.
      </p>
    </div>
    <div class="mt-7 font-light">
      <h3 class="w-full text-center font-medium">5. ПРИНЦИП ВНИМАНИЯ</h3>
      <p class="mt-5">
        Пятый принцип, который надо осознать, что управление происходит через
        внимание. Сейчас в инфо-поле даже появилось такое понятие "экономика
        внимания". Закон внимания гласит, "то, на что направлено внимание" -
        туда и двигается наш мир вокруг.
        <br /><br />
        Внимание определяет частоту вашего сознания. Куда наше внимание то начинает
        разворачиваться. Наше внимание управляет нашими вибрациями. Значит надо принять
        ответственность за свое внимание , также как мы приняли осознали важность
        ответственности за свои вибрации в предыдущей главе.
        <br /><br />
        Наше текущее внимание ежесекундно управляется микровыборами. Наше долгосрочное
        внимание управляется нашей долгосрочной волей. Управление вниманием и направление
        его на нужны объекты, отсечение лишних, ненужных объектов это суть и духовной
        практики как Освобождения так и магического оперирования, управления реальностью.
        <br /><br />
        <b>Наше внимание - вот что полностью находится в нашей власти.</b>
        <br /><br />
        Тот, кто управляет вниманием может менять свои вибрации. Меняя вибрации, можно
        притягивать вероятности одних событий и удалять вероятности других.
        <br /><br />
        Можно, сосредоточив свое внимание на нужных вариантах событий, активировать
        те ветки или варианты магической реальности, которые ведут к счастью, исполняют
        желания, даруют силы и благословения, ведут к Освобождению, и дистанцироваться
        от тех вариантов магической реальности, где есть неведение, ограничения и
        страдания.
        <br /><br />
        Поэтому йог-садху - это тот, кто постоянно тренируется управлять вниманием,
        джняни - тот, кто хорошо умеет им управлять внутри себя, и через управление
        вниманием достиг просветления. А сиддх - это тот , кто программирует реальность,
        управляет и внешней и внутренней реальностью через совершенное управление
        своим вниманием.
      </p>
    </div>
    <div class="mt-7 font-light">
      <h3 class="w-full text-center font-medium">
        6. ПРИНЦИП ВЫБОРА СВОЕГО СОСТОЯНИЯ (БХАВЫ)
      </h3>
      <p class="mt-5">
        Теперь, когда мы поняли принцип вибрации и внимания который ею управляет
        мы можем менять наши вибрации, меняя свое внутреннее состояние, бхаву.
        Вселенная не слушает наши желания, она считывает устойчивую и постоянную
        частоту ума- нашу бхаву. Реальность создается не нашими желаниями, а
        тем, чем мы внутри являемся.
        <br /><br />
        Теперь мы понимаем, что надо не бороться с внешними событиями, а менять свои
        состояния. Управляя вниманием, мы можем сами выбирать благоприятные, чистые,
        блаженные, божественные, свободные, внутренние состояния сознания, в которых
        мы хотим быть и которые ведут нас к свободе, счастью, мудрости и целостности,
        Освобождению, и избавляться от тех состояний, которые нам не нужны.
        <br /><br />
        Мы сами теперь решаем и определяем в каких состояниях сознания нам следует
        быть, а в каких - не следует. Словно мы перехватили управление собой у кармы
        и эго и взяли в руки штурвал своего корабля Я или рычаги управления своей
        жизнью.
        <br /><br />
        Мы все это решаем и выбираем с помощью внимания. Процесс намеренного и методического
        культивирование определенного состояния сознания называется «бхавана». А метод
        с помощью которого мы делаем это санкальпа (намерение). С помощью санкальпы
        мы намеренно поддерживаем и взращиваем нужные нам состояния сознания(бхавана).
        <br /><br />
        И тогда наша бхава, внутреннее мироощущение -меняется. И если мы управляем
        вниманием с помощью концентрации, дхараны, санкальпы или мантры или иным способом,
        то мы сами принимаем ответственность за свои текущие бхаваны и за свое мироощущение
        в общем (бхаву). Бхавана любви, сострадания или божественности, практикуемая
        длительное время через метод может реально изменить наше мироощущение-бхаву.
        И главным элементом здесь является наше внимание.
        <br /><br />
        Поддерживая внимание мы ежесекундно делаем микровыборы в ту или иную сторону.
        Переключая внимание, мы переключаем и меняем собственное внутреннее состояние.
        Меняя собственное внутреннее состояние, мы изменяем частоту своих вибраций,
        свой уникальный посыл в безбрежный Океан Всевышнего сознания, в универсум,
        в сознание Вселенной. И Бесконечное, всеведающее сознание Абсолюта, Универсума(
        чайтанья, самвит) откликается на наш посыл, на наши уникальные вибрации, перемещая
        нас в те или иные варианты реальности, материализуя те или иные сценарии и
        цепочки событий.
        <br /><br />
        Теперь больше нет смысла на кого-либо жаловаться или обижаться, теперь мы
        сами ответственны за ту реальность в которой мы живем и за нашу судьбу. Мы
        покинули детское бытие, не умеющее управлять вниманием, внутренним состоянием
        и внешней реальностью. Для нас открылась возможность магического оперирования.
        Мы осознали, что можно быть не жертвой сансары, а ее программистом. Теперь
        можно привлечь в свою жизнь те вибрации и состояния, которые нам нужны и отвратить
        те, которые нам не нужны и мешают. Можно управляя вниманием, менять свое состояние
        и изменять свои вибрации на божественные. Например, через мантру или памятование
        божества(смарана) , через созерцательные методы.
        <br /><br />
        <b class="italic">Гуру Свами Вишнудевананда Гири Махарадж</b>
      </p>
    </div>
  </section>
</Layout>
