---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Притча: я заварил чай">
  <section class="main-container">
    <h1 class="mainTitle">Притча: я заварил чай</h1>

    <div class="mx-2 mt-5 font-light">
      <p class="mt-5">
        — Учитель! Я заварил чай. <br />— Кто заварил чай? <br />— А, ну да, чай
        заварился. <br />— Нет-нет, не уходи. Ты должен понять. Кто заварил чай?
        Чтобы это произошло, нужен был чай. Чай попал к тебе в чайник из пакета,
        который мы приобрели у торговца на рынке. Этот торговец купил его в
        оптовом складе, а туда он попал с плантации на юге Китая. Эту плантацию
        выращивает кто? <br />— Китайские крестьяне. <br />— Только ли? Они
        ухаживают за землей, подводят полив, но основную работу делает солнце и
        вода, углекислый газ, кислород и земля со своими минералами. Чтобы чай
        появился здесь, нужно огромное количество взаимозависимых причин. <br
        />— Да, но заварил-то чай я, а не солнце и не крестьянин. <br />— Не
        торопись. Если бы не крестьянин и солнце - разве ты смог это сделать? <br
        />— Нет, но это не значит, что они это сделали, а не я. <br />— Не
        значит. Но это значит, что заваривание чая также зависело от
        крестьянина, солнца, торговца и множества других причин. <br />—
        Пожалуй. <br />— Теперь вот что, ты ли заварил чай, или это сделал
        кипяток из чайника? <br />— Я поставил чайник на огонь, огонь нагрел
        воду, а я залил чай этой водой. <br />— Ты видишь, что без огня, воды и
        чайника, который любезно предоставил тебе свое тело для этого ритуала,
        ты бы ничего не заварил? <br />— Да. <br />— Ты уже видишь, сколько
        работы совершила вселенная, для того чтобы заварился чай? А ведь мы еще
        только начали. Где ты взял воду? <br />— В ручье. <br />— И? <br />— Он
        участвует в заваривании чая? <br />— Хе-хе-хе. <br />— А в ручье вода из
        гор, а в горах из дождей, а в дождях из облаков, а в облаках из океана.
        Ого. <br />— Хе-хе. Продолжай, не останавливайся. <br />— Да, я понимаю,
        что вся вселенная участвует в заваривании чая, не только я. Я ведь очень
        мал, по сравнению со вселенной, поэтому можно сказать, что чай
        заварился, потому что моим действием можно фактически пренебречь. <br
        />— О, нет! Не надо пока пренебрегать твоим действием. Исследуй свое
        действие! Ты говоришь: "Я заварил чай". Но что ты сделал? Что сделал
        именно ты? <br />— Ну как, что сделал? Взял чайник с плиты и залил воду
        в заварник. <br />— Это сделал ты? Давай рассмотрим это внимательно. Ты
        напрягал все свои мышцы в правильном порядке, чтобы налить кипяток точно
        в заварник, а не себе на голову? <br />— Я напрягал, конечно. <br />—
        Это забавно. Ха-ха! Как ты делал это? <br />— Не знаю - я научился этому
        в детстве. <br />— Отлично. Ты учился посылать импульсы по нейронам? Ты
        учился высвобождать энергию в клетках мышц, приказывая каждой
        митохондрии заниматься восстановлением АТФ при помощи расщепления и
        окисления глюкозы? Ты открывал и закрывал в каждой клетке ионные и
        метаботропные каналы, перекачивая калий и натрий в обе стороны,
        заставляя себя дышать, заставляя ритмично биться сердцу, заставляя
        эритроциты переносить кислород в эти мышцы? Что там еще происходит в
        этом теле, ты все это делаешь? Ты регулируешь давление? Ты сам себе
        говоришь, что ты голоден или хочешь спать? Ты меняешь уровень сахара в
        крови? Как ты успеваешь? Ах, я съел большой кусок торта - прикажу-ка
        своей поджелудочной железе выпустить побольше инсулина - так, да? <br
        />— Это все происходит автоматически. <br />— Все происходит. Все просто
        происходит. Чай заварился. <br />— Да, но ведь я отдал указание своему
        телу это сделать.
        <br />— Допустим. И как ты отдал указание? <br />— Я решил заварить чай
        и зава... <br />— Стоп. Ты себе нагнал эту мысль каким-то способом, что
        нужно заварить чай? Или ты ее обнаружил в себе? <br />— Ко мне пришла
        мысль, что ча… <br />— Стоп. К тебе она пришла? <br />— Пришла, но ведь
        ко мне? То есть она моя? <br />— Ах твоя? То есть ты хозяин мыслям, да?
        Ну тогда садись, и смотри на точку 48 минут, не моргая. Если ты хозяин
        своим мыслям, а они хозяева тела - просто сядь и смотри. В чем проблема?
        Ноги болят? Глаза слезятся? Ты же хозяин - прикажи чтоб не болели, чтоб
        не слезились. Прикажи своему волосу выпасть из башки. Прикажи себе не
        думать. Прикажи себе увидеть Атман. <br />— Неужели даже чай я не могу
        заварить? <br />— Даже Брахма не может чай заварить. Если это ясно с
        чаем - посмотри на все остальные действия. Есть кто-то, кто все это
        делает? <br />— Я понял. События происходят. Дела делаются. <br />—
        Хе-хе-хе. Теперь иди, медитируй, и не думай, что это ты медитируешь -
        кто медитирует?
      </p>
    </div>
  </section>
</Layout>
