@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* @import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite"; */

@font-face {
  font-family: "Izmir";
  src: url("../../public/fonts/dsizmir_normal.ttf");
}

.izmir {
  font-family: "Izmir", sans-serif;
}

@font-face {
  font-family: "Jaipur";
  src: url("../../public/fonts/jaipur.ttf");
}

.jaipur {
  font-family: "Jaipur", sans-serif;
}

/*! Dark Mode */
html {
  --background-color: white;
  --text-color: black;
  color: var(--text-color);
  background-color: var(--background-color);
}
.dark {
  --background-color: #1d293d;
  --text-color: #fef3c6;
}

/* [data-theme='dark'] {
  --background-color: #1d293d;
  --text-color: white;
} */

/* @theme {
  --color-body: var(--color-stone-600);
  --color-body-subtle: var(--color-stone-500);

  --color-heading: var(--color-stone-900);

  --color-fg-brand-subtle: var(--color-stone-200);
  --color-fg-brand: var(--color-stone-950);
  --color-fg-brand-strong: var(--color-stone-900);

  --font-sans:
    'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui',
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body:
    'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui',
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas',
    'Liberation Mono', 'Courier New', 'monospace';
} */

.main-container {
  @apply mx-auto min-h-screen max-w-6xl rounded-md border border-gray-300 bg-amber-50 px-2 py-4 dark:border-slate-700 dark:bg-slate-800;
}
/* .main-container::after {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  background: url(/src/assets/gold/corner.png) no-repeat top;
  height: 81px;
  width: 67px;
} */

.mainTitle {
  @apply text-center text-xl font-medium text-red-500 md:my-2 md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl dark:text-amber-600;
}

.my-button {
  @apply rounded-md border border-red-500 text-red-500 hover:bg-red-500 hover:text-white dark:border-amber-500 dark:text-amber-600 dark:hover:bg-amber-600 dark:hover:text-amber-100;
}

.rutube {
  @apply h-56 w-full rounded-md sm:h-60 md:h-96 lg:h-100 xl:h-120 2xl:h-160;
}

/* .my-button:hover {
  background-color: #fb2c36;
  color: white;
} */

/*! GRID CALENDAR */
.grid-item-dn {
  @apply flex flex-col items-center justify-center gap-1 rounded-lg bg-red-300 p-1 text-xs font-light text-red-800 md:text-sm lg:flex-row lg:text-base xl:text-lg;
}
.grid-item {
  @apply flex flex-col justify-between rounded-lg bg-red-100 p-1 text-center;
}
.grid-item-2 {
  @apply flex h-20 flex-col justify-between rounded-lg bg-red-100 p-1 text-center;
}
.grid-item-rasp {
  @apply flex flex-col items-center justify-center gap-1 rounded-lg p-1 text-[0.4rem] md:text-xs;
}
.grid-item-rasp-2 {
  @apply row-span-4 flex max-w-60 flex-col items-center justify-center gap-1 rounded-lg p-1 text-[0.4rem] md:text-xs;
}
.grid-item-time {
  @apply flex items-center rounded-lg bg-red-300 p-1 text-[0.4rem] font-bold text-indigo-800 sm:text-xs md:text-sm lg:text-base xl:text-lg;
}
.grid-item-none {
  @apply flex rounded-lg bg-red-50 p-1 text-center text-xs;
}
.grid-date {
  @apply w-full text-end text-xs font-bold text-indigo-800 md:text-sm lg:text-base;
}
.grid-meditation {
  @apply hidden rounded-md bg-indigo-200 px-1 text-[0.4rem] text-indigo-800 2xl:text-xs;
}
.grid-meditation-mobile {
  @apply block size-6 rounded-md border border-indigo-200 bg-indigo-100 object-cover text-sm text-indigo-800 md:size-7 lg:size-8 xl:size-10;
}

/*! АЛТАРЬ */
.fixAltar {
  @apply fixed top-0 left-0 z-50 w-full 2xl:px-48;
}
.marginTop {
  @apply mt-52 md:mt-108 lg:mt-120;
}

/*! COLLAPSE */

.details,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .details {
  display: block;
}

/*! УПАСАНА */
.u-collapse {
  @apply mx-auto flex max-w-2xl flex-col;
}
.u-summary {
  @apply mt-5 mb-2 w-full cursor-pointer rounded-md bg-amber-100 p-2 text-xl md:mt-7 md:text-2xl lg:mt-10 dark:bg-slate-700;
}
.u-collapse-aria {
  @apply flex w-full flex-col justify-center gap-5 rounded-md bg-amber-50 p-2 dark:bg-slate-700;
}

.u-title {
  @apply mt-5 mb-2 w-full text-xl font-bold text-red-500 md:mt-7 md:text-2xl dark:text-amber-600;
}
.u-text {
  @apply text-sm font-light lg:text-base;
}
.u-shloka {
  @apply font-semibold text-black dark:text-amber-500;
}

.u-jay {
  @apply italic;
}
