@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
/* @import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite"; */

@font-face {
  font-family: 'Izmir';
  src: url('../../public/fonts/dsizmir_normal.ttf');
}

.izmir {
  font-family: 'Izmir', sans-serif;
}

@font-face {
  font-family: 'Jaipur';
  src: url('../../public/fonts/jaipur.ttf');
}

.jaipur {
  font-family: 'Jaipur', sans-serif;
}

/*! Dark Mode */
html {
  --background-color: white;
  --text-color: black;
  color: var(--text-color);
  background-color: var(--background-color);
}
.dark {
  --background-color: #1d293d;
  --text-color: #fef3c6;
}

/* [data-theme='dark'] {
  --background-color: #1d293d;
  --text-color: white;
} */

/* @theme {
  --color-body: var(--color-stone-600);
  --color-body-subtle: var(--color-stone-500);

  --color-heading: var(--color-stone-900);

  --color-fg-brand-subtle: var(--color-stone-200);
  --color-fg-brand: var(--color-stone-950);
  --color-fg-brand-strong: var(--color-stone-900);

  --font-sans:
    'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui',
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body:
    'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui',
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas',
    'Liberation Mono', 'Courier New', 'monospace';
} */

.main-container {
  @apply min-h-screen max-w-[90rem] px-2 mx-auto rounded-xs;
}

.mainTitle {
  @apply w-full text-center text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl md:my-2 text-red-500 dark:text-amber-600 font-medium;
}

.my-button {
  @apply border border-red-500 dark:border-amber-500 rounded-xs text-red-500 dark:text-amber-600
  hover:bg-red-500 dark:hover:bg-amber-600 dark:hover:text-amber-100 hover:text-white;
}

/* .my-button:hover {
  background-color: #fb2c36;
  color: white;
} */

/*! GRID CALENDAR */
.grid-item-dn {
  @apply text-xs md:text-sm lg:text-base xl:text-lg text-red-800 font-medium bg-red-300 p-1 rounded-lg flex flex-col items-center justify-center;
}
.grid-item {
  @apply text-center p-1 rounded-lg flex flex-col justify-between bg-red-100;
}
.grid-item-2 {
  @apply text-center p-1 rounded-lg flex flex-col justify-between bg-red-100 h-20;
}
.grid-item-rasp {
  @apply text-[0.4rem] md:text-xs p-1 rounded-lg flex flex-col gap-1 items-center justify-center;
}
.grid-item-rasp-2 {
  @apply max-w-60 row-span-4 text-[0.4rem] md:text-xs p-1 rounded-lg flex flex-col gap-1 items-center justify-center;
}
.grid-item-time {
  @apply text-[0.4rem] sm:text-xs font-bold md:text-sm lg:text-base xl:text-lg text-indigo-800 bg-red-300 p-1 rounded-lg flex items-center;
}
.grid-item-none {
  @apply text-center text-xs bg-red-50 p-1 rounded-lg flex;
}
.grid-date {
  @apply w-full text-end text-indigo-800 font-bold text-xs md:text-sm lg:text-base;
}
.grid-meditation {
  @apply hidden text-indigo-800 px-1 bg-indigo-200 rounded-md text-[0.4rem] 2xl:text-xs;
}
.grid-meditation-mobile {
  @apply block size-6 md:size-7 lg:size-8 xl:size-10 text-indigo-800 bg-indigo-100 border border-indigo-200 rounded-md text-sm object-cover;
}

/*! АЛТАРЬ */
.fixAltar {
  @apply fixed top-0 left-0 w-full 2xl:px-48 z-50;
}
.marginTop {
  @apply mt-52 md:mt-108 lg:mt-120;
}

/*! COLLAPSE */

.details,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .details {
  display: block;
}

/*! УПАСАНА */
.u-collapse {
  @apply max-w-2xl flex flex-col mx-auto;
}
.u-summary {
  @apply mb-2 mt-5 md:mt-7 lg:mt-10 text-xl md:text-2xl w-full cursor-pointer bg-amber-100 dark:bg-slate-700 p-2 rounded-md;
}
.u-collapse-aria {
  @apply w-full flex flex-col justify-center gap-5 p-2 rounded-md bg-amber-50 dark:bg-slate-700;
}

.u-title {
  @apply mb-2 mt-5 md:mt-7 text-xl md:text-2xl w-full font-bold text-red-500 dark:text-amber-600;
}
.u-text {
  @apply font-light text-sm lg:text-base;
}
.u-shloka {
  @apply font-semibold text-black dark:text-amber-500;
}

.u-jay {
  @apply italic;
}
