@import '~react-image-gallery/styles/css/image-gallery.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-base-content bg-white text-gray-700 dark:text-gray-200;
  }
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 100vh;
  border-radius: 0.5rem;
}

.font-geist-sans {
  font-family: var(--font-geist-sans);
}

.verySmallText {
  font-size: 0.45rem;
}
