@import '~react-image-gallery/styles/css/image-gallery.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-base-content bg-white text-gray-700 dark:text-gray-200;
  }
}

.rutube {
  @apply w-full h-56 sm:h-60 md:h-96 lg:h-[25rem] xl:h-[30rem] 2xl:h-[40rem] rounded-md;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 100vh;
  border-radius: 0.5rem;
}

.font-geist-sans {
  font-family: var(--font-geist-sans);
}

.verySmallText {
  font-size: 0.5rem;
}

/* GRID CALENDAR */
.grid-item-dn {
  @apply text-center text-xs md:text-sm lg:text-base xl:text-lg text-indigo-900 bg-red-300 p-1 rounded-lg font-bold;
}
.grid-item {
  @apply text-center text-xs bg-red-100 p-1 rounded-lg flex flex-col justify-between h-20;
}
.grid-item-rasp {
  @apply text-xs bg-red-100 p-1 rounded-lg h-10 flex items-center justify-center;
}
.grid-item-time {
  @apply verySmallText sm:text-xs font-bold md:text-sm lg:text-base xl:text-lg text-indigo-800 bg-red-300 p-1 rounded-lg h-10 flex items-center;
}
.grid-item-none {
  @apply text-center text-xs bg-red-50 p-1 rounded-lg flex h-20;
}
.grid-date {
  @apply w-full text-end text-indigo-800 font-bold text-xs md:text-sm lg:text-base;
}
.grid-meditation {
  @apply hidden text-indigo-800 px-1 bg-indigo-200 rounded-md verySmallText 2xl:text-xs;
}
.grid-meditation-mobile {
  @apply block h-6 w-6 text-indigo-800 bg-indigo-100 border border-indigo-200 rounded-md text-sm object-cover;
}
/* .grid-meditation-mobile {
  padding: 1px;
} */

/* АЛТАРЬ */
.fixAltar {
  @apply fixed top-0 left-0 w-full 2xl:px-48 z-50;
}
.marginTop {
  @apply mt-52 md:mt-[27rem] lg:mt-[30rem];
}

/* СУТРА */
.sutra-title {
  @apply mt-5 md:mt-7 lg:mt-10 xl:mt-20 text-xl md:text-2xl font-semibold text-center text-indigo-600 dark:text-indigo-300;
}

/* Садхана Даттатрее */
.datta-title {
  @apply mt-10 xl:mt-20 2xl:mt-24 mb-3 text-xl md:text-2xl font-semibold text-center text-indigo-600 dark:text-indigo-300;
}
