---
import Layout from "../../../layouts/Layout.astro";
import Altar from "../../../components/Altar.astro";
import Start from "../../../components/BhadjanMandala/Start";
import MahaAratiSmall from "../../../components/BhadjanMandala/MahaAratiSmall";
import PanchabrahmaMantry from "../../../components/BhadjanMandala/PanchabrahmaMantry";
import GuruYogaFull from "../../../components/BhadjanMandala/GuruYogaFull";
import Prarthana from "../../../components/BhadjanMandala/Prarthana";
import BhadjanyGuru from "../../../components/BhadjanMandala/BhadjanyGuru";
import ShantiMantra from "../../../components/BhadjanMandala/ShantiMantra";
import LekciyaGuru from "../../../components/BhadjanMandala/LekciyaGuru";
import Meditation4BSB from "../../../components/BhadjanMandala/Meditation4BSB";
import Finish from "../../../components/BhadjanMandala/Finish";
import Disclaimer from "../../../components/BhadjanMandala/Disclaimer";
import PosvyasheneiZaslug from "../../../components/BhadjanMandala/PosvyasheneiZaslug";
import { Icon } from "astro-icon/components";
---

<Layout title="Пуджа Гуру. Неделя 2.">
  <div class="main-container">
    <div class="flex items-center justify-center gap-1">
      <h1 class="mainTitle">Пуджа Гуру. Неделя 2</h1>
      <a href="/upasana/bm-guru/" class="">
        <Icon
          name="mdi:arrow-left-top"
          class="size-5 text-indigo-500 md:size-6 lg:size-8 dark:text-amber-400"
        />
      </a>
    </div>
    <div id="sutra"></div>
    <Altar />
    <Start client:visible />
    <MahaAratiSmall client:visible />
    <LekciyaGuru client:visible />
    <Prarthana client:visible />
    <PanchabrahmaMantry client:visible />
    <BhadjanyGuru client:visible />
    <GuruYogaFull client:visible />
    <ShantiMantra client:visible />
    <Meditation4BSB client:visible />
    <PosvyasheneiZaslug client:visible />
    <Finish client:visible />
    <Disclaimer client:visible />

    <div class="mt-10 flex w-full justify-center text-lg lg:mt-20">
      <a href="/upasana/bm-guru/">
        <Icon
          name="mdi:arrow-left-top"
          class="size-5 text-indigo-500 md:size-6 lg:size-8 dark:text-amber-400"
        />
      </a>
    </div>
  </div>
</Layout>
