---
import Layout from "../layouts/Layout.astro";
import Yanvar2026 from "../components/calendar/Yanvar2026.astro";
---

<Layout title="Календарь">
  <div class="main-container flex flex-col items-center">
    <h1 class="mainTitle">Календарь</h1>
    <Yanvar2026 />
  </div>
</Layout>
