---
import Layout from "../layouts/Layout.astro"
import Decabr2025 from "../components/calendar/Decabr2025.astro"
---

<Layout title="Календарь">
  <div class="main-container flex flex-col items-center">
    <h1 class="mainTitle">Календарь</h1>
  <Decabr2025/>
      
  </div>
</Layout>