---
import Layout from "../layouts/Layout.astro";
import Yanvar2026 from "../components/calendar/Yanvar2026.astro";
import Container from "../layouts/Container.astro";
---

<Layout title="Календарь">
  <Container>
    <div class="flex flex-col items-center">
      <h1 class="mainTitle">Календарь</h1>
      <Yanvar2026 />
    </div>
  </Container>
</Layout>
