---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import namasteRed from "../assets/namaste/namaskar.webp";
import namasteWhite from "../assets/namaste/namaskar_white.png";
import Container from "../layouts/Container.astro";
---

<Layout title="Поддержите нас">
  <Container class="main-container flex flex-col items-center">
    <h1 class="mainTitle">Поддержите нас</h1>
    <div
      class="flex flex-col items-center justify-center font-light dark:text-gray-300"
    >
    </div>
    <div class="mt-10">
      <p>
        Московский Дхарма Центр «Шакти Ма» развивается благодаря подношениям
        практикующих.
      </p>
      <p class="mt-5">Подношения направляются на:</p>
      <p>- Аренду зала</p>
      <p>- Организацию семинаров и ретритов</p>
      <p>- Подношения для ашрамов и монахов</p>
      <p class="mt-5">Вы можете поучаствовать и поддержать наш Дхарма центр.</p>
    </div>
    <div class="mx-2 mt-20">
      <div
        class="my-2 flex items-center justify-center text-xl text-red-500 dark:text-amber-500"
      >
        <h2 class="mr-2 font-semibold">На карту T-bank</h2>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 48 48"
          class="text-amber-400"
        >
          <path
            fill="#f44336"
            d="M34 9c-4.2 0-7.9 2.1-10 5.4C21.9 11.1 18.2 9 14 9C7.4 9 2 14.4 2 21c0 11.9 22 24 22 24s22-12 22-24c0-6.6-5.4-12-12-12"
          ></path>
        </svg>
        <!-- <BsFillPostcardHeartFill /> -->
      </div>
      <p>по номеру телефону +79163898998 Олана Р.</p>
      <p>Просьба прислать скрин или чек с указанием платежа</p>
      <p>
        <a
          href="whatsapp://send?phone=+79163898998"
          target="_blank"
          rel="noreferrer"
          class="text-indigo-700 hover:underline dark:text-amber-400"
          >whapsapp</a
        >
        <span> или </span>
        <a
          href="https://t.me/OlanaDevi"
          target="_blank"
          rel="noreferrer"
          class="text-indigo-700 hover:underline dark:text-amber-400"
          >telegram
        </a>
      </p>
    </div>

    <div
      class="mt-20 flex w-full flex-col items-center justify-center gap-5 xl:mt-40"
    >
      <Image
        src={namasteRed}
        alt="Namaste"
        format="avif"
        loading="lazy"
        decoding="async"
        class="block w-32 dark:hidden"
      />
      <Image
        src={namasteWhite}
        alt="Namaste"
        format="avif"
        loading="lazy"
        decoding="async"
        class="hidden w-32 dark:block"
      />
      <p class="text-xl font-bold text-red-500 dark:text-gray-300">
        N A M A S T E
      </p>
    </div>
  </Container>
</Layout>
