---
import Layout from "../layouts/Layout.astro";
import MainHero from "../components/MainHero.astro";
import Hero2 from "../components/Hero2.astro";
import NashGuru from "../components/NashGuru.astro";
import NasahTradiciya from "../components/NasahTradiciya.astro";
import BannerYogaPuja from "../components/BannerYogaPuja.astro";
import Mdc from "../components/carousel/Mdc";
import Container from "../layouts/Container.astro";
import DharmaCentr from "@/components/DharmaCentr.astro";
import BannerSeminar from "@/components/BannerSeminar.astro";
import MDC from "@/components/MDC.astro";
---

<Layout title="ШактиМа">
  <Container class="main-container">
    <div class="flex flex-col gap-10 lg:gap-20">
      <MainHero />

      <Hero2 />

      <NashGuru />

      <NasahTradiciya />

      <BannerSeminar />

      <BannerYogaPuja />

      <MDC />
    </div>
  </Container>
</Layout>
