---
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="События">
  <Container class="main-container flex flex-col items-center">
    <h1 class="mainTitle">События центра</h1>
    <a href="/mdc-events/seminar">Семинар</a>
  </Container>
</Layout>
