---
import Layout from "../layouts/Layout.astro";
---

<Layout title="События">
  <div class="main-container flex flex-col items-center">
    <h1 class="mainTitle">События центра</h1>
    <a href="/mdc-events/seminar">Семинар</a>
  </div>
</Layout>
