---
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";
import RaspisanieZanyatii from "../components/RaspisanieZanyatii.astro";
---

<Layout title="Расписание">
  <Container class="main-container">
    <div class="flex flex-col items-center">
      <RaspisanieZanyatii />
    </div>
  </Container>
</Layout>
