---
import Layout from "../../../layouts/Layout.astro";
import AshtalaksmiStotra from "../../../components/BhadjanMandala/AshtalaksmiStotra";
---

<Layout title="Ашталакшми Cтотра">
  <section class="main-container">
    <AshtalaksmiStotra client:visible />
  </section>
</Layout>
