---
import Layout from "../../../layouts/Layout.astro";
import BhadjanyDattatree from "../../../components/BhadjanMandala/BhadjanyDattatree";
---

<Layout title="Бхаджаны Даттатрее">
  <section class="main-container">
    <BhadjanyDattatree client:visible />
  </section>
</Layout>
