---
import Layout from "../../../layouts/Layout.astro";
import BhadjanyGuru from "../../../components/BhadjanMandala/BhadjanyGuru";
---

<Layout title="Бхаджаны Гуру">
  <section class="main-container">
    <BhadjanyGuru client:visible />
  </section>
</Layout>
