---
import Layout from "../../../layouts/Layout.astro";
import BhadjanySiddham from "../../../components/BhadjanMandala/BhadjanySiddham";
---

<Layout title="Бхаджаны сиддхам">
  <section class="main-container">
    <BhadjanySiddham client:visible />
  </section>
</Layout>
