---
import Layout from "../../../layouts/Layout.astro";
import BhadjanShive from "../../../components/BhadjanMandala/BhadjanShive";
---

<Layout title="Бхаджан Шиве">
  <section class="main-container">
    <BhadjanShive client:visible />
  </section>
</Layout>
