---
import Layout from "../../../layouts/Layout.astro";
import BhadjanyVishnu from "../../../components/BhadjanMandala/BhadjanyVishnu";
---

<Layout title="Бхаджаны Вишну">
  <section class="main-container">
    <BhadjanyVishnu client:visible />
  </section>
</Layout>
