---
import Layout from "../../../layouts/Layout.astro";
import BhadjanyShive from "../../../components/BhadjanMandala/BhadjanyShive";
---

<Layout title="Бхаджаны Шиве">
  <section class="main-container">
    <BhadjanyShive client:visible />
  </section>
</Layout>
