---
import Layout from "../../../layouts/Layout.astro";
import BhadjanyShakti from "../../../components/BhadjanMandala/BhadjanyShakti";
---

<Layout title="Бхаджаны Шакти">
  <section class="main-container">
    <BhadjanyShakti client:visible />
  </section>
</Layout>
