---
import Layout from "../../../layouts/Layout.astro";
import ChitsthairakamStotra from "../../../components/BhadjanMandala/ChitsthairakamStotra";
---

<Layout title="Читтстхаирйакам Cтотра">
  <section class="main-container">
    <ChitsthairakamStotra client:visible />
  </section>
</Layout>
