---
import Layout from "../../../layouts/Layout.astro";
import DattaArati from "../../../components/BhadjanMandala/DattaArati";
---

<Layout title="Датта Арати">
  <section class="main-container">
    <DattaArati client:visible />
  </section>
</Layout>
