---
import Layout from "../../../layouts/Layout.astro";
import DurgaMantra from "../../../components/BhadjanMandala/DurgaMantra";
---

<Layout title="Защитная мантра Дурги">
  <section class="main-container">
    <DurgaMantra client:visible />
  </section>
</Layout>
