---
import Layout from "../../../layouts/Layout.astro";
import DurgaArati from "../../../components/BhadjanMandala/DurgaArati";
---

<Layout title="Дурга Арати">
  <section class="main-container">
    <DurgaArati client:visible />
  </section>
</Layout>
