---
import Layout from "../../../layouts/Layout.astro";
import DurgaProtectiveMantra from "../../../components/BhadjanMandala/DurgaProtectiveMantra";
---

<Layout title="Защитная мантра Дурги">
  <section class="main-container">
    <DurgaProtectiveMantra client:visible />
  </section>
</Layout>
