---
import Layout from "../../../layouts/Layout.astro";
import DurgaGayatri from "../../../components/BhadjanMandala/DurgaGayatri";
---

<Layout title="Дурга Гаятри">
  <section class="main-container">
    <DurgaGayatri client:visible />
  </section>
</Layout>
