---
import Layout from "../../../layouts/Layout.astro";
import Finish from "../../../components/BhadjanMandala/Finish";
---

<Layout title="Завершение практики">
  <section class="main-container">
    <Finish client:visible />
  </section>
</Layout>
