---
import Layout from "../../../layouts/Layout.astro";
import GaneshaArati from "../../../components/BhadjanMandala/GaneshaArati";
---

<Layout title="Ганеша Арати">
  <section class="main-container">
    <GaneshaArati client:visible />
  </section>
</Layout>
