---
import Layout from "../../../layouts/Layout.astro";
import GaneshaMantra from "../../../components/BhadjanMandala/GaneshaMantra";
---

<Layout title="Мантра Ганеши">
  <section class="main-container">
    <GaneshaMantra client:visible />
  </section>
</Layout>
