---
import Layout from "../../../layouts/Layout.astro";
import GimnLakshmi from "../../../components/BhadjanMandala/GimnLakshmi";
---

<Layout title="Гимн Лакшми">
  <section class="main-container">
    <GimnLakshmi client:visible />
  </section>
</Layout>
