---
import Layout from "../../../layouts/Layout.astro";
import GuruPadukaStotra from "../../../components/BhadjanMandala/GuruPadukaStotra";
---

<Layout title="Гуру падука стотра">
  <section class="main-container">
    <GuruPadukaStotra client:visible />
  </section>
</Layout>
