---
import Layout from "../../../layouts/Layout.astro";
import GuruYogaFull from "../../../components/BhadjanMandala/GuruYogaFull";
---

<Layout title="Гуру йога (полная)">
  <section class="main-container">
    <GuruYogaFull client:visible />
  </section>
</Layout>
