---
import Layout from "../../../layouts/Layout.astro";
import LakshmiGayatri from "../../../components/BhadjanMandala/LakshmiGayatri";
---

<Layout title="Лакшми Гаятри">
  <section class="main-container">
    <LakshmiGayatri client:visible />
  </section>
</Layout>
