---
import Layout from "../../../layouts/Layout.astro";
import LaksmiArati from "../../../components/BhadjanMandala/LaksmiArati";
---

<Layout title="Лакшми Арати">
  <section class="main-container">
    <LaksmiArati client:visible />
  </section>
</Layout>
