---
import Layout from "../../../layouts/Layout.astro";
import LekciyaGuru from "../../../components/BhadjanMandala/LekciyaGuru";
---

<Layout title="Лекция Гуру">
  <section class="main-container">
    <LekciyaGuru client:visible />
  </section>
</Layout>
