---
import Layout from "../../../layouts/Layout.astro";
import MahaAratiSmall from "../../../components/BhadjanMandala/MahaAratiSmall";
---

<Layout title="Маха Арати (короткое)">
  <section class="main-container">
    <MahaAratiSmall client:visible />
  </section>
</Layout>
