---
import Layout from "../../../layouts/Layout.astro";
import MahaAratiFull from "../../../components/BhadjanMandala/MahaAratiFull";
---

<Layout title="Маха Арати (полное)">
  <section class="main-container">
    <MahaAratiFull client:visible />
  </section>
</Layout>
