---
import Layout from "../../../layouts/Layout.astro";
import MantraPribejisha from "../../../components/BhadjanMandala/MantraPribejisha";
---

<Layout title="Мантра Прибежища">
  <section class="main-container">
    <MantraPribejisha client:visible />
  </section>
</Layout>
