---
import Layout from "../../../layouts/Layout.astro";
import Meditation4BSB from "../../../components/BhadjanMandala/Meditation4BSB";
---

<Layout title="Медитация 4 БСБ">
  <section class="main-container">
    <Meditation4BSB client:visible />
  </section>
</Layout>
