---
import Layout from "../../../layouts/Layout.astro";
import NirvanaShatakam from "../../../components/BhadjanMandala/NirvanaShatakam";
---

<Layout title="Нирвана шатакам">
  <section class="main-container">
    <NirvanaShatakam client:visible />
  </section>
</Layout>
