---
import Layout from "../../../layouts/Layout.astro";
import PanchabrahmaMantry from "../../../components/BhadjanMandala/PanchabrahmaMantry";
---

<Layout title="Панчабрахма-мантры">
  <section class="main-container">
    <PanchabrahmaMantry client:visible />
  </section>
</Layout>
