---
import Layout from "../../../layouts/Layout.astro";
import PosvyasheneiZaslug from "../../../components/BhadjanMandala/PosvyasheneiZaslug";
---

<Layout title="Посвящение заслуг">
  <section class="main-container">
    <PosvyasheneiZaslug client:visible />
  </section>
</Layout>
