---
import Layout from "../../../layouts/Layout.astro";
import Prarthana from "../../../components/BhadjanMandala/Prarthana";
---

<Layout title="Прартхана">
  <section class="main-container">
    <Prarthana client:visible />
  </section>
</Layout>
