---
import Layout from "../../../layouts/Layout.astro";
import Rakovina from "../../../components/BhadjanMandala/Rakovina";
---

<Layout title="Раковина">
  <section class="main-container">
    <Rakovina client:visible />
  </section>
</Layout>
