---
import Layout from "../../../layouts/Layout.astro";
import SarasvatiGayatri from "../../../components/BhadjanMandala/SarasvatiGayatri";
---

<Layout title="Сарасвати Гаятри">
  <section class="main-container">
    <SarasvatiGayatri client:visible />
  </section>
</Layout>
