---
import Layout from "../../../layouts/Layout.astro";
import SarasvatiAshtottaraShatanama from "../../../components/BhadjanMandala/SarasvatiAshtottaraShatanama";
---

<Layout title="108 имен Сарасвати">
  <section class="main-container">
    <SarasvatiAshtottaraShatanama client:visible />
  </section>
</Layout>
