---
import Layout from "../../../layouts/Layout.astro";
import SarasvatiArati from "../../../components/BhadjanMandala/SarasvatiArati";
---

<Layout title="SarasvatiArati">
  <section class="main-container">
    <SarasvatiArati client:visible />
  </section>
</Layout>
