---
import Layout from "../../../layouts/Layout.astro";
import ShadaksharaMantra from "../../../components/BhadjanMandala/ShadaksharaMantra";
---

<Layout title="Шестислоговая мантра Шивы">
  <section class="main-container">
    <ShadaksharaMantra client:visible />
  </section>
</Layout>
