---
import Layout from "../../../layouts/Layout.astro";
import ShantiMantra from "../../../components/BhadjanMandala/ShantiMantra";
---

<Layout title="Шанти мантра">
  <section class="main-container">
    <ShantiMantra client:visible />
  </section>
</Layout>
