---
import Layout from "../../../layouts/Layout.astro";
import ShantiMantras from "../../../components/BhadjanMandala/ShantiMantras";
---

<Layout title="Умиротворяющие мантры">
  <section class="main-container">
    <ShantiMantras client:visible />
  </section>
</Layout>
