---
import Layout from "../../../layouts/Layout.astro";
import ShantiStotra from "../../../components/BhadjanMandala/ShantiStotra";
---

<Layout title="Шанти Стотра">
  <section class="main-container">
    <ShantiStotra client:visible />
  </section>
</Layout>
