---
import Layout from "../../../layouts/Layout.astro";
import ShivaDjayaKara from "../../../components/BhadjanMandala/ShivaDjayaKara";
---

<Layout title="Джая-кара Шиве">
  <section class="main-container">
    <ShivaDjayaKara client:visible />
  </section>
</Layout>
