---
import Layout from "../../../layouts/Layout.astro";
import ShivaAshtottaraShataNamavali from "../../../components/BhadjanMandala/ShivaAshtottaraShataNamavali";
---

<Layout title="108 имен Шивы">
  <section class="main-container">
    <ShivaAshtottaraShataNamavali client:visible />
  </section>
</Layout>
