---
import Layout from "../../../layouts/Layout.astro";
import ShivaArati from "../../../components/BhadjanMandala/ShivaArati";
---

<Layout title="Шива Арати">
  <section class="main-container">
    <ShivaArati client:visible />
  </section>
</Layout>
