---
import Layout from "../../../layouts/Layout.astro";
import ShivaShadaksharaStotra from "../../../components/BhadjanMandala/ShivaShadaksharaStotra";
---

<Layout title="Шива Шадакшара Стотра">
  <section class="main-container">
    <ShivaShadaksharaStotra client:visible />
  </section>
</Layout>
