---
import Layout from "../../../layouts/Layout.astro";
import BhumiMangalam from "../../../components/BhadjanMandala/BhumiMangalam";
---

<Layout title="Бхуми Мангалам">
  <section class="main-container">
    <BhumiMangalam client:visible />
  </section>
</Layout>
