---
import Layout from "../../../layouts/Layout.astro";
import ShivaMantra from "../../../components/BhadjanMandala/ShivaMantra";
---

<Layout title="Мантра Шивы (3 раза)">
  <section class="main-container">
    <ShivaMantra client:visible />
  </section>
</Layout>
