---
import Layout from "../../../layouts/Layout.astro";
import ShriRudrashtakam from "../../../components/BhadjanMandala/ShriRudrashtakam";
---

<Layout title="Шри Рудраштакам">
  <section class="main-container">
    <ShriRudrashtakam client:visible />
  </section>
</Layout>
