---
import Layout from "../../../layouts/Layout.astro";
import Start from "../../../components/BhadjanMandala/Start";
---

<Layout title="Начало практики">
  <section class="main-container">
    <Start client:visible />
  </section>
</Layout>
