---
import Layout from "../../../layouts/Layout.astro";
import Totakashtakam from "../../../components/BhadjanMandala/Totakashtakam";
---

<Layout title="Тотакаштакам">
  <section class="main-container">
    <Totakashtakam client:visible />
  </section>
</Layout>
