---
import Layout from "../../../layouts/Layout.astro";
import VishnuArati from "../../../components/BhadjanMandala/VishnuArati";
---

<Layout title="Вишну Арати">
  <section class="main-container">
    <VishnuArati client:visible />
  </section>
</Layout>
