---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ачамана">
  <section class="main-container">
    <h1 class="mainTitle">Ачамана</h1>
    <p class="mt-5 w-full text-center text-lg font-medium dark:text-amber-600">
      Ритуальная ежедневная практика очищения
    </p>
    <p class="mt-3">
      Очистительная церемония является очень важным аспектом для начинающих
      духовных практиков.
    </p>
    <p class="mt-3">
      Ачамана – главное средство очищения, его следует выполнять после любого
      дела, которое могло бы загрязнить нас. До тех пор, пока не достигнут
      «единый вкус» и полнота чистого видения, йогин в течение дня может
      загрязнить свой ум, прану или тело. Поэтому ему необходимо устранять
      отрицательные последствия, используя особые очистительные действия.
    </p>
    <p class="mt-3">
      Ачамана – ритуал очищения тела и пространства, выполняемый перед
      совершением пуджи, чтением священных писаний, принятием пищи, после
      произнесения лживых, негармоничных слов, соприкосновения с нечистыми
      предметами или омраченным человеком.
    </p>
    <p class="mt-3">
      Нельзя читать мантры, совершать другие обряды до тех пор, пока не
      выполнена ачамана.
    </p>
    <p class="mt-3">
      Риши Яджнавалкья так говорит об этом: «Должно сесть лицом на север или
      восток, с руками между колен, в чистом месте. Дваждырожденному следует
      ежедневно пить воду брахматиртхи (основание большого пальца). Воду следует
      отпивать трижды, губы следует потереть дважды, нос, уши, глаза должны
      соприкоснуться с водой. Вода должна быть чистой, не иметь пены и пузырей».
      Практика ачаманы выполняется ежедневно перед выполнением ритуала, началом
      Бхаджан-мандалы, утром после пробуждения.
    </p>
    <p class="mt-3">
      Способ отпития воды с ладони: воду следует поместить в углубление ладони,
      в количестве, достаточном для погружения горошины, и отпивать ее с участка
      ладони у основания большого пальца (брахматиртха).
    </p>
    <p class="mt-7 text-xl font-semibold dark:text-amber-600">
      Порядок выполнения:
    </p>
    <p class="mt-3">
      1. Нужно взять немного освященной воды подготовленной заранее (вода
      освящается во время подношения ее на алтарь во время Бхаджан-мандалы)
    </p>
    <p class="mt-3">
      2. Ложечкой в левой руке положите примерно 3 капли воды на правую ладонь.
      Произнесите:
    </p>
    <p class="mt-3 font-semibold dark:text-amber-600">ОМ АТМА-ТАТТВАЙА СВАХА</p>
    <p class="text-sm">(Ом, сущности Атмана во благо)</p>
    <p class="">
      и не касаясь губами, выпейте воду с части ладони у основания большого
      пальца (брахматиртха).
    </p>
    <p class="mt-3">3. Проделайте то же самое еще раз, произнеся:</p>
    <p class="mt-3 font-semibold dark:text-amber-600">
      ОМ ВИДЙА-ТАТТВАЙА СВАХА
    </p>
    <p class="text-sm">(Ом, сущности просветленного знания во благо).</p>
    <p class="mt-3">4. То же самое проделайте еще раз, произнеся:</p>
    <p class="mt-3 font-semibold dark:text-amber-600">ОМ ШИВА-ТАТТВАЙА СВАХА</p>
    <p class="text-sm">(Ом, сущности Абсолюта всеблагого во благо)</p>
    <p class="mt-3 font-medium">
      5. В расширенном варианте ачаманы добавляется:
    </p>
    <p class="mt-3">
      5.1. Дважды потрите рот тыльной частью ладони у большого пальца
    </p>
    <p class="mt-3">
      5.2 Прикоснитесь ко рту тремя соединенными пальцами – указательным,
      средним и безымянным.
    </p>
    <p class="mt-3">
      5.3 Прикоснитесь к ноздрям большим и указательным пальцами
    </p>
    <p class="mt-3">5.4 Выполните касание:</p>
    <p class="">
      — к глазам и отверстиям ушей большим и безымянным пальцами <br />
      — затем прикоснитесь пупа мизинцем <br />
      — затем прикоснитесь ладонью области сердца <br />
      — затем прикоснитесь головы всеми пальцами <br />
      — коснитесь кончиками пальцев рук частей тела
    </p>
    <p class="mt-3">
      6. Окропите себя из правой ладони следующим образом: сбрызните воду с
      правой руки на левую руку, а затем правой рукой окропите себя с ног до
      головы освященной водой, медитируя на очищение пространства, изгнание
      нечистых помыслов, вредоносных энергий и т.д. Породите ощущение полной
      чистоты.
    </p>
    <p class="mt-3">
      На этом ачамана закончена. Вы готовы к чтению мантр, ритуальной практике и
      т.д.
    </p>
    <p class="mt-7 font-medium dark:text-amber-600">
      Когда рекомендуется выполнять ачаману:
    </p>
    <p class="mt-3">∼ сразу утром после пробуждения,</p>
    <p class="mt-3">∼ перед приемом пищи,</p>
    <p class="mt-3">∼ перед практикой мантр, призывания божеств,</p>
    <p class="mt-3">∼ всегда, когда есть необходимость очищения.</p>
  </section>
</Layout>
