---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Ачамана">
  <section class="main-container">
  <h1 class="mainTitle">Ачамана - ритуальное очищение</h1>
  <h2 class="w-full text-center mt-10">Страница в процессе разработки!</h2>
 

  </section>
</Layout>