---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Пуджа Даттатрее">
  <section class="main-container">
    <h1 class="mainTitle">Пуджа Даттатрее</h1>
    <h2 class="mt-10 w-full text-center">Страница в процессе разработки!</h2>
  </section>
</Layout>
