---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import siddhi from "../../assets/img/Lords/ganesh.webp";
import { Icon } from "astro-icon/components";
---

<Layout title="Пуджа сиддхам">
  <section class="main-container">
    <div class="flex items-center justify-center gap-1">
      <h1 class="mainTitle">Суббота. Пуджа сиддхам</h1>
      <a href="/upasana/" class="">
        <Icon
          name="mdi:arrow-left-top"
          class="size-5 text-indigo-500 md:size-6 lg:size-8 dark:text-amber-400"
        />
      </a>
    </div>
    <div class="flex w-full justify-center">
      <ul
        class="mt-10 flex flex-col justify-center gap-5 rounded-xl border-2 border-indigo-500 px-7 py-10 lg:justify-start xl:gap-10 dark:border-amber-400"
      >
        <li class="flex w-full items-center gap-3 md:w-80">
          <a
            href="/upasana/bm-siddhi/week1"
            class="w-full text-center text-xs text-indigo-500 md:text-sm lg:text-base xl:text-lg dark:text-amber-400"
          >
            Пуджа сиддхам. 1-ая неделя.
          </a>
        </li>
        <li class="flex w-full items-center gap-3 md:w-80">
          <a
            href="/upasana/bm-siddhi/week2"
            class="w-full text-center text-xs text-indigo-500 md:text-sm lg:text-base xl:text-lg dark:text-amber-400"
          >
            Пуджа сиддхам. 2-ая неделя.
          </a>
        </li>
        <li class="flex w-full items-center gap-3 md:w-80">
          <a
            href="/upasana/bm-siddhi/week3"
            class="w-full text-center text-xs text-indigo-500 md:text-sm lg:text-base xl:text-lg dark:text-amber-400"
          >
            Пуджа сиддхам. 3-ая неделя.
          </a>
        </li>
        <li class="flex w-full items-center gap-3 md:w-80">
          <a
            href="/upasana/bm-siddhi/week4"
            class="w-full text-center text-xs text-indigo-500 md:text-sm lg:text-base xl:text-lg dark:text-amber-400"
          >
            Пуджа сиддхам. 4-ая неделя.
          </a>
        </li>
      </ul>
    </div>
    <div class="mt-10 flex w-full justify-center">
      <Image src={siddhi} alt="datta" class="" />
    </div>
  </section>
</Layout>
