---
import Layout from "../../layouts/Layout.astro"
import { Image } from "astro:assets"
import data from "../../assets/img/Lords/datta.webp"
---

<Layout title="Садхана Даттатрее">
  <section class="main-container dark:text-amber-100 font-light">
      <h1 class="mainTitle">Садхана Даттатрее</h1>
      <div class="flex justify-center mt-10 w-full md:w-3/4 lg:w-2/3 xl:w-1/3">
        <Image src={data} alt="Даттатрейя" class="" />
      </div>

      <h2 id="om-dram" class="w-full text-xl font-semibold dark:text-amber-600 mt-10">1. Семенная восьмисложная мантра Даттатрейи</h2>
      <h5 class="mt-5 w-full text-center font-bold lg:text-xl my-2 dark:text-amber-600">Ом Драм Даттатреяя намаха</h5>
      <div class="mt-5 flex justify-center">
        <div class="max-w-5xl flex flex-col gap-2 lg:gap-3 italic">
          <p>«Восьмисложная мантра — <b class="dark:text-amber-600">«Драм»</b> или <b class="dark:text-amber-600">«Драам»</b> с добавлением к ней слогов <b>«Да, ттаа, тре, йаа, йа, на, мах»</b>.</p>
          <p>В этой мантре слово <b class="dark:text-amber-600">«Даттатреяя»</b> относится к истинному (изначальному) блаженству сознания, а слово <b>«намах»</b> — к полностью проявленному блаженству.</p>
          <p><b class="dark:text-amber-600">Размер мантры</b> — гаятри</p>
          <p><b class="dark:text-amber-600">Риши</b> — Садашива</p>
          <p><b class="dark:text-amber-600">Главенствующее божество</b> — Даттатрейя.</p>
          <p><b class="dark:text-amber-600">«Даттатреяя»</b> — внутренняя, потенциальная часть мантры и, таким образом, ее биджа, «намах» — шакти, действенная сила мантры».</p>
          <p class="w-full text-right"> «Даттатрейя-упанишада»</p>
        </div>
      </div>

      <div class="mt-10 flex items-center justify-center gap-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="w-10 h-10 shrink-0 text-red-500 dark:text-amber-400">
	        <path fill="currentColor" d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m-7 9h-2V5h2zm0 4h-2v-2h2z" />
        </svg>
        <p class="text-red-500 dark:text-red-400"><b>Внимание!</b> Благоприятно получить передачу в данную мантру от гуру!</p>
      </div>

      <h5 id="datta-gayatri" class="w-full text-xl font-semibold dark:text-amber-600 mt-10">2. Датта Гаятри-мантра</h5>
      <div class="grid grid-cols-1 md:grid-cols-2 2xl:mx-40">
        <div class="mt-5 lg:mt-10 w-full text-center font-semibold lg:text-xl my-2 dark:text-amber-600">
          <p>Ом Даттатреяя видмахе</p>
          <p>Атрипутрая дхимахи</p>
          <p>Танно Датта прачодаят</p>
        </div>
        <div class="mt-5 lg:mt-10 w-full text-center my-2">
          Ом Да познаем мы Даттатрейю <br />
          Да будем медитировать мы на сына Атри <br />
          И пусть Датта направит нас.
        </div>
      </div>
      <div class="mt-10 flex items-center justify-center gap-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="w-10 h-10 shrink-0 text-red-500 dark:text-amber-400">
	        <path fill="currentColor" d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m-7 9h-2V5h2zm0 4h-2v-2h2z" />
        </svg>
        <p class="text-red-500"> <b>Внимание!</b> Благоприятно получить передачу в данную мантру от Гуру!</p>
      </div>

       <h5 id="datta-meditation" class="w-full text-xl font-semibold dark:text-amber-600 mt-10">3. Медитация на внешний образ Даттатрейи</h5>
      <div class="mt-5 flex justify-center">
        <div class="flex flex-col gap-5 max-w-5xl">
          <p><b>3.1. </b>Выполните предварительное очищение комнаты и места для медитации: зажгите благовония, свечу и позвоните в колокольчик, чтобы призвать благословение божественных существ.</p>
          <p><b>3.2. </b>Поместите мурти (изображение) Даттатрейи прямо перед собой на расстоянии вытянутой руки на уровне глаз.</p>
          <p><b>3.3. </b>Сядьте напротив, приняв позу для медитации – сукхасану, сиддхасану или падмасану.</p>
          <div class="flex flex-col gap-1">
            <p><b>3.4. </b>Выполните краткий ритуал очищения (ачамана), его можно выполнять тремя способами:</p>
            <p class="font-light">~ внешним, когда мы обрызгиваем себя водой из специальной чаши с алтаря,</p>
            <p class="font-light">~ с помощью визуализации,</p>
            <p class="font-light">~ просто расслабившись и сосредоточившись некоторое время на идее чистоты, окутывающей и очищающей все тело.</p>
          </div>
          <p><b>3.5. </b>Прочитайте молитву, призывающую благословение Бхагавана Даттатрейи, обратившись к нему как к своему Высшему «Я», зародив чувство веры и благоговения.</p>
          <p><b>3.6. </b>Сосредоточьтесь на центре груди или межбровье образа Даттатрейи.</p>
          <p><b>3.7. </b>Продолжайте концентрацию, максимально расслабившись и сохраняя неподвижность тела, ума и речи.</p>
          <p><b>3.8. </b>Когда время концентрации закончилось или ее больше невозможно поддерживать, закройте глаза и позвольте образу Даттатрейи самопроизвольно возникнуть перед вашим внутренним взором.</p>
          <p><b>3.9. </b>Попытайтесь некоторое время удерживать образ Даттатрейи перед внутренним взором, мягко направляя на него внимание.</p>
          <p><b>3.10. </b>Заканчивая практику, внешне или мысленно сделайте поклон Даттатрейе.</p>
          <b class="dark:text-amber-600">Комментарий:</b>
          <p>
            В зависимости от вашего настроя, вы можете выполнять предварительные практики или не выполнять их, но очень важно выполнять медитацию на внешний образ Даттатрейи, длительное время сосредотачиваясь на образе божества и поддерживая соответствующее настроение (бхаву).</p>
          <p></p>
        </div>
      </div>

      <h5 class="w-full text-xl font-semibold dark:text-amber-600 mt-10">4. Мантра-йога как медитация на Даттатрейю</h5>
      <div class="mt-5 flex justify-center">
        <div class="flex flex-col gap-5 max-w-5xl">
          <p>«Джапа — это повторение мантр, в которое человек посвящен должным образом его духовным учителем и которое не противоречит правилам Вед.</p>
          <p>Джапа бывает двух видов — с устным или мысленным произношением.</p>
          <p>Мысленная джапа относится к созерцанию умом.</p>
          <p>Устная джапа бывает двух видов — с громким и тихим произношением.</p>
          <p>Громкое произношение приносит заслугу согласно тому, как об этом утверждается в Ведах, тихое дарует заслугу в тысячу раз большую. Мысленная джапа дарует заслугу в десять миллионов раз большую».</p>
          <p class="w-full text-right">«Шандилья-упанишада», гл.1.2</p>
          <p class="mt-5 font-semibold dark:text-amber-600">Описание:</p>
          <p>4.1. Выполните предварительную настройку на практику, описанную выше <a href="#datta-meditation" class="text-indigo-600 dark:text-amber-400">в пунктах 1-6.</a> </p>
          <p>4.2. Прочтите <a href="#datta-gayatri" class="text-indigo-600 dark:text-amber-400" >мантру гаятри Даттатрейи</a> , призывающую нисхождение его благословений:</p>
          <p>4.3. Взяв в правую руку четки, найдите первую бусину от центральной бусины Меру и, концентрируясь на межбровье или центре груди божества, произнесите <a href="#om-dram" class="text-indigo-600 dark:text-amber-400">восьмисложную семенную мантру божества:</a></p>
          <p>4.4. Произнося мантру, сосредотачиваемся на значении мантры и каждом из восьми слогов.</p>
          <div class="mt-10 w-full flex justify-center">
            <audio
              controls
              controlslist="nodownload"
              src="/sounds/Om_Dram_Dattatreyaya_Namaha_108_times.mp3"
              class="w-full md:w-1/2"
            ></audio>
          </div>
          <p class="mt-5">В этой мантре слово <b>«Даттатреяя»</b> указывает на изначальную сущность и блаженство сознания Абсолюта, а слово <b>«намах»</b> указывает на полностью проявленную энергию блаженства этого сознания.</p>
          <b class="dark:text-amber-600">Комментарий:</b>
          <p>В эту практику, чтобы она действовала, необходимо получить передачу от Гуру, Духовного Учителя, также от него необходимо получить все детальные разъяснения по дальнейшему развитию этой практики.</p>
          <div class="flex flex-col gap-1">
            <p>Мы читаем мантры, содержащие вибрации, имя божества Даттатрейи, чтобы:</p>
            <p class="font-light">~ пробудить его внимание и направить его на нас (даршан)</p>
            <p class="font-light">~ получить от него нисхождение мудрости и благословение духовной силы (Ануграха)</p>
            <p class="font-light">~ пережить единство с божеством, прямое просветленное видение недвойственности (шактипатха).</p>
          </div>
          <p>Это подобно тому, как если бы мы, идя по лесу и потеряв дорогу, звали кого-либо по имени, и тот, кого мы звали, обернулся, заметил нас и подошел, чтобы помочь и указать дорогу.</p>
          <p>Читая мантру, мы называем имя избранного божества снова и снова, и это устраняет затемнение нашей речи (праны) и очищает препятствие к Пробуждению.</p>
          <p>Тело, речь, прана и ум избранного божества и наши собственные тело, речь, прана и ум сливаются и становятся одним.</p>
          <p>С помощью мантры мы устраняем омрачения, затемняющие наш ум и прану, и пробуждаем нашу истинную природу.</p>
          <p>Практикуя повторение мантры в соответствии с наставлениями Гуру, мы можем призывать силу благословения изначальных божеств Вселенной, обладающих великой мудростью, просто произнося их имена. Имя божества и само божество неотличны, поэтому произнося имя, мы призываем просветленное божество.</p>
        </div>
      </div>

  </section>
</Layout>