---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Панча ратна пранама мантра">
  <section class="main-container">
    <h1 class="mainTitle">Панча ратна пранама мантра</h1>
    <div class="mt-10 flex flex-col gap-5">
      <div>
        Во время сандхьи (восход, астрономический полдень и закат Солнца), когда
        ветры активны в центральном канале (в сушумне), сядьте лицом на восток и
        выполните панчаратна-пранама-мантру.
      </div>
      <div class="flex flex-col gap-2">
        <p>
          1️⃣ Ладони молитвенно сложены в намасте над макушкой головы
          (сахасрара-чакрой):
        </p>
        <b class="dark:text-amber-600">ОМ ШИВАМ ШАРАНАМ ПРАПАДЙАМ</b>
        <p>Ом! Прибегаю к Шиве, всевышнему богу, за защитой!</p>
      </div>

      <div class="flex flex-col gap-2">
        <p>
          3️⃣ Ладони молитвенно сложены в центре груди (перед анахата-чакрой):
        </p>
        <b class="dark:text-amber-600">ОМ САНГХАМ ШАРАНАМ ПРАПАДЙАМ</b>
        <p>
          Ом! Прибегаю к сангхе, общине садху, преданных Богу и Дхарме за
          защитой!
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <p>
          3️⃣ Ладони молитвенно сложены в центре груди (перед анахата-чакрой):
        </p>
        <b class="dark:text-amber-600">ОМ САНГХАМ ШАРАНАМ ПРАПАДЙАМ</b>
        <p>
          Ом! Прибегаю к сангхе, общине садху, преданных Богу и Дхарме за
          защитой!
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <p>
          4️⃣ Ладони молитвенно сложены напротив основания позвоночника
          (муладхара-чакры), пальцы направлены вниз:
        </p>
        <b class="dark:text-amber-600">ОМ ШАКТИМ ШАРАНАМ ПРАПАДЙАМ</b>
        <p>
          Ом! Прибегаю к вселенской божественной силе, материнской энергии Шакти
          за защитой!
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <p>
          5️⃣ Произнося последнюю строку, медитируем на образ Шивы, изначального
          вселенского Гуру всех Гуру, Даттатреи и своего коренного Гуру
          (Мула-гуру), видя их в единстве, как единую Гуру-таттву, принцип Гуру.
          Ладони молитвенно сложены в намасте над макушкой головы
          (сахасрара-чакрой):
        </p>
        <b class="dark:text-amber-600">ОМ САДГУРУМ ШАРАНАМ ПРАПАДЙАМ</b>
        <p>Ом! Прибегаю к изначальному Гуру, истинному Учителю за защитой!</p>
      </div>

      <div>
        Затем делается поклон в направлении алтаря, если алтаря нет, то делается
        поклон в сторону места пребывания коренного Гуру, если оно неизвестно –
        то на восток.
      </div>
    </div>

    <div class="mt-10 flex justify-center lg:mx-20 lg:mt-20 xl:mx-40">
      <iframe
        src="https://rutube.ru/play/embed/7beca7a6f5377da628d14acb9a6fd715/"
        frameborder="0"
        allow="clipboard-write; autoplay"
        allowfullscreen
        class="rutube"></iframe>
    </div>
  </section>
</Layout>
