---
import Altar from "../../components/Altar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Сутра">
  <section class="main-container">
    <h1 class="mainTitle">Утренняя сутра</h1>
    <Altar />

    <div id="sutra"></div>

    <details class="u-collapse">
      <summary class="u-summary">Начало практики</summary>
      <div class="u-collapse-aria">
        <h2 class="u-title">Ачамана</h2>
        <p class="u-text">
          Перед началом практики выполняются{" "}
          <a
            href="/upasana/achamana"
            class="text-indigo-600 hover:underline dark:text-indigo-300"
          >
            ачамана
          </a>{" "}
          и далее
          <a
            href="/upasana/pancha-ratna-pranama-mantra"
            class="ml-1 text-indigo-600 hover:underline dark:text-indigo-300"
          >
            ежедневная практика принятия Прибежища:
          </a>{" "}
        </p>

        <h2 class="u-title">ПАНЧА РАТНА ПРАНАМА МАНТРА</h2>

        <p class="u-shloka">Ом Шивам шаранам прападйам</p>
        <p class="u-shloka">Ом Дхармам шаранам прападйам</p>
        <p class="u-shloka">Ом Сангхам шаранам прападйам</p>
        <p class="u-shloka">Ом Шактим шаранам прападйам</p>
        <p class="u-shloka">Ом Садгурум шаранам прападйам</p>
      </div>
    </details>

    <div class="mx-auto flex max-w-2xl flex-col justify-center">
      <h2
        class="mt-5 mb-2 w-full rounded-md bg-amber-100 p-2 text-xl md:mt-7 md:text-2xl lg:mt-10 dark:bg-slate-700"
      >
        Звучит раковина
      </h2>
    </div>

    <div class="mx-auto flex max-w-2xl flex-col justify-center">
      <h2
        class="mt-5 mb-2 w-full rounded-md bg-amber-100 p-2 text-xl md:mt-7 md:text-2xl lg:mt-10 dark:bg-slate-700"
      >
        Гуру йога с Ом
      </h2>
    </div>

    <details class="u-collapse">
      <summary class="u-summary">Первый поклон</summary>
      <div class="u-collapse-aria">
        <p class="w-xl">Выполняется первый поклон из практики пяти поклонов.</p>
        <p class="w-xl">
          Поклон Коренному Гуру (выполняется под звук колокольчика).
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Мантра Ганеши</summary>
      <div class="u-collapse-aria">
        <p class="u-shloka">
          ВАККРАТУНДА МАХА КАЙА
          <br />
          СУРЬЯ КОТИ САМА ПРАБХА
          <br />
          НИРВИГНАМ КУРУ МЭ ДЭВА
          <br />
          САРВА КАРЙЕ ЩУ САРУАДА
        </p>
        <p class="u-text">
          О, Изгибающий хобот, Огромнотелый, превосходящий своим сиянием свет
          миллионов Солнц! Устрани препятствия, о Бог, во всех моих начинаниях!
        </p>
        <p class="u-shloka">ОМ ГАМ ГАНАПАТАЙЕ НАМАХА</p>
        <p class="u-text">Поклонение Ганеше, Предводителю ганов!</p>
        <p class="u-shloka">
          ГАНЕШАМ ПРАМАТХАДХИШАМ
          <br />
          НИРГУНАМ САГУНАМ ШИВАМ
          <br />
          ЙОГИНО ЙАТ ПАДАМ ЙАНТИ
          <br />
          ГОУРИНАНДАНАМ БХАДЖЕТА
        </p>
        <p class="u-text">
          Ганешу, предводителя праматхов (духов), находящегося вне гун,
          наделенного добродетелями, благого, к стопам которого устремляются
          йогины, сына Гаури – почитаем!
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Сарасвати арати</summary>
      <div class="u-collapse-aria">
        <p class="u-shloka">
          ОМ ДЖЕЙ САРАСВАТИ МААТА
          <br />
          МАЙЯ ДЖЕЙ САРАСВАТИ МААТА
          <br />
          САТГУНА ВЭЙБХАВа ШААЛИНИ
          <br />
          САТГУНА ВЭЙБХАВа ШААЛИНИ
          <br />
          ТРИБХУВАНА ВИИКЬХЙААТАА
          <br />
          ОМ ДЖЕЙ САРАСВАТИ МААТА
        </p>
        <> (2 раза)</>
        <p class="u-text">
          Слава Матери Сарасвати, преисполненной благих качеств, Повелительнице
          Трех Миров! Слава Матери Сарасвати!
        </p>
        <p class="u-shloka">
          ЧАНДРА ВАДАНИ ПАДМАСИНИ
          <br />
          ДхйУТИ МАНГАЛАКААРИ
          <br />
          МАЙЯ ДхйУТИ МАНГАЛАКААРИИ
          <br />
          СОХЕ ШУБХЕ ХАНСЕ САВААРИ
          <br />
          СОХЕ ШУБХЕ ХАНСЕ САВААРИ
          <br />
          АТУЛе ТЕДЖа ДХААРИИ
          <br />
          ОМ ДЖЕЙ САРАСВАТИ МААТА
        </p>
        <p class="u-text">
          Луноликой, восседающей на лотосе, излучающей благодатный свет;
          восседающей на белом лебеде, обладающей несравненной силой – Слава
          Матери Сарасвати!
        </p>
        <p class="u-shloka">
          БААЙЕ КААРе МЭ ВИНА
          <br />
          ДААЙЕ КААРе МААЛЯ
          <br />
          МАЙЯ ДААЙЕ КААРе МААЛЯА
          <br />
          ШИИШа МУКУТе МАНИ СОХЕ
          <br />
          ШИИШа МУКУТе МАНИ СОХЕ
          <br />
          ГААЛе МОТИЯНа МААЛЯА
          <br />
          ОМ ДЖЕЙ САРАСВАТИ МААТА
        </p>
        <p class="u-text">
          В её левой руке вина, а в правой – четки. На её голове драгоценная
          корона, а на шее ожерелье из жемчуга. Слава Матери Сарасвати!
        </p>
        <p class="u-shloka">
          ДЕВИ ШАРАНЕ ДЖО АЙЕ
          <br />
          УНеКА УДДХААРе КИЙАА
          <br />
          МАЙЯ УНеКА УДДХААРэ КИЙАА
          <br />
          ПЭТхИ МАНТХеРА ДААСИ
          <br />
          ПЭТхИ МАНТХеРА ДААСИ
          <br />
          РАВАНе САНХААРЕ КИЙЯА
          <br />
          ОМ ДЖЕЙ САРАСВАТИ МААТА
        </p>
        <p class="u-text">
          Кто бы ни обратился к Тебе, обретает Твою поддержку. Ты – Та, кто
          повлияла на служанку [царицы Кайкейи] Мантхару, чтобы убить Равану.
          Слава Матери Сарасвати!
        </p>
        <p class="u-shloka">
          ВИДЬЯ ГЬЯНА ПРЭДАИНИ
          <br />
          ГЬЯНА ПРАКААШЕ КАРОО
          <br />
          МАЙЯ ГЬЯНА ПРАКААШЕ КАРОО
          <br />
          МОХо АГЬЯНА ТИМИРИ КАА
          <br />
          МОХо АГЬЯНА ТИМИРИ КАА
          <br />
          ДЖАГе СЕ НААШе КАРОО
          <br />
          ОМ ДЖЕЙ САРАСВАТИ МААТА
        </p>
        <p class="u-text">
          О Богиня, дарующая знание и мудрость, наполни меня светом мудрости!
          Рассей полностью тьму неведения и иллюзию! Слава Матери Сарасвати!
        </p>
        <p class="u-shloka">
          ДХУУПа ДИИПа ПХАЛе МЕЕВА
          <br />
          МАА СВИКААРе КАРОО
          <br />
          МАЙЯ МАА СВИКААРе КАРОО
          <br />
          ГЬЯНА ЧААКШУ ДЕ МААТА
          <br />
          ГЬЯНА ЧАКШУ ДЕ МААТА
          <br />
          ДЖАГА НИСТААРе КАРОО
          <br />
          ОМ ДЖЕЙ САРАСВАТИ МААТА
        </p>
        <p class="u-text">
          О Мать, прими благовония, светильники, фрукты и сладости. О Мать,
          надели нас оком мудрости! Слава Матери Сарасвати!
        </p>
        <p class="u-shloka">
          МАА САРАСВАТИ КИ ААРАТИ
          <br />
          ДЖО КОИ ДЖАНе ГААВЕЕ
          <br />
          МАЙЯ ДЖО КОИ ДЖАНе ГААВЕЕ
          <br />
          ХИТЭКААРИ СУКХАКАРИ
          <br />
          ХИТЭКААРИ СУКХАКАРИ
          <br />
          ГЬЯНа БХАКТИ ПААВЕЕ
          <br />
          ОМ ДЖЕЙ САРАСВАТИ МААТА
        </p>
        <p class="u-text">
          Тот, кто поет это арати Матери Сарасвати, приносящее благо и радость,
          будет благословлен мудростью и преданностью. Слава Матери Сарасвати!
        </p>
        <p class="u-shloka">
          ОМ ДЖЕЙ САРАСВАТИ МААТА
          <br />
          МАЙЯ ДЖЕЙ САРАСВАТИ МААТА
          <br />
          САТГУНА ВЭЙБХАВа ШААЛИНИ
          <br />
          САТГУНА ВЭЙБХАВа ШААЛИНИ
          <br />
          ТРИБХУВАНА ВИИКЬХЙААТАА
          <br />
          ОМ ДЖЕЙ САРАСВАТИ МААТА
          <br />
          (2 раза)
        </p>

        <p class="u-text">
          Слава Матери Сарасвати, преисполненной благих качеств, Повелительнице
          Трех Миров! Слава Матери Сарасвати!
        </p>
        <p class="u-jay">
          ШРИ МАХАСАРАСВАТИ МАТА КИ — ДЖЕЙ!
          <br />
          ШРИ Гуру СВАМИ ВИШНУДЕВАНАНДА ГИРИ ДЖИ КИ — ДЖЕЙ!
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Четыре мантры</summary>
      <div class="u-collapse-aria">
        <p class="u-text">Поются четыре мантры, очищающие пространство</p>
        <h2 class="u-title">ГАЯТРИ МАНТРА</h2>
        <p class="u-shloka">
          ОМ БХУР БХУВАХ СВАХА
          <br />
          ТАТ САВИТУР ВАРЕНЬЯМ
          <br />
          БХАРГО ДЭВАСЬЯ ДХИМАХИ
          <br />
          ДХЬЙО ЙО НАХ ПРАЧОДАЯТ
        </p>
        <p class="u-text">
          О, Всевышний Источник! Ты есть высший Свет, разрушающий грехи. Мы
          медитируем на Тебя, чтобы Ты вдохновлял, просветлял и вел нас к
          освобождению!
        </p>
        <h2 class="u-title">МАХАМРИТЬЮНДЖАЯ МАНТРА</h2>
        <p class="u-shloka">
          ОМ ТРАЯМБАКАМ ЯДЖАМАХЕ
          <br />
          СУГАНДХИМ ПУШТИ ВАРДХАНАМ
          <br />
          УРВАРУКАМИВА БАНДХАНАМ
          <br />
          МРИТЬОР МУКШИЯ МА’МРИТАТ
        </p>
        <p class="u-text">
          Почитаем Трехокого Господа Шиву, Благоухающего, Несущего благо всем!
          Разрушающий узы рождений и смертей, да освободит Он нас от смерти ради
          Бессмертия!
        </p>
        <h2 class="u-title">АСАТОМА МАНТРА</h2>
        <p class="u-shloka">
          ОМ АСАТО МА САТ ГАМАЙЯ
          <br />
          ТАМАСО МА ДЖЬОТИР ГАМАЙЯ
          <br />
          МРИТЬЮР МА АМРИТАМ ГАМАЙЯ
        </p>
        <p class="u-text">
          От неистины веди меня к Истине, от тьмы веди меня к свету, от смерти
          веди меня к бессмертию.
        </p>
        <h2 class="u-title">ГУРУ МАНТРА</h2>
        <p class="u-shloka">
          ГуруР БРАХМА ГуруР ВИШНУ
          <br />
          ГуруР ДЭВО МАХЕШВАРА
          <br />
          Гуру САКШАТ ПАРАБРАХМА
          <br />
          ТАСМАЙ ШРИ ГУРАВЕ НАМАХА
        </p>
        <p class="u-text">
          Гуру – это Брахма, Гуру – это Вишну, Гуру – это Господь Махешвара.
          Гуру – это сам Парабрахман. Тому Шри Гуру поклонение!
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Прартхана</summary>
      <div class="u-collapse-aria">
        <p class="u-text">Поется открывающая молитва Прартхана</p>
        <p class="u-shloka">
          ОМ СВАРУПАЯ НАМАХА
          <br />
          ОМ ШРИ САТГУРАВЕ НАМАХА
          <br />
          ОМ ДРАМ ДАТТАТРЕЙЯЯ НАМАХА
        </p>
        <p class="u-text">
          Истинной природе поклонение! Духовному учителю поклонение! Ом,
          Бхагавану Даттатрее поклонение!
        </p>
        <p class="u-shloka">
          ОМКАРАМ БИНДУ САМЬЮКТАМ
          <br />
          НИТЬЯМ ДХЬЯЯНТИ ЙОГИНАХ
          <br />
          КАМАДАМ МОКША ДАМ ЧАЙВА
          <br />
          ОМКАРАЯ НАМО НАМАХА
        </p>
        <p class="u-text">
          Йоги всегда медитируют на отмеченный анусварой слог Ом, исполняющий
          все желания и дарующий освобождение. Мы почтительно склоняемся перед
          Омкарой
        </p>
        <p class="u-shloka">
          ГуруР БРАХМА, ГуруР ВИШНУ
          <br />
          ГуруР ДЕВО МАХЕШВАРА
          <br />
          ГуруР САКШАТ ПАРАБРАХМАН
          <br />
          ТАС МАЙ ШРИ ГУРАВЕ НАМАХА
        </p>
        <p class="u-text">
          Гуру – это Брахма, Гуру – это Вишну, Гуру – это Господь Махешвара.
          Гуру – это сам Парабрахман, Тому Шри Гуру поклонение!
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Даттатрея стотра</summary>
      <div class="u-collapse-aria">
        <p class="u-shloka">
          АСЬЯ ШРИ ДАТТАТРЕЙЯ СТОТРАМ
          <br />
          ШРИ ГАНЕШАЯ НАМАХА!
        </p>
        <p class="u-shloka">
          ДЖАТА ДХАРАМ ПАНДУРАНГАМ
          <br />
          ШУЛА ХАСТАМ КРИПА НИДХИМ
          <br />
          САРВА РОГА ХАРАМ ДЕВАМ
          <br />
          ДАТТАТРЕЙАМ АХАМ БХАДЖЕ
        </p>
        <p class="u-text">
          Имеющий спутанные волосы, являющийся Пандурангой (Вишну), с трезубцем
          в руке, океан милосердия. Божественный избавитель от всех болезней –
          Даттатрея, я поклоняюсь Тебе.
        </p>
        <p class="u-shloka md:text-left">
          АСЙА ШРИ ДАТТАТРЕЙА СТОТРА МАНТРАСЙА
          <br />
          БХАГАВАН НАРАДА РУШИХИ
          <br />
          АНУШТУП ЧАНДАХА
          <br />
          ШРИ ДАТТА ПАРАМАТМА ДЕВАТА
          <br />
          ШРИ ДАТТА ПРИТЙАРТХЕ ДЖАПЭ ВИНИЙОГАХА
        </p>
        <p class="u-text">
          Мантры этого гимна Даттатрее божественный мудрец Нарада сочинил в
          стихотворном размере ануштубх. Шри Датта, Высшая душа, Божество [этого
          гимна]. Чтобы порадовать Шри Датту, поется этот гимн.
        </p>
        <p class="u-shloka">
          ДЖАГАД УТПАТХИ КАРТРЕ ЧА
          <br />
          СТХИТИ САМХАРА ХЕТАВЕ
          <br />
          БХАВА ПАША ВИМУКТАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Источник мира, его творец, хранитель и разрушитель, дарующий
          освобождение от привязанностей к миру – Даттатрея, мы склоняемся перед
          Тобой.
        </p>
        <p class="u-shloka">
          ДЖАРА ДЖАНМА ВИНАШАЙА
          <br />
          ДЕХА ШУДДХИ КАРАЯ ЧА
          <br />
          ДИГАМБАРА ДАЙА МУРТЕ
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Разрушитель печали, рождения и старости, очищающий наше тело и душу,
          одеянием Тебе служит Небо. Даттатрея, мы склоняемся перед Тобой.
        </p>
        <p class="u-shloka">
          КАРПУРА КАНТИ ДЕХАЙА
          <br />
          БРАХМА МУРТИ ДХАРАЯ ЧА
          <br />
          ВЕДА ШАСТРА ПАРИДЖНАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Твое тело лучезарное, как горящая камфара. Ты – проявленный образ
          Брахмы. Ты овладел всеми Ведами и писаниями. Даттатрея, мы склоняемся
          перед Тобой.
        </p>
        <p class="u-shloka">
          РХАСВА ДИРГХА КРИША СТХУЛА
          <br />
          НАМА ГОТРА ВИВАРДЖИТА
          <br />
          ПАНЧА БХУТАИКА ДИПТАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Поклоняюсь Даттатрее, Который далеко за пределами тонкого, плотного,
          короткого и высокого, Кто не может быть ограничен именем или кастой, И
          Кто сияет в пяти стихиях мира.
        </p>
        <p class="u-shloka">
          ЯДЖНА БХОКТЕ ЧА ЯДЖНАЙА
          <br />
          ЯДЖНА РУПА ДХАРАЙА ЧА
          <br />
          ЯДЖНА ПРИЙАЯ СИДДХАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Поклоняюсь Даттатрее, Кто есть результат пяти жертвоприношений,
          Который является самим жертвенным огнем, Кто принимает форму
          жертвенного огня, Святой, Который любит жертвенный огонь.
        </p>
        <p class="u-shloka">
          АДАУ БРАХМА МАДХЙА ВИШНУ
          <br />
          АНТЕ ДЕВА САДА ШИВАХА
          <br />
          МУРТИ ТРАЙА СВАРУПАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Поклоняюсь Даттатрее, который в начале – Творец, Который в середине –
          Вишну, Хранитель, Который в конце – Шива, Разрушитель, И Кто есть
          Господь, представляющий Тримурти.
        </p>
        <p class="u-shloka">
          БХОГА ЛАЙАЯ БХОГАЙА
          <br />
          ЙОГА ЙОГЙАЯ ДХАРИНЕ
          <br />
          ДЖИТЕНДРИЙА ДЖИТА ДЖНАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Ты источник всех удовольствий и Ты само удовольствие. О, мастер йоги!
          О совершенный повелитель своих чувств, Даттатрея, мы склоняемся перед
          Тобой.
        </p>
        <p class="u-shloka">
          ДИГАМБАРАЙА ДИВЬЯЯ
          <br />
          ДИВЬЯ РУПА ДХАРАЙА ЧА
          <br />
          САДОДИТА ПАРА БРАХМА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Твое одеяние – это лишь стороны света, Твоя форма сияет
          божественностью, Ты вечный, высший, Брахман, Даттатрея, мы склоняемся
          перед Тобой.
        </p>
        <p class="u-shloka">
          ДЖАМБУ ДВИПА МАХАКШЕТРА
          <br />
          МАТА ПУРА НИВАСИНЕ
          <br />
          ДЖАЙА МАНАСА ТАМ ДЕВА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЭ
        </p>
        <p class="u-text">
          В Джамбудвипе, на великой земле, находится Твое жилище Матапура.
          Победивший ум, Ты сам являешься Божеством. Даттатрея, мы склоняемся
          перед тобой.
        </p>
        <p class="u-shloka">
          БХИКШАТАНАМ ГРИХЕ ГРАМЭ
          <br />
          ПАТРАМ ХЕМАМАЙАМ КАРЭ
          <br />
          НАНА СВАДА МАЙИ БХИКША
          <br />
          ДАТТАТРЕЙА НАМОСТУТЭ
        </p>
        <p class="u-text">
          Как обнаженный нищий, Ты движешься от дома к дому, из деревни в
          деревню, с золотой чашей в руках, собирая милостыню. Даттатрея, мы
          склоняемся перед Тобой.
        </p>
        <p class="u-shloka">
          БРАХМА ДЖНАНА МАЙИ МУДРА
          <br />
          ВАСТРЕ ЧА АКАША БХУТАЛЕ
          <br />
          ПРАДЖНАНА ГХАНА БОДХАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Поклоняюсь Даттатрее, Кто заключает в себе знание Абсолюта, Кто носит
          небо и землю как свои одежды, Кто есть три стадии: бодрствование, сон
          и глубокий сон.
        </p>
        <p class="u-shloka">
          АВАДХУТА САДАНАНДА
          <br />
          ПАРАБРАХМА СВАРУПИНЭ
          <br />
          ВИДЭХА ДЭХА РУПАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЭ
        </p>
        <p class="u-text">
          Авадхута, вечно-блаженный, твоя природа – Парабрахман. Имея тело, Ты –
          вне тела. Даттатрея, мы склоняемся перед Тобой.
        </p>
        <p class="u-shloka">
          САТЙАМ РУПА САДАЧАРА
          <br />
          САТЙА ДХАРМА ПАРАЙАНА
          <br />
          САТЙАШРАЙА ПАРОКШАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Поклоняюсь Даттатрейе, Кто есть олицетворение истины, чье поведение
          совершенно, Кто следует истине как своей дхарме, Кто является
          прибежищем истины, и Кто не имеет видимой формы.
        </p>
        <p class="u-shloka">
          ШУЛА ХАСТА ГАДА ПАНЕ
          <br />
          ВАНА МАЛЯ СУКАН ДХАРА
          <br />
          ЯДЖНА СУТРА ДХАРА БРАХМАН
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Поклоняюсь Даттатрее, Кто держит в руках трезубец и булаву, Кто носит
          гирланду из душистых полевых цветов, и Кто является главным
          исполнителем огненных жертвоприношений.
        </p>
        <p class="u-shloka">
          КШАРАКШАРА СВАРУПАЙА
          <br />
          ПАРАТ ПАРА ТАРАЙА ЧА
          <br />
          ДАТТА МУКТИ ПАРА СТОТРА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЭ
        </p>
        <p class="u-text">
          Поклоняюсь Даттатрее, Чья природа одновременно тленна и нетленна. Кто
          вышел за пределы трансцендентной реальности. Датта освобожденный,
          высшая хвала Тебе!
        </p>
        <p class="u-shloka">
          ДАТТА ВИДЙАДХЙА ЛАКШМИЧА
          <br />
          ДАТТА СВАТМА СВАРУПИНЕ
          <br />
          ГУНА НИРГУНА РУПАЙА
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Поклоняюсь Даттатрее, Кто является величайшим знанием, Господином
          Лакшми, Датте, Который имеет форму души, и Кто имеет форму с
          качествами и без качеств.
        </p>
        <p class="u-shloka">
          ШАТРУ НАШАКАРАМ СТОТРАМ
          <br />
          ДЖНАНА ВИДЖНАНА ДАЙАКАМ
          <br />
          САРВА ПАПАМ ШАМАМ ЙАТИ
          <br />
          ДАТТАТРЕЙА НАМОСТУТЕ
        </p>
        <p class="u-text">
          Поклоняюсь Даттатрее, Который уничтожает моих врагов, Кто дарует мне
          знания и мастерство, и Кто уничтожает все мои грехи.
        </p>
        <p class="u-shloka">
          ИДАМ СТОТРАМ МАХАДИВЙАМ
          <br />
          ДАТТА ПРАТЙАКША КАРАКАМ
          <br />
          ДАТТАТРЕЙА ПРАСАДАЧЧА
          <br />
          НАРАДЭНА ПРАКИРТИТАМ
        </p>
        <p class="u-text">
          Этот великий божественный гимн дарует прямое восприятие реальности. Я,
          Нарада, сочинил его только благодаря милости Даттатреи.
        </p>
        <p class="u-shloka">
          ИТИ ШРИ НАРАДА ПУРАНЭ НАРАДА КРТАМ
          <br />
          ДАТТАТРЕЙА СТОТРАМ САМПУРНАМ
          <br />
          ШРИ ДАТТАРЕЙА ПАРАМАСТУ
        </p>
        <p class="u-text">
          Так заканчивается Даттатрея стотра в Нарада пуране.
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Второй поклон</summary>
      <div class="u-collapse-aria">
        <p class="u-text">
          Выполняется второй поклон из практики пяти поклонов.
        </p>
        <p class="u-text">
          Поклон Истинной Дхарме (выполняется под звук колокольчика).
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Дигамбара мантра</summary>
      <div class="u-collapse-aria">
        <p class="u-text">
          Поется молитва-почитание Даттатреи в аспекте «одетого в стороны света»
          – дигамбары
        </p>

        <p class="u-shloka">
          ДИГАМБАРА ДИГАМБАРА
          <br />
          ШРИ ПАДАВАЛЛАБХА ДИГАМБАРА
        </p>
        <p class="u-text">
          Одетому в пространство поклонение! Святому Шрипаде Валлабхе
          поклонение!
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Третий поклон</summary>
      <div class="u-collapse-aria">
        <p class="u-text">
          Выполняется третий поклон из практики пяти поклонов.
        </p>
        <p class="u-text">
          Поклон Святой Сангхе (выполняется под звук колокольчика).
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Мантра Даттатрее</summary>
      <div class="u-collapse-aria">
        <p class="u-text">Поется семенная мантра Даттатреи, 7 раз.</p>
        <p class="u-shloka">ОМ ДРАМ ДАТТАТРЕЙАЙА НАМАХА</p>
        <p class="u-text">Ом, Бхагавану Даттатрее поклонение!</p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Гаятри мантра Даттатреи</summary>
      <div class="u-collapse-aria">
        <p class="u-text">Поется гаятри мантра Даттатреи.</p>
        <p class="u-shloka">
          ОМ ДАТТАТРЕЙАЙА ВИДМАХЕ
          <br />
          АТРИПУТРАЙА ДХИМАХИ
          <br />
          ТАННО ДАТТА ПРАЧОДАЙАТ
        </p>
        <p class="u-text">
          Ом! Да услышит нас Даттатрея! Мы медитируем на сына Атри. Да дарует
          нам Даттатрея свою силу просветления!
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Гаятри мантра Брахмананды</summary>
      <div class="u-collapse-aria">
        <p class="u-text">Поется гаятри мантра Брахмананды.</p>
        <p class="u-shloka">
          ОМ СИДДХА ЙОГИ ВИДМАХЕ
          <br />
          ПАРАМАХАМСАЙА ДХИМАХИ
          <br />
          ТАННО ПРАБХАКАРА ПРАЧОДАЙАТ
        </p>
        <p class="u-text">
          Ом! Да услышит нас сиддха йоги Прабхакара! Мы медитируем на
          Парамахамсу. Да осветит Шива Прабхакара наш разум!
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Молитва к Брахмананде</summary>
      <div class="u-collapse-aria">
        <p class="u-text">Поется молитва к Парамгуру Брахмананде.</p>

        <p class="u-shloka">
          ПРАБХАКАРАМ ШАНКАРА ЛОЧАНАМ
          <br />
          ПРАБХАНКУРАМ ШАКТИ ВИШЕША ДАЙАКАМ
          <br />
          ПРАБХАКАРА ШРИ ШИВА СИДДХА ЙОГИНАМ
          <br />
          СМАРААМИ НИТЙАМ МАНАСА НАМАМЙАХАМ
        </p>
        <p class="u-text">
          Человек с глазами Господа Шивы, Рассвет, который рождает силу! Я держу
          тебя в своей памяти каждый день И склоняю голову перед тобой.
        </p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Мантра Брахмананды</summary>
      <div class="u-collapse-aria">
        <p class="u-text">Поется мантра Брахмананды, 3 раза.</p>
        <p class="u-shloka">
          ОМ НАМО НАМАХ ШИВАЙА
          <br />
          ОМ ШИВА ПРАБХАКАРАЙА
        </p>
        <p class="u-text">Ом поклонение, поклонение Шиве, Шиве Прабхакаре!</p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Джайя кара</summary>
      <div class="u-collapse-aria">
        <p class="u-text">Звучят восхваления.</p>
        <p class="u-shloka">
          БХАГАВАН ШРИ АВАДХУТА ДАТТАТРЕЙЯ КИ — ДЖЕЙ!
          <br />
          БХАГАВАН ШИВА ПРАБХАКАРА СИДДХАЙОГИ ШРИ Гуру БРАХМАНАНДА АВАДХУТА КИ — ДЖЕЙ!
          <br />
          ШРИ Гуру СВАМИ ВИШНУДЕВАНАНДА ГИРИ ДЖИ КИ — ДЖЕЙ!
          <br />
          САТЬЯ САНАТАНА ДХАРМА КИ — ДЖЕЙ!
          <br />
          ЛАЙЯ ЙОГА Гуру ПАРАМПАРА КИ- ДЖЕЙ!
          <br />
          САХАДЖА ДХАРМА КИ-ДЖЕЙ!
          <br />
          АРЬЯ САНГХА КИ-ДЖЕЙ!
        </p>
      </div>
    </details>

    <div class="mx-auto flex max-w-2xl flex-col justify-center">
      <h2
        class="mt-5 mb-2 w-full rounded-md bg-amber-100 p-2 text-xl md:mt-7 md:text-2xl lg:mt-10 dark:bg-slate-700"
      >
        Звучит раковина
      </h2>
    </div>

    <details class="u-collapse">
      <summary class="u-summary">Четвертый поклон</summary>
      <div class="u-collapse-aria">
        <p class="u-text">
          Выполняется четвертый поклон из практики пяти поклонов.
        </p>
        <p class="u-text">Поклон Самайе (выполняется под звук колокольчика).</p>
      </div>
    </details>

    <details class="u-collapse">
      <summary class="u-summary">Текст сутры</summary>
      <div class="u-collapse-aria">
        <h2 class="u-title">Шлоки сутр по дням</h2>

        <details>
          <summary>1</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Шуддха Дхарма сказал: «Пойми, о Анама, весь мир как иллюзию, как
              мираж в пустыне. Познай, существует лишь неделимое, бесформенное,
              всепронизывающее Сознание – Источник. Он превыше учений и методов
              йоги. Нет иного Бхагавана, кроме нерожденного Ума. Называют его
              Пустотой или Праджняной, но не ведают сути. Познай, о Анама, твое
              «Я» – подобно пространству, непостижимое, незапятнанное и
              бесконечное, безупречное, полное блаженства. Оно, а не что-то
              другое, лежит в основании вселенной имен и форм. В нем нет ни
              рождения, ни смерти. /Освобождающий нектар драгоценных
              наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>2</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Единый Атман есть всё. В Нём нет ни разделения, ни неразделения.
              «Он существует», «Он не существует» - эти высказывания о Нём
              кажутся мне бессмысленными. Суть всей Веданты – это знание и
              осознание Атмана. Я есть Атман, бесформенный и всепронизывающий по
              самой своей природе. /Авадхута-Гита/
            </p>
          </div>
        </details>

        <details>
          <summary>3</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Вода может быть спокойной или взволнованной – также и Брахман
              может быть спокойным или неспокойным. Такова его природа. Это
              глупость и непонимание делят единое на «это сознательное
              существо», а «это бессознательная материя» - мудрые не
              придерживаются таких ошибочных точек зрения. Потому для глупца мир
              полон страданий, для мудрого тот же мир полон блаженства, как для
              слепого весь мир погружен в тьму, а для того, кто видит, мир полон
              света. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>4</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Для тебя нет ни рождения, ни смерти, у тебя нет ума, для тебя не
              существует ни связанности, ни освобождения, ни благого, ни
              неблагого. Почему же ты рыдаешь, сын Мой? Имя и форма не относятся
              ни к тебе, ни ко Мне. /Авадхута-Гита/
            </p>
          </div>
        </details>

        <details>
          <summary>5</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Ты не рождался и не умрёшь. У тебя никогда не было тела. “Всё есть
              Брахман” – так говорят многие священные писания. Ты внутри и
              снаружи. Ты – Шива, который есть всегда и повсюду. /Авадхута-Гита/
            </p>
          </div>
        </details>

        <details>
          <summary>6</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Высшее Я остается самим собой, даже если энергии мира вызывают
              бесконечные волнения на поверхности океана сознания. В этом мире
              нет ничего независимого от Брахмана, что можно назвать «телом» или
              еще чем. То, что видится как тело, и то, что видится как понятия,
              объекты восприятия, разрушающееся и нерушимое, мысли и чувства и
              их значения – все это есть Брахман в Брахмане – бесконечном
              сознании. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>7</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Если хочешь жить без страданий – не порождай понятий того или
              этого, созерцая, не отвлекайся днем и ночью. Исследуя «я», ищи его
              корень-основу, обнаружив – поймешь: есть один Бхагаван –
              нираламбха, поклоняясь ему, воистину, тебе не на что опереться!
              Познай состояние без опоры как само совершенство и пребывай
              уверенно в свободе!» /Освобождающий нектар драгоценных
              наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>8</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              «Из-за авидьи – демона неведения, вся вселенная, которой никогда
              не было, видится непросветленному грудой объектов. Из-за асмиты –
              демона забвения совершенного Источника – Ума, «я» кажется реально
              существующим. Из-за раги – демона привязанности к двойственности,
              мы живем в клетке этого мира. Отсеки корни неведения! Познай
              истинную природу «Я»! Нет иного Бхагавана, кроме Ума!
              /Освобождающий нектар драгоценных наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>9</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Двойственность видна только глазами непонимающих. Разум,
              интеллект, чувство эго, космические изначальные элементы, чувства
              и все разнообразные феномены есть только Брахман, удовольствие и
              боль – просто бессмысленные слова и иллюзии. Как звук в горах
              вызывает многочисленные эхо, так же и единое космическое сознание
              ощущает множественность внутри себя, с такими понятиями, как «это
              я» и «это мой разум» и т.д. Единое космическое сознание видит
              множественность в себе, как видящему сон снятся разнообразные
              объекты внутри него самого. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>10</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Нет Брахмана иного, кроме Сознания! Все явления, такие, как мир и
              тело – проекции Сознания. А Сознания в самом деле не существует,
              оно пусто в своей сути. Высшая Реальность «Я» абсолютно чиста, и
              за пределами усилий. Хотя она и пуста, все постоянно возникает в
              ней. /Освобождающий нектар драгоценных наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>11</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              В разбитом кувшине пространство внутри кувшина растворяется в
              беспредельном пространстве. Очищенный Ум становится единым с
              Шивой. Никакое разделение не проявляется во Мне. Нет кувшина и
              пространства внутри него, нет дживы, нет тела дживы. Знай: есть
              только Брахман, лишенный познаваемого и познающего.
              /Авадхута-Гита/
            </p>
          </div>
        </details>

        <details>
          <summary>12</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Будучи всемогущим, Брахман становится всем тем, чем пожелает, безо
              всяких мотиваций для этого. Знающие Брахмана заявляют, что Брахман
              это Бог, великое неподвижное существо, без движения, действия и
              инструмента действия, лишенное причинной мотивации и неизменяемое.
              Когда эта истина не понимается, это проявляется как глупость в
              глупом, но когда она понимается, глупость оканчивается. Когда
              родственника не узнают, он остается чужим, когда он узнается,
              пропадает понятие чужого. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>13</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              В совершенном Уме нет разделений на учения, касты и философии.
              Нерожденный, вечно свободный Ум – Брахман, не имеет ни начала, ни
              середины, ни формы, ни бесформенности, он не постигает и не объект
              постижения. В Высшей Реальности нет ни признаков, ни ярлыков, как
              я могу сказать о ней то или это? Никакие утверждения на нее не
              влияют, никакие отрицания не заставят ее прекратиться, а потому –
              преодолей сомнения, обнаружив ее в себе самоисследованием и
              созерцанием! /Освобождающий нектар драгоценных наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>14</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Атман существует повсюду, всегда и во всём. Он вечный и низменный.
              Всё есть пустота и не пустота. Знай: Я – этот Атман, не сомневайся
              в этом. /Авадхута-Гита/
            </p>
          </div>
        </details>

        <details>
          <summary>15</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Если ты знаешь, что двойственность - это проявленная иллюзия, ты
              знаешь абсолютного Брахмана. Если ты знаешь, что «это не я», -
              понимается нереальность чувства эго. Отсюда возникает
              непривязанность к нему. «Я воистину есть великий Брахман» - когда
              понимается эта истина, индивидуальные проявления всего сливаются в
              этом понимании. Когда понимается вся несостоятельность понятий «я»
              и «ты», возникает понимание истины и ты понимаешь, что все это,
              воистину, есть великий Брахман. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>16</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Если самоисследованием снова и снова проникаешь в свое «Я» –
              увидишь его Пустоту, полную света. Если исследуешь этот свет,
              поймешь: безупречное Сознание узнает себя прямо как совершенно
              чистого Брахмана. Так же, как лев видит в реке свое отражение, или
              словно царь, видя дурные сны, просыпается на своем троне, вспомнив
              себя царем, о сын, узнав себя, рычи, танцуя в пространстве!»
              /Освобождающий нектар драгоценных наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>17</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Некоторые желают двойственности, другие желают недвойственности,
              но они не достигают Истины, лишенной двойственности и
              недвойственности. Она лишена цвета, белого или иных цветов. Она
              лишена качеств, таких как звук или иных. Как говорить о Ней,
              недостижимой умом и речью? Когда всё в этом мире, включая тело и
              прочее, становится нереальным и пустотным, подобно пространству,
              тогда познаётся Брахман, и не будет никакой двойственности.
              /Авадхута-Гита/
            </p>
          </div>
        </details>

        <details>
          <summary>18</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Что есть истина? «Я не имею никакого отношения к страданиям,
              действиям, желаниям и непониманиям. Я нахожусь в спокойствии,
              свободный от страданий. Я есть Брахман», – такова истина. «Я
              свободен от всех недостатков, я есть все, я не ищу ничего и ничего
              не покидаю, я есть Брахман», - такова истина. «Я есть моя кровь,
              плоть, кость, тело, сознание, разум, я есть Брахман», – такова
              истина. «Я есть основа, я есть пространство, я есть солнце и все
              пространство, я есть все здесь, я есть Брахман», – такова истина.
              «Я есть травинка, я вся земля, я пень, я лес, я гора и океаны, я
              есть недвойственный Брахман» – такова истина. «Я есть сознание, на
              которое все нанизано и благодаря чему все занимаются тем чем
              занимаются, я суть всех вещей», – такова истина. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>19</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              «Уловленные в глубокий колодец шести философий, глупцы
              придерживаются умственных учений о том, что Брахман находится в
              теле, или что он создатель или разрушитель форм, или же о том, что
              он не имеет формы, или что он – Пустота, или что он есть все.
              Мудрые же – избегают любых, утешающих ум, учений и понятий, просто
              прямо глядя в них, обнажая меч осознавания. Так созерцая, пойми –
              твой Ум подобен небесному пространству, у него нет ни верха, ни
              низа, ни центра, ни границ. Созерцать всевышнюю Реальность – это
              пребывать, не отвлекаясь, в присутствии, где нет ни края, ни
              центра, оставляя все, отдаваясь ему! Затем, оставь оставление и
              себя, оставляющего!» /Освобождающий нектар драгоценных
              наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>20</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              “Я” и Высшее “Я” являются нераздельными подобно единому
              пространству. Как, в таком случае, может быть созерцающий и
              созерцание? Что бы Я ни делал, что бы ни вкушал, какие бы
              жертвоприношения ни совершал, и чего бы ни отдавал – ничто из
              этого не принадлежит Мне. Я чистый, нерождённый и неизменный.
              /Авадхута-Гита/
            </p>
          </div>
        </details>

        <details>
          <summary>21</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Как одинаков вкус сахара, сделанного из сахарного тростника,
              выращенного в разных местах, также и сознание, обитающее во всех
              существах, – едино, и я являюсь этим сознанием. Я есть эта
              сознательная энергия, которая больше всей вселенной и меньше
              самого мелкого атома и потому невидимая. Я есть сознание,
              существующее повсюду, как масло в молоке, и чья истинная природа
              есть ощущение. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>22</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Йогин сказал: «На пути Дхармы ищи благословения Гуру, затем
              убедись: Брахман – это твой Ум в его основе. Он изначально
              свободен от рождения и смерти. Решись один раз войти в него и
              вечно пребывай в этом невымышленном, нерожденном присутствии. На
              острове драгоценностей нет грязи. Если самосверкающая чистота
              изначально свободна и безупречна, разве найдешь что-то нечистое?
              Если все – его игра, как мысли и чувства могут помешать ему? Тот,
              кто понял, никогда не утратит практику». /Освобождающий нектар
              драгоценных наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>23</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Только бесконечное сознание существует повсюду и всегда. То, что
              кажется существующим, - только кажется. Когда иллюзорная внешняя
              форма осознается как таковая, осознается и то, что ЕСТЬ. Или
              осознай, что «я не существую и эти ощущения не мои», или знай, что
              «я есть все», и ты будешь свободен от сетей кажущегося мира. Обе
              эти точки зрения хороши – прими ту, которая тебе больше нравится.
              Ты освободишься от стремлений и отвращений. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>24</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Как все золотые украшения являются золотом, так Я есть чистое
              сознание в этом теле. Я есть высшее Я, находящееся во всех
              существах, внутри и вовне. Я есть это сознание, которое отражает
              все ощущения, само не претерпевая никаких изменений, и не
              затрагиваясь нечистотой. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>25</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Отпусти ум, отсеки цепляния, прими Реальность в объятия
              созерцания, подобного пространству. Устойчиво созерцай, не
              созерцая, день и ночь практикуй без усилий, отбросив понятия о
              практикующем, но без отвлечения, оставь вещи пребывать, как они
              есть. Разве это не истинное Просветление?» /Освобождающий нектар
              драгоценных наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>26</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Четкое понимание и осознание очищает собственную сущность, и она
              не будет снова загрязнена. Что это за четкое верное понимание? Это
              понимание того, что этот мир – только отражение чистого сознания и
              потому не является ни реальным, ни не реальным. Рождение, смерть,
              рай, знание и невежество – все это только отражение сознания. Я,
              ты, стороны света и вообще все является сознанием – таково верное
              понимание. Когда есть верное понимание, разум не возникает и не
              пропадает, а достигает высшего спокойствия. Он не занимается
              хвалой или осуждением, восторгом или депрессией, но постоянно
              спокоен и находится в истине. /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>27</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Это сознание является истиной сущностью существования и
              несуществования, и там находится все прекрасное и божественное.
              Оно играет роли всех существ и оно является источником всей
              нежности и спокойствия, оставаясь при этом единым и свободным. Это
              есть жизнь во всех живых существах, несозданный нектар, который
              никто не может украсть, вечно существующая реальность. /Йога
              Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>28</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Йогин сказал: «Мудрость естественного присутствия превосходит
              любые ограничения и присутствует во всех чувствах и объектах. В
              практике следует опираться на Гуру. Гуру – есть сама проявленная
              сущность Ума, которая никогда не проявляется иначе. Когда корень
              Ума обнаружен как неизменный, не остается другого Просветления,
              которое нужно искать еще где-то. Ты не можешь стать ТЕМ во второй
              раз. Поняв это – будь свободен!» /Освобождающий нектар драгоценных
              наставлений/
            </p>
          </div>
        </details>

        <details>
          <summary>29</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Я не являюсь ни деятелем, ни наслаждающимся. Во Мне нет ни
              прошлой, ни нынешней кармы. У меня нет тела или бестелесности, как
              же Я могу говорить, что оно “Моё” или “не Моё”? У меня нет страсти
              и прочих пороков. У меня нет тела, страданий и прочего. Знай, Я –
              Атман, который един и обширен, подобно пространству.
              /Авадхута-Гита/
            </p>
          </div>
        </details>

        <details>
          <summary>30</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Я созерцаю это бесконечное осознание, которое присутствует в
              пране, но которое не есть ни прана и ни что другое. Я созерцаю это
              осознание, которое есть дыхание дыхания, жизнь жизни, которое
              единственно ответственно за сохранение этого тела, разум разума,
              интеллект интеллекта, реальность чувства эго. Я приветствую это
              сознание в котором находится все, и откуда все появляется, которое
              есть все и которое все во всем и бесконечно, очищающее все и
              видение чего – высшая добродетель. Я приветствую это осознание,
              которое позволяет функционировать органам чувств, которое есть
              сущность внешнего и внутреннего, единственная цель всех практик и
              причина всех причин. Я ищу прибежища у этого высшего существа.
              /Йога Васиштха/
            </p>
          </div>
        </details>

        <details>
          <summary>31</summary>
          <div class="u-collapse-aria">
            <p class="u-text">
              Познай всю эту Вселенную, как не имеющую формы. Познай всю эту
              Вселенную, как лишенную изменений. Познай всю эту Вселенную, как
              чистое существование. Познай всю эту Вселенную, как единую с
              Шивой. /Авадхута-Гита/
            </p>
          </div>
        </details>
      </div>
    </details>

    <div class="mx-auto flex max-w-2xl flex-col justify-center">
      <h2
        class="mt-5 mb-2 w-full rounded-md bg-amber-100 p-2 text-xl md:mt-7 md:text-2xl lg:mt-10 dark:bg-slate-700"
      >
        Гуру йога с Ом
      </h2>
    </div>

    <details class="u-collapse">
      <summary class="u-summary">Пятый поклон</summary>
      <div class="u-collapse-aria">
        <p class="u-text">
          Выполняется пятый поклон из практики пяти поклонов.
        </p>
        <p class="u-text">
          Поклон Единой Самайе созерцания (выполняется под звук колокольчика).
        </p>
      </div>
    </details>

    <div class="mx-auto flex max-w-2xl flex-col justify-center">
      <h2
        class="mt-5 mb-2 w-full rounded-md bg-amber-100 p-2 text-xl md:mt-7 md:text-2xl lg:mt-10 dark:bg-slate-700"
      >
        Звучит раковина
      </h2>
    </div>

    <details class="u-collapse">
      <summary class="u-summary">Простирание</summary>
      <div class="u-collapse-aria">
        <p class="u-text">Выполняется полное простирание в сторону алтаря.</p>
      </div>
    </details>

    <div class="mx-auto flex max-w-2xl flex-col justify-center">
      <h2
        class="mt-5 mb-2 w-full rounded-md bg-amber-100 p-2 text-xl md:mt-7 md:text-2xl lg:mt-10 dark:bg-slate-700"
      >
        Практика завершена!
      </h2>
    </div>
  </section>
</Layout>
