---
import { Image } from "astro:assets";
import bannerYoga from "../assets/banners/retrit.webp";
---

<div
  id="dharana"
  class="mt-10 flex w-full flex-col gap-10 font-light text-gray-700 md:mt-12 lg:mt-14 lg:gap-20 xl:mt-16 2xl:mt-20 dark:text-gray-300"
>
  <div class="flex w-full flex-col justify-between gap-5 lg:flex-row">
    <a href="/mdc-events/dhiyana" class="lg:w-6/12">
      <Image
        src={bannerYoga}
        alt="Дхьяна в мегаполисе"
        class="w-full rounded shadow-md lg:rounded-xl"
      />
    </a>
    <div
      class="flex w-full flex-col justify-between text-lg text-gray-500 lg:w-6/12 dark:text-amber-100"
    >
      <p
        class="w-full text-center text-xl font-bold text-gray-700 xl:text-2xl 2xl:text-3xl dark:text-amber-600"
      >
        Дхьяна в мегаполисе
      </p>

      <p class="text-sm md:text-base">• Ретрит выходного дня</p>
      <p class="text-sm md:text-base">• 24 мая с 9:30 до 19:00</p>
      <p class="text-sm md:text-base">• За свободные пожертвования</p>
      <p class="text-sm md:text-base">• Центр йоги ШактиМа</p>
      <p class="text-sm md:text-base">• Проводит Тиртхадева</p>
      <div class="mt-5 flex w-full justify-center">
        <a
          href="/mdc-events/dhiyana"
          class="my-button w-min rounded-xs border border-gray-300 px-3 py-2"
          >Подробнее</a
        >
      </div>
      <!-- <p class="text-sm md:text-base">
        • Подробнее
        <a
          href="/mdc-events/dhiyana"
          class="text-indigo-700 dark:text-amber-400"
        >
          здесь</a
        >
      </p> -->
    </div>
  </div>
</div>
