---
import { ThemeSwitch } from "astro-color-scheme";
import { Icon } from "astro-icon/components";
---

<ThemeSwitch strategy="button" defaultTheme="system">
  <button class="cursor-pointer">
    <span class="sr-only">Toggle Theme</span>
    <Icon
      name="mdi:moon-and-stars"
      class="hidden size-8 rounded-md border p-1 dark:block dark:text-amber-400"
    />
    <Icon
      name="mdi:white-balance-sunny"
      class="size-8 rounded-md border p-1 dark:hidden"
    />
  </button>
</ThemeSwitch>
