---
import { ThemeSwitch } from "astro-color-scheme";
---

<ThemeSwitch strategy="button" defaultTheme="system">
  <button class="cursor-pointer">
    <span class="sr-only">Toggle Theme</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      class="hidden size-7 rounded-md border p-1 dark:block dark:text-amber-400"
    >
      <path
        fill="currentColor"
        d="M12 11.807A9 9 0 0 1 10.049 2a9.94 9.94 0 0 0-5.12 2.735c-3.905 3.905-3.905 10.237 0 14.142c3.906 3.906 10.237 3.905 14.143 0a9.95 9.95 0 0 0 2.735-5.119A9 9 0 0 1 12 11.807"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      class="size-7 rounded-md border p-1 dark:hidden"
    >
      <path
        fill="currentColor"
        d="m6.76 4.84l-1.8-1.79l-1.41 1.41l1.79 1.79zM4 10.5H1v2h3zm9-9.95h-2V3.5h2zm7.45 3.91l-1.41-1.41l-1.79 1.79l1.41 1.41zm-3.21 13.7l1.79 1.8l1.41-1.41l-1.8-1.79zM20 10.5v2h3v-2zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6s6-2.69 6-6s-2.69-6-6-6m-1 16.95h2V19.5h-2zm-7.45-3.91l1.41 1.41l1.79-1.8l-1.41-1.41z"
      ></path>
    </svg>
  </button>
</ThemeSwitch>
