---
import { Image } from "astro:assets";
import divider from "/src/assets/gold/divider2.png";
---

<div class="mt-10 flex w-full justify-center">
  <Image src={divider} alt="golden-divider" class="h-7 w-auto" />
</div>
