---
import Logo from "./Logo.astro";
const navigation = [
  {
    title: "О центре",
    url: "/",
  },
  {
    title: "Расписание",
    url: "/raspisanie",
  },
  {
    title: "Календарь",
    url: "/calendar",
  },
  {
    title: "События центра",
    url: "/",
  },
  {
    title: "Упасана",
    url: "/upasana",
  },
  {
    title: "Блог",
    url: "/blog",
  },
  {
    title: "Контакты",
    url: "/contacts",
  },
  {
    title: "Поддержать нас",
    url: "/donate",
  },
];
---

<footer class="mx-auto bg-gray-50 px-2 dark:bg-slate-800 dark:text-gray-300">
  <div
    class="mx-auto mt-5 flex max-w-7xl flex-col justify-around gap-10 pt-10 text-sm md:flex-row lg:text-base"
  >
    <div class="">
      <a href="/"><Logo /></a>

      <div class="w-ful flex flex-col">
        <div
          class="max-w-md py-1 font-medium text-gray-500 xl:py-2 dark:text-gray-400"
        >
          Московский Дхарма центр Шакти Ма
        </div>

        <div
          class="grid w-full grid-cols-2 py-1 text-xs font-light text-gray-500 xl:py-2 dark:text-gray-400"
        >
          <div>
            <span>Медитации сиддхов</span>
          </div>

          <div>
            <span>Семинары и ретриты</span>
          </div>

          <div>
            <span>Пуджи и бхаджаны</span>
          </div>

          <div>
            <span>Кундалини и хатха йога</span>
          </div>

          <div>
            <span>Махашиваратри</span>
          </div>

          <div>
            <span>Ведические праздники</span>
          </div>
        </div>

        <div
          class="inlene-flex max-w-md items-center py-1 text-xs text-gray-500 xl:py-2 xl:text-sm dark:text-gray-400"
        >
          <span>На благо всех живых существ</span>
        </div>

        <div
          class="max-w-md py-1 text-xs text-gray-500 xl:py-2 xl:text-sm dark:text-gray-400"
        >
          © All Rights Reserved {new Date().getFullYear()}
        </div>
      </div>
    </div>

    <div class="md:col-span-4">
      <p class="w-full font-medium text-gray-500 dark:text-gray-400">Меню</p>
      <div class="mt-3 grid grid-cols-2 gap-1">
        {
          navigation.map((item, index) => (
            <a
              href={item.url}
              class="w-32 rounded-md p-1 text-xs font-light text-gray-500 transition-colors duration-300 hover:bg-gray-200 focus:bg-indigo-100 focus:text-red-500 focus:outline-none lg:text-sm dark:text-gray-400 dark:hover:bg-indigo-100 dark:hover:text-indigo-800 dark:focus:bg-red-800"
            >
              {item.title}
            </a>
          ))
        }
      </div>
    </div>

    <div class="md:col-span-3">
      <div class="w-full font-medium text-gray-500 dark:text-gray-400">
        Ресурсы
      </div>
      <div class="mt-3 flex flex-col gap-1 text-gray-500 dark:text-gray-400">
        <a
          href="https://www.advayta.org/"
          target="_blank"
          rel="noreferrer"
          class="flex w-44 items-center rounded-md p-1 text-xs font-light transition-colors duration-300 hover:bg-gray-200 lg:text-sm dark:hover:bg-indigo-100 dark:hover:text-indigo-800"
        >
          Cайт нашей традиции
        </a>

        <a
          href="https://t.me/mdc_ShaktiMa"
          target="_blank"
          rel="noopener"
          class="flex w-44 items-center rounded-md p-1 text-xs font-light transition-colors duration-300 hover:bg-gray-200 lg:text-sm dark:hover:bg-indigo-100 dark:hover:text-indigo-800"
        >
          <span class="">Канал в телеграм</span>
        </a>
        <a
          href="https://t.me/+GgiaV5DkPoE1OTBi"
          target="_blank"
          rel="noopener"
          class="flex w-44 items-center rounded-md p-1 text-xs font-light transition-colors duration-300 hover:bg-gray-200 lg:text-sm dark:hover:bg-indigo-100 dark:hover:text-indigo-800"
        >
          <span class="">Чат в телеграм</span>
        </a>
        <a
          href="https://www.siddhashop.com/"
          target="_blank"
          rel="noreferrer"
          class="flex w-44 items-center rounded-md p-1 text-xs font-light transition-colors duration-300 hover:bg-gray-200 lg:text-sm dark:hover:bg-indigo-100 dark:hover:text-indigo-800"
        >
          Сиддха шоп
        </a>
        <a
          href="https://www.youtube.com/@ShaktiMA_MDC"
          target="_blank"
          rel="noopener"
          class="flex w-44 items-center rounded-md p-1 text-xs font-light transition-colors duration-300 hover:bg-gray-200 lg:text-sm dark:hover:bg-indigo-100 dark:hover:text-indigo-800"
        >
          <span class="">YouTube</span>
        </a>
      </div>
    </div>
  </div>
</footer>
