<div class="mt-5 flex w-full flex-col justify-center gap-10">
  <p
    class="w-full text-center text-base font-light md:text-lg dark:text-amber-100"
  >
    Наш центр организован учениками просветленного мастера Адвайты - Гуру Свами
    Вишнудевананда Гири Махараджа. Мы являемся носителями традиции.
  </p>

  <div class="text-center text-xl dark:text-amber-100">
    Более <span class="text-red-400 dark:text-amber-400">2 000+</span>{" "}
    садху практикуют в нашей традиции
  </div>

  <div
    class="flex w-full flex-wrap justify-around gap-5 text-xs md:text-base lg:justify-center lg:gap-20"
  >
    <div class="font-light text-gray-400 dark:text-gray-500">В России</div>
    <div class="font-light text-gray-400 dark:text-gray-500">В Европе</div>
    <div class="font-light text-gray-400 dark:text-gray-500">В США</div>
    <div class="font-light text-gray-400 dark:text-gray-500">В Индии</div>
    <div class="font-light text-gray-400 dark:text-gray-500">В Непале</div>
  </div>
</div>
