---
import { Image } from "astro:assets"
import logo from "../assets/logo.jpg"
---

<div class="flex gap-2 items-center">
  <a href="/" >
    <Image src={logo} alt="logo" class="size-7 rounded-full">
  </a>
  <a href="/">
    <p class="text-4xl izmir text-red-500 text-center">ШактиМа</p>
  </a>
</div>