---
import { Image } from "astro:assets";
import logo from "../assets/logo.jpg";
---

<div class="flex items-center gap-2">
  <a href="/">
    <Image src={logo} alt="logo" class="size-7 rounded-full" />
    <a href="/">
      <p class="izmir text-center text-4xl text-red-500">ШактиМа</p>
    </a>
  </a>
</div>
