---
import { Image } from "astro:assets";
import hero from "../assets/hero.webp";
---

<div class="container flex w-full flex-wrap justify-between">
  <div class="flex w-full items-center justify-center lg:w-5/12">
    <div class="mb-8 flex h-full max-w-2xl flex-col justify-around">
      <h1
        class="textColor jaipur w-full text-center text-3xl leading-snug tracking-tight text-red-500 lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight dark:text-amber-600"
      >
        Московский Дхарма центр ШактиМа
      </h1>

      <p
        class="w-full text-center text-lg leading-normal font-light lg:text-xl xl:text-2xl"
      >
        <span class="font-bold text-red-500 dark:text-amber-600">
          Центр йоги
        </span>
        <span class="font-normal"> в традиции Пратьякша Адвайта сиддхов </span>
        <span class=""> (практической адвайты сиддхов) </span>
      </p>
      <div class="mt-5 flex w-full justify-center md:mt-10 lg:mt-20">
        <a href="/raspisanie" class="my-button px-8 py-4"> Начать практику </a>
      </div>
    </div>
  </div>
  <div class="flex w-full items-center justify-center lg:w-1/2">
    <Image
      src={hero}
      alt="Hero"
      loading="eager"
      class="h-auto w-full rounded-md object-cover shadow-lg"
    />
  </div>
</div>
