<div class="container flex flex-wrap justify-between w-full">
      <div class="flex items-center justify-center w-full lg:w-5/12">
        <div class="h-full max-w-2xl mb-8 flex flex-col justify-around">
          <h1 class="textColor w-full text-center text-3xl leading-snug tracking-tight text-red-500 dark:text-amber-600 lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight jaipur">
            Московский Дхарма центр ШактиМа
          </h1>

          <p class="w-full text-center text-lg leading-normal font-light lg:text-xl xl:text-2xl">
            Центр йоги в традиции Пратьякша Адвайта сиддхов
          </p>

          <div class="mt-5 md:mt-10 lg:mt-20 w-full flex justify-center">
            <a
              href="/raspisanie"
              class="px-8 py-4 my-button">
              Начать практику
            </a>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center w-full lg:w-1/2">
        <img
          src="../../public/hero/hero.webp"
          class="object-cover w-full h-auto rounded-md shadow-lg"
          alt="Hero Illustration"
          loading="eager"
        />
      </div>
    </div>
