---
import { Astronav, MenuItems, Dropdown, DropdownItems } from "astro-navbar";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import tilak from "../assets/tilaka/tilak.png";
---

<nav class="z-20 block transition-all duration-300 xl:hidden">
  <Astronav closeOnClick>
    <button id="astronav-menu" aria-label="Toggle Menu">
      <!-- <Image src={tilak} alt="Menu" class="size-10 astronav-open-icon astronav-toggle"> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        class="astronav-open-icon astronav-toggle size-10 text-gray-800 dark:text-amber-400"
      >
        <path
          fill="currentColor"
          d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1m0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1M3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1"
        ></path>
      </svg>
      <!-- <img src="../../public/svg/shiva_tilak.svg" alt="tilak" class="size-8 astronav-open-icon astronav-toggle"> -->
      <!-- <img src="../../public/svg/yoga-asana.svg" alt="tilak" class=" size-8 astronav-close-icon astronav-toggle hidden"> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        class="astronav-open-icon astronav-toggle hidden size-10 dark:text-amber-400"
      >
        <path
          fill="currentColor"
          d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"
        ></path>
      </svg>
    </button>
    <!-- <MenuIcon class="relative w-10 h-10 text-gray-800 dark:text-gray-300" /> -->
    <MenuItems
      class="absolute top-14 left-1 hidden w-48 rounded-sm border border-gray-300 bg-white p-2 text-gray-800 dark:border-gray-600 dark:bg-slate-800 dark:text-amber-400"
    >
      <ul class="flex flex-col gap-2 rounded-lg">
        <li>
          <a href="/">О центре</a>
        </li>
        <li>
          <Dropdown class="group">
            <button
              class="flex items-center gap-1 pb-2 text-gray-800 dark:text-amber-400"
            >
              <span> Мероприятия </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="mt-0.5 h-4 w-4 group-open:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <DropdownItems class="relative">
              <div
                class="top-2 w-42 rounded border border-gray-200 bg-gray-50 p-2 text-gray-800 shadow dark:border-gray-600 dark:bg-slate-700 dark:text-amber-400"
              >
                <ul class="flex flex-col gap-2">
                  <li>
                    <a href="/calendar">Календарь</a>
                  </li>
                  <!-- <li>
                      <a href="#">События</a>
                    </li> -->
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center gap-1 pb-2">
              <span> Практики </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="mt-0.5 h-4 w-4 group-open:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <DropdownItems class="relative">
              <div
                class="top-2 w-42 rounded border border-gray-200 bg-gray-50 p-2 text-gray-800 shadow dark:border-gray-600 dark:bg-slate-700 dark:text-amber-400"
              >
                <ul class="flex flex-col gap-2">
                  <li>
                    <a href="/raspisanie">Расписания</a>
                  </li>
                  <li>
                    <a href="/upasana">Упасана</a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
          <li>
            <a href="/blog">Блог</a>
          </li>
          <li>
            <a href="/contacts">Контакты</a>
          </li>
          <li>
            <a href="/donate">Поддержать нас</a>
          </li>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</nav>
