---
// import TraditionFoto from "./TraditionFoto.astro";
---

<div class="flex flex-wrap mb-20 gap-5 lg:gap-0 justify-between lg:flex-nowrap">
      <div class="flex justify-end w-full lg:w-1/2 lg:order-1">
        <img src="https://sun9-1.userapi.com/impg/SN4kGJ1YeTxUg9Nt3YFNQQ7CAOD_c2YNcjMLGQ/f6dWujT9Qh8.jpg?size=600x800&quality=95&sign=0e07fc80eb743d66280d70835e79bf14&type=album" alt="" class="rounded-md">
      </div>

      <div class="flex flex-wrap items-center w-full lg:w-6/12 lg:justify-end">

        <div class="h-full flex flex-col justify-between gap-5 lg:gap-7">

          <h3 class="max-w-2xl text-3xl font-semibold leading-snug tracking-tight textColor lg:leading-tight lg:text-4xl text-gray-700 dark:text-amber-600">
            Наша традиция
          </h3>

          <div class="max-w-2xl text-sm sm:text-base md:text-lg leading-normal font-light text-gray-700 lg:text-xl xl:text-xl dark:text-amber-100">
            В нашей традиции две основные линии передачи
          </div>

          <div class="flex items-start space-x-3">
            <div class="flex items-center justify-center shrink-0 mt-1 bg-red-500 dark:bg-amber-700 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
	              <path fill="white" d="m14 6l-3.75 5l2.85 3.8l-1.6 1.2C9.81 13.75 7 10 7 10l-6 8h22z" />
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-amber-600">
                Северная линия передачи
              </h4>
              <div class="mt-1 text-sm xl:text-base font-light text-gray-500 dark:text-amber-100">
                <p>
                  Восходит к древнему монаше­скому ордену Джуна акхара, основанному тысячу лет назад Шри Шанкарачарьей в традиции десяти имен (дашанами санньяса). Нашего Гуру в эту традицию посвятил Сомнатх гири махарадж (Пайлот Бабаджи). От Пайлота Бабаджи линия преемственности ведет к его гуру-сиддху Хари бабе. От него - к просветленному мудрецу Аватар бабе, и далее через линию гуру к самому Шри Шанкарачарье. От Шри Шанкарачарьи линия преемственности ведет к его гуру Говиндападе, а от него - к Гаудападе. От Гаудапады она идет к Шукадеве, а от него к самому риши Вьясе, автору Вед. От Вьясы линия преемственности восходит к риши Васиштхе, сыну Творца и к гималайским мудрецам - бессмертному воплощению-аватару трех богов авадхуте Даттатрейе, святому Нараде и вечно юному Санаткумару, рожденному из ума Брахмы. Наконец на вершине этой древней линии преемственности пребывают великие боги Санатана Дхармы - Брахма, Вишну и Шива.
                </p>
              </div>
            </div>
          </div>
          <div class="flex items-start space-x-3">
            <div class="flex items-center justify-center shrink-0 mt-1 bg-red-500 dark:bg-amber-700 rounded-md w-11 h-11 ">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
	              <path fill="white" d="M10 2L7.6 5.4C8.4 5.2 9.2 5 10 5s1.6.2 2.4.4M19 5c-1.11 0-2 .89-2 2v6.76c-.64.57-1 1.39-1 2.24c0 1.66 1.34 3 3 3s3-1.34 3-3c0-.85-.36-1.67-1-2.23V7c0-1.11-.89-2-2-2m0 1c.55 0 1 .45 1 1v1h-2V7c0-.55.45-1 1-1m-13.5.7L1.3 7l1.8 3.8c.1-.8.4-1.6.8-2.3c.5-.7 1-1.3 1.6-1.8M10 7c-2.8 0-5 2.2-5 5s2.2 5 5 5s5-2.2 5-5s-2.2-5-5-5m-6.8 6.2L1.4 17l4.1.4c-.5-.5-1.1-1.2-1.5-1.9c-.5-.7-.7-1.5-.8-2.3m4.4 5.4L10 22l2.4-3.4c-.8.2-1.6.4-2.4.4c-.9 0-1.7-.2-2.4-.4" />
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-medium text-gray-800 dark:text-amber-600">
                Южная линия передачи
              </h4>
              <div class="mt-1 text-sm xl:text-base font-light text-gray-500 dark:text-amber-100">
                Ведет к южноиндийской традиции бессмертных йогов-сиддхов и восходит через Свами Вишнудевананду Гири к знаменитому в южной Индии йогу-чудотворцу Свами Шива Прабхакаре (гуру авадхуте Брахмананде) из штата Керала. От него она восходит к его учителю сиддху-риши Памбатти. От риши Памбатти она восходит к риши Сатьямуни, от Сатьямуни — к риши Нанди Девару, от Нанди Девара — к самому Шиве. Риши Нанди Девар достиг сварупа-самадхи в г. Каши (Бенарес). Его учителем был Сам Шива, а учениками Нанди Девара также являются риши Тирумулар, Патанджали, Дакшинамурти, Ромариши.
              </div>
            </div>
          </div>

        </div>
      </div>
</div>