---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
} from "astro-navbar";
---

<header class="mx-auto hidden gap-5 p-5 xl:flex dark:text-amber-400">
  <Astronav>
    <div
      class="mx-0 my-auto flex w-full items-center justify-between px-3 py-3"
    >
      <MenuItems>
        <ul class="flex flex-col lg:flex-row lg:gap-2">
          <li class="rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600">
            <a href="/" class="text-lg">О центре</a>
          </li>
          <li>
            <Dropdown class="group z-50">
              <button
                class="flex items-center gap-1 rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
              >
                <span class="text-lg"> Мероприятия </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  class="mt-0.5 h-3 w-3 group-open:rotate-180"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
              </button>
              <DropdownItems class="relative">
                <div class="absolute top-0">
                  <ul
                    class="rounded-xs border border-gray-300 bg-neutral-50 dark:border-gray-600 dark:bg-slate-700"
                  >
                    <li
                      class="flex items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 128 128"
                      >
                        <path
                          fill="#bdbdbd"
                          d="M6.81 35.5v75.03c0 3.12 2.9 5.21 6.32 7.61c3.53 2.48 5.48 2.25 7.17 2.25l95.86.62c3.77 0 5.03-2.57 5.03-5.34V35.5z"
                        ></path>
                        <linearGradient
                          id="SVGTwt0ubPe"
                          x1="117.05"
                          x2="117.05"
                          y1="68.631"
                          y2="111.352"
                          gradientUnits="userSpaceOnUse"
                        >
                          <stop offset=".337" stop-color="#616161"></stop>
                          <stop offset="1" stop-color="#616161" stop-opacity="0"
                          ></stop>
                        </linearGradient>
                        <path
                          fill="url(#SVGTwt0ubPe)"
                          d="m121.19 115.66l-8.28-8.51V35.5l8.28 5.02z"
                          opacity="0.29"></path>
                        <path
                          fill="#c62828"
                          d="m121.19 41.22l-6.46-4.05L104.62 14h5.44c9.65 0 11.13 5.57 11.13 7.47z"
                        ></path>
                        <path
                          fill="#fafafa"
                          d="M9.75 36.33v72.13c0 2.7 2.19 4.88 4.88 4.88h94.85c2.7 0 5.22-2.01 5.22-4.71v-72.3z"
                        ></path>
                        <path
                          fill="#f44336"
                          d="M114.73 37.17H6.81V18.55c0-2.51 2.57-4.55 5.75-4.55h96.59c3.19 0 5.77 2.05 5.75 4.58z"
                        ></path>
                        <path
                          fill="#757575"
                          d="M103.71 116.62c-3.18.39-6.36.55-9.54.83c-3.18.2-6.36.38-9.54.49c-3.18.16-6.36.19-9.54.28l-9.54.09l-9.54-.09c-3.18-.09-6.36-.13-9.54-.28c-3.18-.11-6.36-.29-9.54-.49c-3.18-.28-6.36-.45-9.54-.83v-.2l38.15-.1l38.15.1v.2z"
                        ></path>
                        <path
                          fill="#b3e5fc"
                          d="M42.46 45.08V57.2h-26.3v49.25h52.15V94.18h38.74v-49.1z"
                        ></path>
                        <ellipse
                          cx="19.11"
                          cy="19.8"
                          fill="#af1e1e"
                          rx="2.96"
                          ry="3.3"></ellipse>
                        <path
                          fill="#94d1e0"
                          d="M20.48 17.08c-.41-.86-.69-1.93-.69-3.08c0-2.67 1.39-4.93 3.04-4.93s3.04 2.26 3.04 4.93h4.48c0-5.47-3.37-9.93-7.51-9.93S15.33 8.52 15.33 14c0 1.95.43 3.76 1.16 5.3c.67 1.39 2.1 2.01 3.37 1.34c1.06-.58 1.2-2.36.62-3.56"
                        ></path>
                        <path
                          fill="#2f7889"
                          d="M30.35 14c0-3.35-1.27-6.31-3.19-8.11c.02.06.57 1.49-.21 2.86c-.79 1.4-2.43 1.18-2.43 1.18c.81.9 1.35 2.4 1.35 4.07z"
                        ></path>
                        <ellipse
                          cx="35.59"
                          cy="19.8"
                          fill="#af1e1e"
                          rx="2.96"
                          ry="3.3"></ellipse>
                        <path
                          fill="#94d1e0"
                          d="M36.96 17.08c-.41-.86-.69-1.93-.69-3.08c0-2.67 1.39-4.93 3.04-4.93s3.04 2.26 3.04 4.93h4.48c0-5.47-3.37-9.93-7.51-9.93S31.81 8.52 31.81 14c0 1.95.43 3.76 1.16 5.3c.67 1.39 2.1 2.01 3.37 1.34c1.06-.58 1.2-2.36.62-3.56"
                        ></path>
                        <path
                          fill="#2f7889"
                          d="M43.64 5.89c.02.06.57 1.49-.21 2.86C42.64 10.14 41 9.93 41 9.93c.81.9 1.35 2.4 1.35 4.07h4.49c0-3.35-1.28-6.31-3.2-8.11"
                        ></path>
                        <ellipse
                          cx="52.06"
                          cy="19.8"
                          fill="#af1e1e"
                          rx="2.96"
                          ry="3.3"></ellipse>
                        <path
                          fill="#94d1e0"
                          d="M53.44 17.08c-.41-.86-.69-1.93-.69-3.08c0-2.67 1.39-4.93 3.04-4.93s3.04 2.26 3.04 4.93h4.48c0-5.47-3.37-9.93-7.51-9.93S48.29 8.52 48.29 14c0 1.95.43 3.76 1.16 5.3c.67 1.39 2.1 2.01 3.37 1.34c1.06-.58 1.2-2.36.62-3.56"
                        ></path>
                        <path
                          fill="#2f7889"
                          d="M60.11 5.89c.02.06.57 1.49-.21 2.86c-.79 1.4-2.43 1.18-2.43 1.18c.81.9 1.35 2.4 1.35 4.07h4.51c.01-3.35-1.29-6.31-3.22-8.11"
                        ></path>
                        <ellipse
                          cx="68.54"
                          cy="19.8"
                          fill="#af1e1e"
                          rx="2.96"
                          ry="3.3"></ellipse>
                        <path
                          fill="#94d1e0"
                          d="M69.92 17.08c-.41-.86-.69-1.93-.69-3.08c0-2.67 1.39-4.93 3.04-4.93s3.04 2.26 3.04 4.93h4.48c0-5.47-3.37-9.93-7.51-9.93S64.77 8.52 64.77 14c0 1.95.43 3.76 1.16 5.3c.67 1.39 2.1 2.01 3.37 1.34c1.06-.58 1.19-2.36.62-3.56"
                        ></path>
                        <path
                          fill="#2f7889"
                          d="M76.59 5.89c.02.06.57 1.49-.21 2.86c-.79 1.4-2.43 1.18-2.43 1.18c.81.9 1.35 2.4 1.35 4.07h4.52c.01-3.35-1.3-6.31-3.23-8.11"
                        ></path>
                        <ellipse
                          cx="85.02"
                          cy="19.8"
                          fill="#af1e1e"
                          rx="2.96"
                          ry="3.3"></ellipse>
                        <path
                          fill="#94d1e0"
                          d="M86.39 17.08c-.41-.86-.69-1.93-.69-3.08c0-2.67 1.39-4.93 3.04-4.93s3.04 2.26 3.04 4.93h4.48c0-5.47-3.37-9.93-7.51-9.93S81.24 8.52 81.24 14c0 1.95.43 3.76 1.16 5.3c.67 1.39 2.1 2.01 3.37 1.34c1.06-.58 1.2-2.36.62-3.56"
                        ></path>
                        <path
                          fill="#2f7889"
                          d="M93.07 5.89c.02.06.57 1.49-.21 2.86c-.79 1.4-2.43 1.18-2.43 1.18c.81.9 1.35 2.4 1.35 4.07h4.54c0-3.35-1.33-6.31-3.25-8.11"
                        ></path>
                        <ellipse
                          cx="101.5"
                          cy="19.8"
                          fill="#af1e1e"
                          rx="2.96"
                          ry="3.3"></ellipse>
                        <path
                          fill="#94d1e0"
                          d="M102.87 17.08c-.41-.86-.69-1.93-.69-3.08c0-2.67 1.39-4.93 3.04-4.93s3.04 2.26 3.04 4.93h4.48c0-5.47-3.37-9.93-7.51-9.93S97.72 8.52 97.72 14c0 1.95.43 3.76 1.16 5.3c.67 1.39 2.1 2.01 3.37 1.34c1.06-.58 1.2-2.36.62-3.56"
                        ></path>
                        <path
                          fill="#2f7889"
                          d="M112.8 14.18c-.15-4.02-1.45-6.6-3.26-8.28c.02.06.57 1.49-.21 2.86c-.79 1.4-2.43 1.18-2.43 1.18c.81.9 1.21 2.4 1.21 4.07h1.53c1.27-.02 3.16.17 3.16.17"
                        ></path>
                        <path
                          fill="none"
                          stroke="#1e88e5"
                          stroke-linecap="square"
                          stroke-miterlimit="10"
                          d="M16.66 45.12v61.33m12.91-61.33v61.33m12.91-61.33v61.33M55.4 45.12v61.33m12.91-61.33v61.33m12.91-61.33v61.33m12.92-61.33v61.33m12.91-61.33v61.33m-90.39 0h90.39M16.66 94.18h90.39M16.66 81.92h90.39M16.66 69.65h90.39M16.66 57.39h90.39M16.66 45.12h90.39"
                          stroke-width="1"></path>
                        <g fill="#1e88e5">
                          <circle cx="103.68" cy="48.12" r="1.26"></circle>
                          <circle cx="90.7" cy="48.12" r="1.26"></circle>
                          <circle cx="77.72" cy="48.12" r="1.26"></circle>
                          <circle cx="64.73" cy="48.12" r="1.26"></circle>
                          <circle cx="51.75" cy="48.12" r="1.26"></circle>
                          <circle cx="38.77" cy="48.12" r="1.26"></circle>
                          <circle cx="25.79" cy="48.12" r="1.26"></circle>
                        </g>
                        <g fill="#1e88e5">
                          <circle cx="103.68" cy="60.39" r="1.26"></circle>
                          <circle cx="90.7" cy="60.39" r="1.26"></circle>
                          <circle cx="77.72" cy="60.39" r="1.26"></circle>
                          <circle cx="64.73" cy="60.39" r="1.26"></circle>
                          <circle cx="51.75" cy="60.39" r="1.26"></circle>
                          <circle cx="38.77" cy="60.39" r="1.26"></circle>
                          <circle cx="25.79" cy="60.39" r="1.26"></circle>
                        </g>
                        <g fill="#1e88e5">
                          <circle cx="103.68" cy="72.65" r="1.26"></circle>
                          <circle cx="90.7" cy="72.65" r="1.26"></circle>
                          <circle cx="77.72" cy="72.65" r="1.26"></circle>
                          <circle cx="64.73" cy="72.65" r="1.26"></circle>
                          <circle cx="51.75" cy="72.65" r="1.26"></circle>
                          <circle cx="38.77" cy="72.65" r="1.26"></circle>
                          <circle cx="25.79" cy="72.65" r="1.26"></circle>
                        </g>
                        <g fill="#1e88e5">
                          <circle cx="103.68" cy="97.18" r="1.26"></circle>
                          <circle cx="90.7" cy="97.18" r="1.26"></circle>
                          <circle cx="77.72" cy="97.18" r="1.26"></circle>
                          <circle cx="64.73" cy="97.18" r="1.26"></circle>
                          <circle cx="51.75" cy="97.18" r="1.26"></circle>
                          <circle cx="38.77" cy="97.18" r="1.26"></circle>
                          <circle cx="25.79" cy="97.18" r="1.26"></circle>
                        </g>
                        <g fill="#1e88e5">
                          <circle cx="103.68" cy="84.92" r="1.26"></circle>
                          <circle cx="90.7" cy="84.92" r="1.26"></circle>
                          <circle cx="77.72" cy="84.92" r="1.26"></circle>
                          <circle cx="64.73" cy="84.92" r="1.26"></circle>
                          <circle cx="51.75" cy="84.92" r="1.26"></circle>
                          <circle cx="38.77" cy="84.92" r="1.26"></circle>
                          <circle cx="25.79" cy="84.92" r="1.26"></circle>
                        </g>
                      </svg>
                      <a href="/calendar" class="inline-flex w-full"
                        >Календарь</a
                      >
                    </li>
                    <!-- <li class="w-full hover:bg-slate-200 dark:hover:bg-slate-700 p-2"><a href="/mdc-events">События</a></li> -->
                  </ul>
                </div>
              </DropdownItems>
            </Dropdown>
          </li>
          <li>
            <Dropdown class="group">
              <button
                class="flex items-center gap-1 rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
              >
                <span class="text-lg"> Практики </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  class="mt-0.5 h-3 w-3 group-open:rotate-180"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
              </button>
              <DropdownItems class="relative">
                <div class="absolute top-0">
                  <ul
                    class="w-full rounded-xs border border-gray-300 bg-neutral-50 dark:border-gray-600 dark:bg-slate-700"
                  >
                    <li
                      class="flex items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 128 128"
                      >
                        <path
                          fill="#c48e6a"
                          d="M34.36 88.45s.63-.68 1.1-1.08s1.75-1.38 1.75-1.38s-.05-2.49 0-4.89c.05-2.38.19-4.48.19-4.48l9.75 4.08l-.07 9.07l-.73 3.24l-4.63 3.43l-7.37-7.99zm48.26-9.87l8.49-3.41s.73 3.6 1 5.87c.27 2.28.36 3.41.36 3.41s.59.27 1.5 1.18s1.43 1.76 1.43 1.76l-6.03 7.71l-3.6-2.82l-2.5-2.46l-.66-11.25"
                        ></path>
                        <path
                          fill="#ab872f"
                          d="M80.32 54.27s4.22-8.89 4.08-25.7s-9.42-23.9-19.68-24.45c-10.26-.56-22.98 6.5-22.35 27.37c.35 11.66 2.74 19.88 4.73 24.76c7 .12 16.93.12 16.93.12z"
                        ></path>
                        <path
                          fill="#c48e6a"
                          d="m52.82 52.39l3.93-1.28s1.34-.54 1.46-2.62s-.06-4.2-.06-4.2l11.51.06s-.05 1.99-.06 4.32c0 1.37 1.72 2.27 1.72 2.27l5.46 1.36l-13.31 4.62l-10.64-4.52z"
                        ></path>
                        <path
                          fill="#7c7c7c"
                          d="m51.62 89.1l-3.02 1.92s.1 2.18-.23 2.95c-.25.59-3.14 1.96-4.73 2.65c-1.42.62-3.3 1.38-3.3 1.38l-4.65 2.18l16.01 14.93L85.5 110l6.91-11.22s-5.14-2.62-7.68-3.7c-2.18-.93-3.21-1.49-3.33-1.87s-.26-2.26-.26-2.26l-29.51-1.86z"
                        ></path>
                        <path
                          fill="#c48e6a"
                          d="M66.88 115.6s-16.57 8.88-30.56 7.78c-9.31-.73-12.49-5.85-12.49-5.85l-1.27-8.16s1.17-1.88 3.99-5.53s9.75-5.02 11.44-4.83s4.05 2.48 4.05 2.48l15.63.86l9.22 13.24zm18.08-15.78l-6.74 1.54l-10.17-1.87s-.66.6-.94.91l-.94 1.04l3.64 4.93l27.84 1.77h5.61l-.88-2.86l-5.4-4.05s-3.27-1.71-4-2.03s-2.49.78-2.49.78l-5.52-.15z"
                        ></path>
                        <path
                          fill="#e0bb95"
                          d="M22.18 109.1s-.61 1.88-.14 4.31s1.78 4.13 1.78 4.13s2.95 2.49 11.07 2.53c8.11.05 18.01-3.42 18.15-3.75s-1.83-4.6-6.42-6.94c-4.6-2.34-9.34-.96-9.34-.96l-.18-1.85s-1.78-1.7-5.06-1.5c-3.8.23-6.38 1.78-6.38 1.78l-3.47 2.25"
                        ></path>
                        <path
                          fill="#a87254"
                          d="M31.37 111.87c1.17 1.22 3.28-1.78 5.91-3.1s5.58-2.86 10.08-1.83s19.51 8.65 19.51 8.65l3.53-1.78l-11.37-7.29l-17.02-1.69s-3.94.75-7.36 2.81c-2.18 1.31-4.23 3.24-3.28 4.22z"
                        ></path>
                        <path
                          fill="#c48e6a"
                          d="m83.88 110.92l-17.22 2.97s8.81 5.99 18.92 8.77s16.39.42 19.54-2.1c2.73-2.19 3.22-5.04 3.08-7.08s-.54-2.78-.54-2.78z"
                        ></path>
                        <path
                          fill="#e0bb95"
                          d="M93.89 100.94c.23-.68-.88-2.47-2.79-2.72c-2.26-.29-3.48 1.24-3.48 1.24s-.89-1.18-2.9-1.01s-3.12 1.82-5.96 1.76s-4.27-2.11-7.05-2.05c-2.37.05-3.67 1.33-3.67 1.33s2.12 1.62 5.03 2.34c3.61.89 11 .83 12.84.71s4.55.41 4.55.41s.73-.65 1.57-1.09s1.77-.66 1.86-.92"
                        ></path>
                        <path
                          fill="#e0bb95"
                          d="M65.63 102.04s2.61 1.51 5.64 2.36s11.96 1.26 14.65 1.26s7.49.74 7.49.74s1.32-.97 4.52-1.09s5.55 1.03 5.55 1.03l2.8 1.54s.65 1.16.86 1.58s.53 1.21.53 1.21s-2.12 4.7-5.6 6.83s-8.79 3.01-16.95 1.74s-16-4.28-18.45-5.39s-13.19-6.28-16.28-7.35c-6.16-2.12-10.65-1.26-11.53-1.48c-.52-.13-.83-2.94 1.17-4.04c1.72-.94 2.69-.26 2.91-.34c.3-.11 2.11-2.91 4.79-2.83s3.35 2.08 5.73 1.86s3.31-2.19 7.06-1.63c3.02.45 5.11 3.98 5.11 3.98"
                        ></path>
                        <path
                          fill="#a87254"
                          d="m66.21 101.39l-.59.66s.37.45 1.24 1.08c.65.47 2.42 1.43 4.47 1.91c3.99.95 7.71 1.08 11.58 1.32c4.79.29 6.73.58 8.91 1.74c4.02 2.15 4.99 4.16 5.47 4.65s1.71.8 1.89.15c.24-.87-.06-1.2-.87-2.52c-1.16-1.89-2.95-3.39-6.54-4.7c-1.77-.65-5.55-.65-9.06-.73s-7.26-.31-10.07-.92c-4.03-.88-6.44-2.64-6.43-2.64"
                        ></path>
                        <path
                          fill="#e0bb95"
                          d="M42.91 95.25s-.25-3.13-3.2-5.38c-2.96-2.24-5.34-1.42-5.34-1.42s-4.06 4.34-4.45 4.42s-3.53-1.14-5.59-.11s-2.35 1.94-3.78 2.19s-4.22-.12-4.25.48c-.03.48-.12 1.22.34 1.75s2.08.61 2.08.61l2.48-.05l3.03-.5l1.01 1.26l-1.37 1.73l-1.71.82l-1.71-.36l-1.28-2.07l-1.35.07l-.57 1.46l.93 1.39l.33 1.69s-1.43.37-2.96.27s-3.99-1.21-4.41-1.21s-.62.24-.62.24l.41 1.05l1.35 1l-.11 1.42l2.71 1.25l1.1.93l1.82.93l4.13-.5l4.66-2.46l3.74-4.2l8.48-3.17l4.13-3.53zm45.02-1.13s.44-2.73 2.95-4.92c2.51-2.18 4.53-1.8 4.53-1.8s3.5 4.15 4.1 4.15s1.53-1.04 3.5-.66s3.2 1.92 4.45 2.25c1.26.33 3.19.32 3.63.04s1.69-.55 1.56.41s-1.92 1.98-1.92 1.98l-3.02.67l-2.51.44l-.82 1.2l.98 1.2h2.46l2.02-2.51l1.47-.22l.71 1.26l-.49 2.29l-.44 1.26s1.69-.19 2.61-.63s1.6-1.19 2.86-1.45c.91-.19 1.08.54 1.08.54l-1.16 1.24l-.2 1.55l-1.42 1.75l-.77.36l-.32 1.17l-3.5 1.42h-4.37l-3.11-1.37l-4.26-3.22l-3.06-3.5l-7.54-4.92z"
                        ></path>
                        <path
                          fill="#a87254"
                          d="M112.64 93.25c-.23-.16-.81 1.71-3.18 2.35c-1.25.34-3.13-.29-4.37.33s-1.5 2.35-.93 2.72c.98.64.73-1.38 2.01-1.64s2.7-.01 3.95-.23c1.72-.29 3.28-3 2.52-3.54z"
                        ></path>
                        <path
                          fill="#c48e6a"
                          d="M10.49 102.54c-.36.52.02 1.28.29 1.6c.38.44.98.62.98.62s-.39.35.02 1.31c.28.64 1.04 1.55 3.69 1.8s5.33-.56 5.79-.92s.64-.74.26-.81c-.27-.05-1.08.22-1.73.35s-1.78.6-4.01.54c-1.76-.05-3.05-.8-3.18-1.23s.13-.75.13-.75s1.3.71 2.84.77s2.65-.25 2.82-.45s.26-.58-.42-.58s-1.62.56-4.3-.26c-2.47-.76-3.18-2-3.18-2zm7.99.71s1.31-.16 1.34-.47s-1.62-.44-1.9-1.99c-.21-1.17 0-1.78.65-1.81s.54 1.68 1.43 2.24c1.36.85 2.66.54 2.66.54s-.57.96-1.13 1.55s-1.45 1.36-1.03 1.81c.54.59 2.67-1.05 3.55-2.14c1.22-1.5 2.19-3.28 4.37-4.68s4.01-1.2 4.01-1.73s-1.71-1.14-4.25-.01c-1.9.85-2.39 1.42-2.39 1.42s-.65-1.09-1.4-1.16s.03 1.31.03 1.75s-1.18 2.27-2.65 2.02s-1.89-1.99-1.89-1.99l-.23-.75l-1.46-.47l-.71.67s-1.03.73-.97 2.19c.1 2.32 1.96 2.99 1.96 2.99z"
                        ></path>
                        <g fill="#c48e6a">
                          <path
                            d="M108.74 101.5c.25.97 2.91.06 3.71-1.95c.8-2.02-.21-4.05-1.73-3.97c-1.92.11-1.55 1.94-2.75 2.59c-1.91 1.04-2.69.16-2.96.06c-.09.21-.24.41-.36.47c-.17.08-.29.04-.42 0c-.02.19.15.37.47.62c.58.45 2.3.7 3.27.22c2.59-1.28 1.97-2.83 2.66-2.84c1.22-.02 1.12 1.89.42 2.88s-2.5 1.14-2.31 1.92m-.63 4.05c.14.67 2.68.95 5.53-.28c3.04-1.32 3.28-2.92 3.36-3.24s-.08-1.2-.52-1.16s-.32 2-3.28 3.24s-5.29.48-5.09 1.44"
                          ></path>
                          <path
                            d="M108.99 103.39c-.04.8 3.28.64 5.37-.52c2.08-1.16 3.49-2.72 3.28-3.24c-.16-.42-2.44 1.72-4.2 2.44s-4.41.61-4.45 1.32M95.57 96.1c.42.67 2.12-.36 3.92.76s2.44 3.08 4.16 4.89c1.53 1.6 3.32 3 3.56 2.28s-1.41-1.35-2.76-2.88c-1.84-2.08-2.12-3.72-4.28-5.17c-1.53-1.02-3.68-.76-4.04-.76s-.84.44-.56.88"
                          ></path>
                        </g>
                        <path
                          fill="#a87254"
                          d="M15.48 107.87c-.38.51.24 2.11 3.9 1.97c6.23-.23 9.6-6.31 11.37-7.43c1-.63 2.45-.89 4.46-1.64c2.13-.79 4.86-2.1 7.24-3.79c4.63-3.28 4.9-4.36 5.13-5.39c.31-1.36.31-3.21.36-7.99s-1.5-1.18-1.5-1.18s.29 7.15-.38 8.84s-2.27 3.32-5.89 5.43c-3.62 2.1-5.09 2.74-6.9 3.24s-3.45 1.01-4.97 2.69c-1.9 2.11-3.32 3.58-5.43 4.8s-3.16 1.18-4.5 1.09s-2.65-.97-2.9-.64zm67.86-26.81s.26 6.91 1.12 8.74c.36.77 1.49 1.9 3.35 3.26c3.1 2.26 7.36 4.43 9.33 6.49s4.69 5.01 7.25 6.29c5.77 2.88 9.27-1.34 9.69-1.31s.79.52.39 1s-2.64 2.86-6.64 2.59c-5.25-.36-8.33-4.12-11.37-7.49c-1.94-2.14-12.41-7.61-13.38-10.13s-1.56-9.59-1.56-9.59l1.82.16z"
                        ></path>
                        <path
                          fill="#e0bb95"
                          d="M67.49 13.42c-.27 0-3.38 3.81-8.96 6.66c-6.33 3.22-9.59 3.54-9.59 3.54s-1.04 5.91.54 12.58c1.14 4.82 5.31 12.24 14.46 12.34c9.89.1 13.26-8.25 14.08-12.8c1.03-5.73-.13-12.81-.13-12.81s-3.7-2.03-6.23-4.68s-4.17-4.83-4.17-4.83"
                        ></path>
                        <path
                          fill="#785446"
                          d="M64.04 40.1c-2.25 0-4.38-.83-4.89.03s1.21 2.76 4.89 2.78c4.16.03 5.51-2.13 4.98-2.91s-2.38.09-4.98.09z"
                        ></path>
                        <path
                          fill="#9b782c"
                          d="M51.79 25.89c.42.62 2.01-.22 4.14-.37c1.75-.12 3.4.82 3.72-.32c.37-1.36-1.45-1.85-4.04-1.63c-2.65.23-4.38 1.48-3.82 2.32m16.45-.44c.87.28 1.69-.23 3.48-.03c1.68.19 3.17.91 3.69.39s-.68-1.9-3.44-2.3c-2.49-.36-4.05.24-4.25.78s.17 1.04.53 1.15z"
                        ></path>
                        <path
                          fill="#3f4040"
                          d="M52.25 30.22c-.41.99 1.26 2.32 3.69 2.29c2.09-.03 4.51-.99 3.76-2.36c-.58-1.06-1.98.12-3.79.14s-3.18-1.23-3.66-.07m15.37-.24c-.82.87 1.05 2.45 3.62 2.39c2.93-.07 4.29-1.64 3.52-2.56s-1.43.43-3.55.44c-1.86.01-2.75-1.16-3.59-.27"
                        ></path>
                        <path
                          fill="#c48e6a"
                          d="M64.14 35.17c-1.56.03-2.14-.5-2.69.06c-.51.51-.05 1.25.79 1.9c1.14.89 2.91.86 3.82.04s1.3-1.5.71-2s-1.04-.03-2.63 0"
                        ></path>
                        <path
                          fill="#a87254"
                          d="M16.47 97.3c.31.42.98.79.98.79s.44-.44 1.25-.3s1.19.81 1.19.81s.63.1 1.56-.1s1.42-.48 2.17-.34s.85.78 1.6.34s.03-1.8-1.46-1.9s-2.99 1.19-5.53.31c-.95-.33-1.66-1.55-1.92-1.48c-.32.09-.4 1.11.16 1.87"
                        ></path>
                        <path
                          fill="#583ee2"
                          d="M79.69 52.61c-3.22-1.24-9.56-2.68-9.56-2.68s-.49 4.09-5.95 4.32c-5.28.22-6.58-4.08-6.58-4.08s-5.44.85-9.75 2.93c-3.6 1.74-7.05 4.37-8.78 9.48s-1.79 8.99-2.22 10.46s-1.16 2.93-.79 3.57c.52.89 1.66 1.74 3.91 3.47s4.52 2.58 4.52 2.58l2.59-1.56l1.56 2.94s.09 3.55 0 4.67s-.69 3.07 0 3.5s7.61 4.02 16.6 3.68c8.99-.35 15.71-3.23 16.08-4.41c.26-.82 0-1.42-.03-2.77c-.08-2.6-.23-6.05-.23-6.05l1.56-4.06l2.51 2.08s1.77-.89 4.11-2.61s3.5-2.75 3.5-3.53s-.63-1.21-1.06-3.02s-2.33-8.71-4.74-12.54s-4.22-5.18-7.25-6.34z"
                        ></path>
                        <path
                          fill="#4b0fce"
                          d="M81.07 82.65s-.41-4.72-.46-6.6s-.96-6.69.46-7.12c1.68-.51 2.24 3.76 2.54 5.69s1.52 6.04 1.52 6.04s-1.11.77-2.03 1.18s-2.04.81-2.04.81zm-36.58 0s.79-3.96 1.09-6.45s.66-6 1.12-6.66s1.63-.61 1.83.41s0 7.83 0 9.2s.11 4.89.11 4.89s-.85-.28-1.96-.6c-1.41-.4-2.19-.78-2.19-.78zm19.46-22.83c-4.48.04-6.83-1.69-9.43-3.46c-2.73-1.86-4.75-4.06-4.75-4.06s1.71-.68 3.52-1.2s4.31-.93 4.31-.93s1.66 4.18 6.58 4.08s5.95-4.32 5.95-4.32s2.52.6 4.22 1.01s4.28 1.3 4.28 1.3s-4.22 3.34-5.69 4.37s-4.06 3.15-8.99 3.2z"
                        ></path>
                      </svg>
                      <a href="/raspisanie" class="inline-flex w-full"
                        >Расписание</a
                      >
                    </li>
                    <li
                      class="flex w-full items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 36 36"
                      >
                        <path
                          fill="#ff8044"
                          d="M25 2.875L18 2v5.25l7-.875l-2.8-1.75z"></path>
                        <path fill="#c7521e" d="M0 36h36l-2-2H2z"></path>
                        <path
                          fill="#662113"
                          d="M17.5 3c0-2 1-2 1 0c0 5 1 9 1 9h-3s1-4 1-9"></path>
                        <path
                          fill="#c7521e"
                          d="M28 29v-2l-4-1.938V21l-2-2h-.123s.732-3.967-1.377-5.449V12l-1-1h-3l-1 1v1.551C13.391 15.033 14.123 19 14.123 19H14l-2 2v4.062L8 27v2l-4 2v4l28 .037V31z"
                        ></path>
                        <path
                          fill="#662113"
                          d="M19.846 19h-3.692s-.615-5 .615-5h2.462c1.231 0 .615 5 .615 5"
                        ></path>
                        <path
                          fill="#c7521e"
                          d="M11.784 23.477v-.521l-.292-.292h-.063a12.4 12.4 0 0 1-.229-2.337c0-.584-.292-.584-.292 0c0 1.023-.143 1.902-.229 2.337h-.063l-.292.292v.521c-.465.474-.293 1.523-.293 1.523h2.045s.172-1.049-.292-1.523m13.906 0v-.521l-.292-.292h-.063a12.4 12.4 0 0 1-.229-2.337c0-.584-.292-.584-.292 0c0 1.023-.143 1.902-.229 2.337h-.063l-.292.292v.521c-.465.474-.292 1.523-.292 1.523h2.045c-.001 0 .171-1.049-.293-1.523m4 4v-.521l-.292-.292h-.063a12.4 12.4 0 0 1-.229-2.337c0-.584-.292-.584-.292 0c0 1.023-.143 1.902-.229 2.337h-.063l-.292.292v.521c-.465.474-.292 1.523-.292 1.523h2.045c-.001 0 .171-1.049-.293-1.523m4 5v-.521l-.292-.292h-.063a12.4 12.4 0 0 1-.229-2.337c0-.584-.292-.584-.292 0c0 1.023-.143 1.902-.229 2.337h-.063l-.292.292v.521c-.465.474-.292 1.523-.292 1.523h2.045c-.001 0 .171-1.049-.293-1.523m-25.906-5v-.521l-.292-.292h-.063a12.5 12.5 0 0 1-.229-2.337c0-.584-.292-.584-.292 0c0 1.023-.143 1.902-.229 2.337h-.064l-.292.292v.521C5.859 27.951 6.031 29 6.031 29h2.045s.172-1.049-.292-1.523m-4 5v-.521l-.292-.292h-.063a12.5 12.5 0 0 1-.229-2.337c0-.584-.292-.584-.292 0c0 1.023-.143 1.902-.229 2.337h-.064l-.292.292v.521C1.859 32.951 2.031 34 2.031 34h2.045s.172-1.049-.292-1.523"
                        ></path>
                        <path
                          fill="#ff8044"
                          d="m15.5 12l1-1h3l1 1zM12 21l2-2h8l2 2zm-4 6l2-2h16l2 2zm-4 4l2-2h24l2 2zm-4 5l2-2h32l2 2z"
                        ></path>
                        <path
                          fill="#662113"
                          d="M21 25h-6s0-4 1.5-4h3c1.5 0 1.5 4 1.5 4m1 4h-8s0-2 2-2h4c2 0 2 2 2 2"
                        ></path>
                        <path fill="#292f33" d="M24 34H12s0-3 3-3h6c3 0 3 3 3 3"
                        ></path>
                        <path
                          fill="#ffa06c"
                          d="M21 27h-6a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2m1 4h-8a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2m2 5H12a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2"
                        ></path>
                        <path fill="#ff8044" d="M21 31h1v3h-1zm-7 0h1v3h-1z"
                        ></path>
                      </svg>
                      <a href="/upasana" class="inline-flex w-full">Упасана</a>
                    </li>
                  </ul>
                </div>
              </DropdownItems>
            </Dropdown>
          </li>
          <li>
            <Dropdown class="group">
              <button
                class="flex items-center gap-1 rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
              >
                <span class="text-lg"> Контент </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  class="mt-0.5 h-3 w-3 group-open:rotate-180"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
              </button>
              <DropdownItems class="relative">
                <div class="absolute top-0">
                  <ul
                    class="w-full rounded-xs border border-gray-300 bg-neutral-50 dark:border-gray-600 dark:bg-slate-700"
                  >
                    <li
                      class="flex w-full items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 24 24"
                      >
                        <g fill="none">
                          <path
                            fill="#b2b2b2"
                            d="M3.87 4.826H1.957A.957.957 0 0 0 1 5.783v16.26a.956.956 0 0 0 .957.957h16.26a.956.956 0 0 0 .957-.956V20.13"
                          ></path>
                          <path
                            stroke="#191919"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.87 4.826H1.957A.957.957 0 0 0 1 5.783v16.26a.956.956 0 0 0 .957.957h16.26a.956.956 0 0 0 .957-.956V20.13"
                            stroke-width="1"></path>
                          <path
                            fill="#e3e3e3"
                            d="M23 1.957A.956.956 0 0 0 22.044 1H4.826a.957.957 0 0 0-.956.957v17.217a.957.957 0 0 0 .956.956h17.218a.956.956 0 0 0 .956-.956z"
                          ></path>
                          <path
                            fill="#fff"
                            d="M4.157 19.844L22.72 1.278A.96.96 0 0 0 22.044 1H4.826a.957.957 0 0 0-.956.957v17.217a.96.96 0 0 0 .287.67"
                          ></path>
                          <path
                            stroke="#191919"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M23 1.957A.956.956 0 0 0 22.044 1H4.826a.957.957 0 0 0-.956.957v17.217a.957.957 0 0 0 .956.956h17.218a.956.956 0 0 0 .956-.956zM7.692 4.823H19.17M7.692 8.65H19.17M7.692 12.475H19.17M7.692 16.302h5.265"
                            stroke-width="1"></path>
                        </g>
                      </svg>
                      <a href="/blog" class="inline-flex w-full">Блог</a>
                    </li>
                    <li
                      class="flex w-full items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 24 24"
                      >
                        <g fill="none">
                          <path
                            fill="#e3e3e3"
                            d="M2.913 2.913h18.174V20.13a.957.957 0 0 1-.957.957H2.913z"
                          ></path>
                          <path
                            fill="#e3e3e3"
                            d="M4.826 4.826H23v17.218a.956.956 0 0 1-.957.956H4.826z"
                          ></path>
                          <path
                            stroke="#191919"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M23 5.783v16.26a.956.956 0 0 1-.957.957H5.783"
                            stroke-width="1"></path>
                          <path
                            stroke="#191919"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21.087 2.913V20.13a.957.957 0 0 1-.957.957H2.913"
                            stroke-width="1"></path>
                          <path
                            fill="#e3e3e3"
                            d="M19.174 15.348v2.87a.956.956 0 0 1-.957.956H1.957A.956.956 0 0 1 1 18.217v-2.87z"
                          ></path>
                          <path
                            fill="#66e1ff"
                            d="M19.174 1.957v13.39H1V1.958A.957.957 0 0 1 1.957 1h16.26a.956.956 0 0 1 .957.957"
                          ></path>
                          <path
                            fill="#c2f3ff"
                            d="M1.957 1A.957.957 0 0 0 1 1.957v13.39h.484L15.832 1z"
                          ></path>
                          <path
                            stroke="#191919"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.174 1.957v13.39H1V1.958A.957.957 0 0 1 1.957 1h16.26a.956.956 0 0 1 .957.957"
                            stroke-width="1"></path>
                          <path
                            fill="#78eb7b"
                            d="M16.782 15.348L13.384 8.55c-.236-.47-.62-.47-.856 0l-2.442 4.884L8.308 11.3a.638.638 0 0 0-1.103.085l-2.378 3.963z"
                          ></path>
                          <path
                            fill="#ffef5e"
                            d="M6.26 6.74a1.435 1.435 0 1 0 0-2.87a1.435 1.435 0 0 0 0 2.87"
                          ></path>
                          <path
                            stroke="#191919"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.174 15.348v2.87a.956.956 0 0 1-.957.956H1.957A.956.956 0 0 1 1 18.217v-2.87z"
                            stroke-width="1"></path>
                          <path
                            stroke="#191919"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M16.782 15.348L13.384 8.55c-.236-.47-.62-.47-.856 0l-2.442 4.884L8.308 11.3a.638.638 0 0 0-1.103.085l-2.378 3.963zM6.26 6.74a1.435 1.435 0 1 0 0-2.87a1.435 1.435 0 0 0 0 2.87"
                            stroke-width="1"></path>
                        </g>
                      </svg>
                      <a href="/gallery" class="inline-flex w-full">Галерея</a>
                    </li>
                  </ul>
                </div>
              </DropdownItems>
            </Dropdown>
          </li>
          <li>
            <Dropdown class="group">
              <button
                class="flex items-center gap-1 rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
              >
                <span class="text-lg"> Видео </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  class="mt-0.5 h-3 w-3 group-open:rotate-180"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
              </button>
              <DropdownItems class="relative">
                <div class="absolute top-0">
                  <ul
                    class="w-full rounded-xs border border-gray-300 bg-neutral-50 dark:border-gray-600 dark:bg-slate-700"
                  >
                    <li
                      class="flex items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 24 24"
                      >
                        <g fill="none">
                          <path
                            fill="#78eb7b"
                            d="M19.792 3.292H4.208a.917.917 0 0 0-.917.916v15.584c0 .506.41.916.917.916h15.583c.507 0 .917-.41.917-.916V4.208a.917.917 0 0 0-.917-.916"
                          ></path>
                          <path
                            stroke="#191919"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.792 22.542H2.375a.917.917 0 0 1-.916-.917v-6.417m7.333-13.75H2.375a.917.917 0 0 0-.916.917v6.417m13.75 13.75h6.416a.917.917 0 0 0 .917-.917v-6.417m-7.333-13.75h6.416a.916.916 0 0 1 .917.917v6.417M5.125 10.167v3.666M7.417 9.25v5.5m2.292-6.417v7.334m9.166-5.5v3.666M16.584 9.25v5.5m-2.292-6.417v7.334M12 5.583v12.834"
                            stroke-width="1"></path>
                        </g>
                      </svg>
                      <a href="/audiobooks" class="inline-flex w-full"
                        >Аудиокниги</a
                      >
                    </li>
                    <!-- <li
                      class="w-full p-2 hover:bg-slate-200 dark:hover:bg-slate-700"
                    >
                      <a href="/gallery" class="inline-flex w-full"
                        >Видео монахов</a
                      >
                    </li> -->
                  </ul>
                </div>
              </DropdownItems>
            </Dropdown>
          </li>
          <!-- <li class="rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600">
            <a href="/blog" class="text-xl">Блог</a>
          </li> -->
          <li class="rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600">
            <a href="/contacts" class="text-lg">Контакты</a>
          </li>
          <li class="rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600">
            <a href="/donate" class="text-lg">Поддержать нас</a>
          </li>
        </ul>
      </MenuItems>
      <!-- <DarkMode /> -->
    </div>
  </Astronav>
</header>
