---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
} from "astro-navbar";
import { Icon } from "astro-icon/components";
---

<header class="mx-auto hidden gap-5 p-5 xl:flex dark:text-amber-400">
  <Astronav>
    <div
      class="mx-0 my-auto flex w-full items-center justify-between px-3 py-3"
    >
      <MenuItems>
        <ul class="flex flex-col lg:flex-row lg:gap-2">
          <li class="rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600">
            <a href="/" class="text-lg">О центре</a>
          </li>
          <li>
            <Dropdown class="group z-50">
              <button
                class="flex items-center gap-1 rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
              >
                <span class="text-lg"> Мероприятия </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  class="mt-0.5 h-3 w-3 group-open:rotate-180"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
              </button>
              <DropdownItems class="relative">
                <div class="absolute top-0">
                  <ul
                    class="rounded-xs border border-gray-300 bg-neutral-50 dark:border-gray-600 dark:bg-slate-700"
                  >
                    <li
                      class="flex items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                    >
                      <Icon
                        name="mdi:calendar-month-outline"
                        class="size-8 text-red-600 dark:text-amber-600"
                      />
                      <a href="/calendar" class="inline-flex w-full"
                        >Календарь</a
                      >
                      <!-- <li class="w-full hover:bg-slate-200 dark:hover:bg-slate-700 p-2"><a href="/mdc-events">События</a></li> -->
                    </li>
                  </ul>
                </div>
              </DropdownItems>
            </Dropdown>
            <li>
              <Dropdown class="group">
                <button
                  class="flex items-center gap-1 rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                >
                  <span class="text-lg"> Практики </span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="3"
                    stroke="currentColor"
                    class="mt-0.5 h-3 w-3 group-open:rotate-180"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                  </svg>
                </button>
                <DropdownItems class="relative">
                  <div class="absolute top-0">
                    <ul
                      class="w-full rounded-xs border border-gray-300 bg-neutral-50 dark:border-gray-600 dark:bg-slate-700"
                    >
                      <li
                        class="flex items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                      >
                        <Icon
                          name="mdi:calendar-edit-outline"
                          class="size-8 text-red-600 dark:text-amber-600"
                        />
                        <a href="/raspisanie" class="inline-flex w-full"
                          >Расписание</a
                        >
                        <li
                          class="flex w-full items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                        >
                          <Icon
                            name="mdi:calendar-heart-outline"
                            class="size-8 text-red-600 dark:text-amber-600"
                          />
                          <a href="/upasana" class="inline-flex w-full"
                            >Упасана</a
                          >
                        </li>
                      </li>
                    </ul>
                  </div>
                </DropdownItems>
              </Dropdown>
              <li>
                <Dropdown class="group">
                  <button
                    class="flex items-center gap-1 rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                  >
                    <span class="text-lg"> Контент </span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="currentColor"
                      class="mt-0.5 h-3 w-3 group-open:rotate-180"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                  </button>
                  <DropdownItems class="relative">
                    <div class="absolute top-0">
                      <ul
                        class="w-full rounded-xs border border-gray-300 bg-neutral-50 dark:border-gray-600 dark:bg-slate-700"
                      >
                        <li
                          class="flex w-full items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                        >
                          <Icon
                            name="mdi:newspaper-variant-outline"
                            class="size-8 text-red-600 dark:text-amber-600"
                          />
                          <a href="/blog" class="inline-flex w-full">Блог</a>
                        </li>
                        <li
                          class="flex w-full items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                        >
                          <Icon
                            name="mdi:image"
                            class="size-8 text-red-600 dark:text-amber-600"
                          />
                          <a href="/gallery" class="inline-flex w-full"
                            >Галерея</a
                          >
                        </li>
                      </ul>
                    </div>
                  </DropdownItems>
                </Dropdown>
              </li>
              <li>
                <Dropdown class="group">
                  <button
                    class="flex items-center gap-1 rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                  >
                    <span class="text-lg"> Видео </span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="currentColor"
                      class="mt-0.5 h-3 w-3 group-open:rotate-180"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                  </button>
                  <DropdownItems class="relative">
                    <div class="absolute top-0">
                      <ul
                        class="w-full rounded-xs border border-gray-300 bg-neutral-50 dark:border-gray-600 dark:bg-slate-700"
                      >
                        <li
                          class="flex items-center gap-1 p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
                        >
                          <Icon
                            name="mdi:headphones-box"
                            class="size-8 text-red-600 dark:text-amber-600"
                          />
                          <a href="/audiobooks" class="inline-flex w-full"
                            >Аудиокниги</a
                          >
                        </li>
                      </ul>
                    </div>
                  </DropdownItems>
                </Dropdown>
              </li>
              <li
                class="rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
              >
                <a href="/contacts" class="text-lg">Контакты</a>
              </li>
              <li
                class="rounded-md p-2 hover:bg-slate-200 dark:hover:bg-slate-600"
              >
                <a href="/donate" class="text-lg">Поддержать нас</a>
              </li>
            </li>
          </li>
          <!-- <DarkMode /> -->
        </ul>
      </MenuItems>
    </div>
  </Astronav>
</header>
