<p>
  ом джай шри мА трипуре<br />
  деви джай шри мА трипуре<br />
  прасида мАмих сататам прасида мАмих сататам<br />
  куру вигхнам дуре ом джай шри ма трипуре
</p>

<p>
  трикона гарвита бинду<br />
  стадупари шатконам деви стадупари шатконам<br />
  аштопадма кали мА аштопадма кали мА<br />
  вартула ме кейкам ом джай шри мА трипуре
</p>

<p>
  чатура кхйам трайя йугмам двАре чатуракхйам<br />
  деви дваре чатуракхйам<br />
  трайа йони трайа виджам<br />
  трайа йони трайа виджам<br />
  балатава чаритам ом джай шри мА трипуре
</p>
<p>
  шактикамам йугмам вагбхава тава Адйам<br />
  деви вагбхава тава Адйам<br />
  мадхйе панча пуджа мадхйе панча пуджа<br />
  панча шаши варнам ом джай шри мА трипуре
</p>
<p>
  шодхаша варна шотА питамбара багала<br />
  деви питамбара багала<br />
  продхакали тАрА мА продхакали тАрА мА<br />
  мадхйе твам камала ом джай шри мА трипуре
</p>
<p>
  бхайрави чинна дхумА матанги бхуванА<br />
  деви матанги бхуванА<br />
  дашамахАвидхйА бала мА дашамахАвидхйА бала мА<br />
  деви аннапурна ом джай шри мА трипуре
</p>
<p>
  дхйанам Арати самайе хрдайе апи кртва<br />
  деви хрдайе апи кртва<br />
  нара нАри вАм патхате нара нАри вАм патхате<br />
  сарва сукхам лабхате ом джай шри мА трипуре
</p>
<p>
  ом джай шри мА трипуре<br />
  деви джай шри мА трипуре<br />
  прасида мАмих сататам прасида мАмих сататам<br />
  куру вигхнам дуре ом джай шри ма трипуре
</p>
