<h1 class="mainTitle">Расписание занятий</h1>

<div class="mt-2 flex w-full justify-center md:mt-5 lg:mt-10 dark:text-black">
  <div class="grid w-full grid-cols-7 gap-1 rounded-md">
    <div class="grid-item-dn">
      <p class="hidden md:block">Понедельник</p>
      <p class="block md:hidden">Пн</p>
      <p>12.01</p>
    </div>
    <div class="grid-item-dn">
      <p class="hidden md:block">Вторник</p>
      <p class="block md:hidden">Вт</p>
      <p>13.01</p>
    </div>
    <div class="grid-item-dn">
      <p class="hidden md:block">Среда</p>
      <p class="block md:hidden">Ср</p>
      <p>14.01</p>
    </div>
    <div class="grid-item-dn">
      <p class="hidden md:block">Четверг</p>
      <p class="block md:hidden">Чт</p>
      <p>15.01</p>
    </div>
    <div class="grid-item-dn">
      <p class="hidden md:block">Пятница</p>
      <p class="block md:hidden">Пт</p>
      <p>16.01</p>
    </div>
    <div class="grid-item-dn">
      <p class="hidden md:block">Суббота</p>
      <p class="block md:hidden">Сб</p>
      <p>17.01</p>
    </div>
    <div class="grid-item-dn">
      <p class="hidden md:block">Воскресение</p>
      <p class="block md:hidden">Вс</p>
      <p>18.01</p>
    </div>

    <!--! 1  -->
    <!-- Понедельник -->
    <div class="grid-item-rasp"></div>
    <!-- Вторник -->
    <div class="grid-item-rasp"></div>
    <!-- Среда -->
    <div class="grid-item-rasp bg-green-100">
      <!-- <p class="w-full text-center">9:00 - 10:30</p>
      <b class="w-full text-center">Хатха йога</b> -->
      <p class="w-full text-center text-red-600">Отмена занятия</p>
    </div>
    <!-- Четверг -->
    <div class="grid-item-rasp"></div>
    <!-- Пятница -->
    <div class="grid-item-rasp"></div>
    <!-- Суббота -->
    <div class="grid-item-rasp"></div>
    <!-- Воскресение -->
    <div class="grid-item-rasp"></div>

    <!--! 2 -->
    <!-- Понедельник -->
    <div class="grid-item-rasp"></div>
    <!-- Вторник -->
    <div class="grid-item-rasp bg-blue-100">
      <p class="w-full text-center">10:00 - 11:30</p>
      <b class="w-full text-center">Шат-чакра-йога</b>
      <b class="w-full text-center font-light">Арати</b>
      <!-- <p class="text-red-600">Отмена занятия</p> -->
    </div>
    <!-- Среда -->
    <div class="grid-item-rasp bg-blue-100">
      <!-- <p class="w-full text-center">10:30 - 12:00</p>
      <b class="w-full text-center">Кундалини йога</b> -->
      <p class="w-full text-center text-red-600">Отмена занятия</p>
    </div>
    <!-- Четверг -->
    <div class="grid-item-rasp bg-blue-100">
      <!-- <p class="w-full text-center">10:00 - 11:30</p>
      <b class="w-full text-center">Йога сиддхов</b> -->
      <p class="w-full text-center text-red-600">Отмена занятия</p>
    </div>
    <!-- Пятница -->
    <div class="grid-item-rasp bg-blue-100">
      <!-- <p class="w-full text-center">10:00 - 11:30</p>
      <b class="w-full text-center">Йога сиддхов</b> -->
      <p class="w-full text-center text-red-600">Отмена занятия</p>
    </div>
    <!-- Суббота -->
    <div class="grid-item-rasp bg-fuchsia-200"></div>
    <!-- Воскресение -->
    <div class="grid-item-rasp bg-blue-100">
      <p class="w-full text-center dark:text-black">10:00 - 11:30</p>
      <b class="w-full text-center dark:text-black">Кундалини йога</b>
    </div>

    <!--! 3  -->
    <!-- Понедельник -->
    <div class="grid-item-rasp">
      <!-- <p class="text-red-600">Отмена занятия</p> -->
    </div>
    <!-- Вторник -->
    <div class="grid-item-rasp bg-amber-100">
      <p class="w-full text-center">11:30 - 12:30</p>
      <b class="w-full text-center">Сутра</b>
      <p class="w-full text-center font-light italic">
        Утрення пуджа Даттатрее
      </p>
      <!-- <p class="text-red-600">Отмена занятия</p> -->
    </div>
    <!-- Среда -->
    <div class="grid-item-rasp bg-amber-100">
      <!-- <p class="w-full text-center">12:00 - 13:00</p>
      <b class="w-full text-center">Сутра</b>
      <p class="w-full text-center font-light italic">
        Утрення пуджа Даттатрее
      </p> -->
      <p class="w-full text-center text-red-600">Отмена занятия</p>
    </div>
    <!-- Четверг -->
    <div class="grid-item-rasp bg-amber-100">
      <!-- <p class="w-full text-center">11:30 - 12:30</p>
      <b class="w-full text-center">Сутра</b>
      <p class="w-full text-center font-light italic">
        Утрення пуджа Даттатрее
      </p> -->
      <p class="w-full text-center text-red-600">Отмена занятия</p>
    </div>
    <!-- Пятница -->
    <div class="grid-item-rasp bg-amber-100">
      <!-- <p class="w-full text-center">11:30 - 12:30</p>
      <b class="w-full text-center">Сутра</b>
      <p class="w-full text-center font-light italic">
        Утрення пуджа Даттатрее
      </p> -->
      <p class="w-full text-center text-red-600">Отмена занятия</p>
    </div>
    <!-- Суббота -->
    <div class="grid-item-rasp"></div>
    <!-- Воскресение -->
    <div class="grid-item-rasp bg-blue-100">
      <p class="w-full text-center">11:30 - 13:00</p>
      <b class="w-full text-center">Медитация</b>
    </div>

    <!--! 4  -->
    <!-- Понедельник -->
    <div class="grid-item-rasp"></div>
    <!-- Вторник -->
    <div class="grid-item-ras"></div>
    <!-- Среда -->
    <div class="grid-item-rasp bg-blue-100">
      <!-- <p class="w-full text-center">18:00 - 19:00</p>
      <b class="w-full text-center">Медитация</b> -->
      <p class="w-full text-center text-red-600">Отмена занятия</p>
    </div>
    <!-- Четверг -->
    <div class="grid-item-rasp"></div>
    <!-- Пятница -->
    <div class="grid-item-rasp"></div>
    <!-- Суббота -->
    <div class="grid-item-rasp"></div>
    <!-- Воскресение -->
    <div class="grid-item-rasp"></div>

    <!--! 5  -->
    <!-- Понедельник -->
    <div class="grid-item-rasp bg-amber-100">
      <p class="w-full text-center">19:00 - 22:00</p>
      <b class="w-full text-center">Бхаджан Мандала</b>
      <p class="w-full text-center font-light italic">Вечерняя пуджа Шиве</p>
      <!-- <p class="text-red-600">Отмена занятия</p> -->
    </div>
    <!-- Вторник -->
    <div class="grid-item-rasp bg-amber-100">
      <p class="w-full text-center">19:00 - 22:00</p>
      <b class="w-full text-center">Бхаджан Мандала</b>
      <p class="w-full text-center font-light italic">
        Вечерняя пуджа Даттатрее
      </p>
      <!-- <p class="text-red-600">Отмена занятия</p> -->
    </div>
    <!-- Среда -->
    <div class="grid-item-rasp bg-amber-100">
      <p class="w-full text-center">19:00 - 22:00</p>
      <b class="w-full text-center">Бхаджан Мандала</b>
      <p class="w-full text-center font-light italic">Вечерняя пуджа Вишну</p>
      <!-- <p class="text-red-600">Отмена занятия</p> -->
    </div>
    <!-- Четверг -->
    <div class="grid-item-rasp bg-amber-100">
      <p class="w-full text-center">19:00 - 22:00</p>
      <b class="w-full text-center">Бхаджан Мандала</b>
      <p class="w-full text-center font-light italic">Вечерняя пуджа Гуру</p>
      <!-- <p class="text-red-600">Отмена занятия</p> -->
    </div>
    <!-- Пятница -->
    <div class="grid-item-rasp bg-amber-100">
      <p class="w-full text-center">19:00 - 22:00</p>
      <b class="w-full text-center">Бхаджан Мандала</b>
      <p class="w-full text-center font-light italic">Вечерняя пуджа Шакти</p>
      <!-- <p class="text-red-600">Отмена занятия</p> -->
    </div>
    <!-- Суббота -->
    <div class="grid-item-rasp"></div>
    <!-- Воскресение -->
    <div class="grid-item-rasp"></div>
  </div>
</div>
<p
  class="w-full text-right text-[0.3rem] font-light md:text-[0.4rem] lg:text-[0.5rem] xl:text-[0.7rem]"
>
  Обновлено: 11.01.2026 21:30
</p>
<h3
  class="mt-5 mb-1 text-base font-medium text-gray-700 md:mt-5 lg:mt-10 dark:text-amber-600"
>
  Условные обозначения
</h3>

<div
  class="grid w-full grid-cols-1 gap-2 text-gray-700 md:grid-cols-2 lg:grid-cols-4 dark:text-amber-100"
>
  <div class="flex w-full items-center gap-1">
    <div class="size-8 shrink-0 rounded-md bg-green-100"></div>
    <p class="w-full text-xs">
      Телесные практики: асаны, виньясы, вьяямы, физические крии.
    </p>
  </div>
  <div class="flex items-center gap-1">
    <div class="size-8 shrink-0 rounded-md bg-blue-100"></div>
    <p class="w-full text-xs">
      Дыхательные и ментальные практики: пранаямы, медитации, мантры.
    </p>
  </div>
  <div class="flex items-center gap-1">
    <div class="size-8 shrink-0 rounded-md bg-amber-100"></div>
    <p class="w-full text-xs">
      Алтарные садханы: ритуальные практики у алтаря.
    </p>
  </div>
  <div class="flex items-center gap-1">
    <div class="size-8 shrink-0 rounded-md bg-fuchsia-200"></div>
    <p class="w-full text-xs">Семинары и ретриты выходного дня.</p>
  </div>
</div>

<h3
  class="my-1 mt-5 text-base font-medium text-gray-700 md:mt-5 lg:mt-10 dark:text-amber-600"
>
  Запишитесь на практику
</h3>

<div class="flex flex-col gap-2">
  <div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
    <div
      class="flex flex-col rounded-md bg-amber-100 p-2 text-sm text-slate-700 transition-all duration-700 ease-in dark:bg-slate-700 dark:text-white"
    >
      <button class="flex w-full items-center gap-1 rounded-md">
        <span class="text-xl font-medium text-gray-700 dark:text-amber-600">
          Тиртхадева
        </span>
      </button>
      <div class="w-full dark:text-amber-100">
        <div class="flex flex-col gap-1">
          <p class="mt-1">Расписание:</p>
          <p class="font-light">Ср 9:00 Хатха йога</p>
          <p class="font-light">Ср 10:30 Кундалини йога</p>
          <!-- <p class="font-light">Ср 17:00 Хатха йога</p> -->
          <p class="font-light">Вс 10:00 Кундалини йога</p>
          <p class="font-light">Вс 11:30 Медитация</p>
        </div>
        <div class="mt-1 flex gap-1">
          <p class="">Контакты:</p>
          <a
            href="whatsapp://send?phone=79672067710"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
          >
            whatsapp
          </a>
          <a
            href="https://t.me/tirthadeva"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
          >
            telegram
          </a>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col rounded-md bg-amber-100 p-2 text-sm text-slate-700 transition-all duration-700 ease-in dark:bg-slate-700 dark:text-white"
    >
      <button class="flex w-full items-center gap-1 rounded-md">
        <span class="text-xl font-medium text-gray-700 dark:text-amber-600">
          Арати
        </span>
      </button>
      <div class="w-full dark:text-amber-100">
        <div class="flex flex-col gap-1">
          <p class="mt-1">Расписание:</p>
          <p class="font-light">Вт 10:00 Шат-чакра-йога</p>
        </div>
        <div class="mt-1 flex gap-1">
          <p class="">Контакты:</p>
          <a
            href="whatsapp://send?phone=79266260215"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
          >
            whatsapp
          </a>
          <a
            href="https://t.me/Arati_108"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
          >
            telegram
          </a>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col rounded-md bg-amber-100 p-2 text-sm text-slate-700 transition-all duration-700 ease-in dark:bg-slate-700 dark:text-white"
    >
      <button class="flex w-full items-center gap-1 rounded-md">
        <span class="text-xl font-medium text-gray-700 dark:text-amber-600">
          Тарини
        </span>
      </button>
      <div class="w-full dark:text-amber-100">
        <div class="flex flex-col gap-1">
          <p class="mt-1">Расписание:</p>
          <p class="font-light">Чт 10:00 Йога сиддхов</p>
          <p class="font-light">Чт 14:00 Пранавидья</p>
        </div>
        <div class="mt-1 flex gap-1">
          <p class="">Контакты:</p>
          <a
            href="whatsapp://send?phone=79154779637"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
          >
            whapsapp
          </a>
          <a
            href="https://t.me/om_tarini"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
          >
            telegram
          </a>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col rounded-md bg-amber-100 p-2 text-sm text-slate-700 transition-all duration-700 ease-in dark:bg-slate-700 dark:text-white"
    >
      <button class="flex w-full items-center gap-1 rounded-md">
        <span class="text-xl font-medium text-gray-700 dark:text-amber-600">
          Мадхаваприя
        </span>
      </button>
      <div class="w-full dark:text-amber-100">
        <div class="flex flex-col gap-1">
          <p class="mt-1">Расписание:</p>
          <p class="font-light">Пт 10:00 Йога сиддхов</p>
        </div>
        <div class="mt-1 flex gap-1">
          <p class="">Контакты:</p>
          <a
            href="whatsapp://send?phone=79852597978"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
          >
            whatsapp
          </a>
          <a
            href="https://t.me/margo9978"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
          >
            telegram
          </a>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col rounded-md bg-amber-100 p-2 text-sm text-slate-700 transition-all duration-700 ease-in dark:bg-slate-700 dark:text-white"
    >
      <button class="flex w-full items-center gap-1 rounded-md">
        <span class="text-xl font-medium text-gray-700 dark:text-amber-600">
          Запись на сутру
        </span>
      </button>
      <div class="w-full dark:text-amber-100">
        <div class="flex flex-col gap-1">
          <p class="mt-1">Расписание:</p>
          <p class="font-light">Пн 12:00 Утрення пуджа Даттатрее</p>
          <p class="font-light">Вт 11:30 Утрення пуджа Даттатрее</p>
          <p class="font-light">Ср 12:00 Утрення пуджа Даттатрее</p>
          <p class="font-light">Чт 11:30 Утрення пуджа Даттатрее</p>
          <p class="font-light">Пн 11:30 Утрення пуджа Даттатрее</p>
        </div>
        <div class="mt-1 flex gap-1">
          <p class="">Контакты:</p>
          <a
            href="whatsapp://send?phone=79852191619"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
            >whatsapp
          </a>
          <a
            href="https://t.me/Shartatiana"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
            >telegram
          </a>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col rounded-md bg-amber-100 p-2 text-sm text-slate-700 transition-all duration-700 ease-in dark:bg-slate-700 dark:text-white"
    >
      <button class="flex w-full items-center gap-1 rounded-md">
        <span class="text-xl font-medium text-gray-700 dark:text-amber-600">
          Запись на Бхаджан Мандалу
        </span>
      </button>
      <div class="w-full dark:text-amber-100">
        <div class="flex flex-col gap-1">
          <p class="mt-1">Расписание:</p>
          <p class="font-light">Пн 19:00 Вечерняя пуджа Шиве</p>
          <p class="font-light">Вт 19:00 Вечерняя пуджа Даттатрее</p>
          <p class="font-light">Ср 19:00 Вечерняя пуджа Вишну</p>
          <p class="font-light">Чт 19:00 Вечерняя пуджа Гуру</p>
          <p class="font-light">Пн 19:00 Вечерняя пуджа Шакти</p>
        </div>
        <div class="mt-1 flex gap-1">
          <p class="">Контакты:</p>
          <a
            href="whatsapp://send?phone=79852191619"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
            >whatsapp
          </a>
          <a
            href="https://t.me/Shartatiana"
            target="_blank"
            rel="noreferrer"
            class="text-indigo-700 hover:underline dark:text-amber-400"
            >telegram
          </a>
        </div>
      </div>
    </div>
  </div>
  <span class="mt-1 inline-flex gap-1 text-xs text-gray-700 dark:text-amber-100"
    >В сообщении обязательно укажите время и день занятия!</span
  >

  <div class="mt-7 flex w-full justify-center">
    <a
      href="/contacts#address"
      class="my-button flex items-center gap-1 rounded-md border border-gray-300 px-3 py-2 text-center"
    >
      <p>Как нас найти</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M21.623 4.103c.521-1.1-.626-2.248-1.726-1.726L2.99 10.385c-1.1.52-.94 2.133.24 2.429l6.364 1.59l1.591 6.364c.295 1.18 1.908 1.34 2.43.24z"
        ></path>
      </svg>
    </a>
  </div>
</div>
