<div id="carouselTradicia" class="carousel slide carousel-fade w-full">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselTradicia"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"></button>
    <button
      type="button"
      data-bs-target="#carouselTradicia"
      data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button
      type="button"
      data-bs-target="#carouselTradicia"
      data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://sun9-1.userapi.com/impg/SN4kGJ1YeTxUg9Nt3YFNQQ7CAOD_c2YNcjMLGQ/f6dWujT9Qh8.jpg?size=600x800&quality=95&sign=0e07fc80eb743d66280d70835e79bf14&type=album"
        class="block w-100 rounded-md"
        alt="..."
      />
      <div class="carousel-caption d-md-block"></div>
    </div>
    <div class="carousel-item">
      <img
        src="https://sun9-4.userapi.com/impg/ppN9TsbORqNSwb85AD4u_IxxEe38FPLu_8Rfbw/rdBJCEvwP9w.jpg?size=600x800&quality=95&sign=86bfca5deeaf443785ec6679189b8ec5&type=album"
        class="block w-100 rounded-md"
        alt="..."
      />
      <div class="carousel-caption d-md-block"></div>
    </div>
    <div class="carousel-item">
      <img
        src="https://sun9-5.userapi.com/impg/7WKSl7uQr2SsZDZUALhK1tWCsYVbXy0mx6vd0g/FmqalOIRf7c.jpg?size=600x800&quality=95&sign=c49cb69d96f717790672429b08eba37a&type=album"
        class="block w-100 rounded-md"
        alt="..."
      />
      <div class="carousel-caption d-md-block"></div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselTradicia"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon rounded-md border"
      aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselTradicia"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon rounded-md border"
      aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
