---
import Layout from "../../../layouts/Layout.astro";
import Altar from "../../../components/Altar.astro";
import Start from "../../../components/BhadjanMandala/Start";
import GaneshaMantra from "../../../components/BhadjanMandala/GaneshaMantra";
import GaneshaArati from "../../../components/BhadjanMandala/GaneshaArati";
import LaksmiArati from "../../../components/BhadjanMandala/LaksmiArati";
import PanchabrahmaMantry from "../../../components/BhadjanMandala/PanchabrahmaMantry";
import NirvanaShatakam from "../../../components/BhadjanMandala/NirvanaShatakam";
import Totakashtakam from "../../../components/BhadjanMandala/Totakashtakam";
import Prarthana from "../../../components/BhadjanMandala/Prarthana";
import BhadjanySiddham from "../../../components/BhadjanMandala/BhadjanySiddham";
import ShantiMantra from "../../../components/BhadjanMandala/ShantiMantra";
import LekciyaGuru from "../../../components/BhadjanMandala/LekciyaGuru";
import Meditation4BSB from "../../../components/BhadjanMandala/Meditation4BSB";
import Finish from "../../../components/BhadjanMandala/Finish";
import Disclaimer from "../../../components/BhadjanMandala/Disclaimer";
import { Icon } from "astro-icon/components";
---

<Layout title="Пуджа сиддхам. Неделя 1.">
  <div class="main-container">
    <div class="flex items-center justify-center gap-1">
      <h1 class="mainTitle">Пуджа сиддхам. Неделя 1</h1>
      <a href="/upasana/bm-siddhi/" class="">
        <Icon
          name="mdi:arrow-left-top"
          class="size-5 text-indigo-500 md:size-6 lg:size-8 dark:text-amber-400"
        />0
      </a>
    </div>
    <div id="sutra"></div>
    <Altar />
    <Start client:visible />
    <GaneshaMantra client:visible />
    <GaneshaArati client:visible />
    <LaksmiArati client:visible />
    <PanchabrahmaMantry client:visible />
    <LekciyaGuru client:visible />
    <Prarthana client:visible />
    <NirvanaShatakam client:visible />
    <Totakashtakam client:visible />
    <BhadjanySiddham client:visible />
    <ShantiMantra client:visible />
    <Meditation4BSB client:visible />
    <Finish client:visible />
    <Disclaimer client:visible />

    <div class="mt-10 flex w-full justify-center text-lg lg:mt-20">
      <a href="/upasana/bm-siddhi/">
        <Icon
          name="mdi:arrow-left-top"
          class="size-5 text-indigo-500 md:size-6 lg:size-8 dark:text-amber-400"
        />
      </a>
    </div>
  </div>
</Layout>
