---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import meditation from "../../assets/img/meditation.jpg";
import meditation2 from "../../assets/meditation-tirthadeva.webp";
import bannerYoga from "../../assets/banners/retrit.webp";
---

<Layout title="Ретрит: Дхьяна в мегаполисе">
  <div class="main-container flex flex-col items-center dark:text-amber-100">
    <h1 class="mainTitle">Дхьяна в мегаполисе</h1>
    <div
      class="mt-5 flex w-full flex-col-reverse justify-between gap-5 md:mt-7 md:flex-col lg:mt-10 lg:flex-row"
    >
      <div
        class="flex w-full flex-col items-center justify-around text-lg text-gray-500 lg:w-6/12 dark:text-amber-100"
      >
        <p
          class="w-full text-center text-base font-bold text-gray-700 xl:text-2xl 2xl:text-3xl dark:text-amber-600"
        >
          Ретрит выходного дня
        </p>
        <div class="flex w-60 flex-col gap-2 md:w-72">
          <p class="text-sm md:text-base">Для начинающих и опытных садху</p>
          <p class="text-sm md:text-base">28 июня с 9:30 до 19:00</p>
          <p class="text-sm md:text-base">За свободные пожертвования</p>
          <p class="text-sm md:text-base">Дхарма центр ШактиМа</p>
          <p class="text-sm md:text-base">Проводит Тиртхадева</p>
        </div>
      </div>

      <a href="" target="_blank" rel="noreferrer" class="lg:w-6/12">
        <Image
          src={bannerYoga}
          alt="Йога в ШактиМа"
          class="w-full rounded-sm shadow-md lg:rounded-xl"
        />
      </a>
    </div>
    <div
      class="mt-7 flex w-full flex-col justify-between gap-5 md:mt-7 lg:mt-10"
    >
      <p class="w-full text-center">
        Никуда не уезжая из города, вы можете остановиться, успокоить свой ум,
        перезагрузиться прямо в центре Москвы.
      </p>

      <h5
        class="mt-7 w-full text-center text-lg font-bold md:text-xl lg:mt-10 lg:text-2xl 2xl:mt-12 dark:text-amber-600"
      >
        Данный ретрит
      </h5>
      <div class="grid w-full grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-5">
        <p class="rounded-sm border border-gray-300 p-2 dark:border-gray-600">
          Это глоток свежего воздуха внутри повседневных задач, ежедневной
          рутины, дедлайнов, переговоров и деловых встреч.
        </p>
        <p class="rounded-sm border border-gray-300 p-2 dark:border-gray-600">
          Это возможность услышать себя там, где обычно слышен только гул
          большого города.
        </p>
        <p class="rounded-sm border border-gray-300 p-2 dark:border-gray-600">
          Это возможность погрузиться в тишину и безмолвия ума на фоне городской
          суеты.
        </p>
        <p class="rounded-sm border border-gray-300 p-2 dark:border-gray-600">
          Это возможность начать практиковать с опытными преподавателями
          медитации и носителями традиционных знаний.
        </p>
      </div>

      <h5
        class="mt-7 w-full text-center text-lg font-bold md:mt-7 md:text-xl lg:mt-10 lg:text-2xl 2xl:mt-12 dark:text-amber-600"
      >
        В программе ретрита запланированы следующие практики:
      </h5>
      <div class="grid w-full grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-5">
        <p
          class="rounded-sm border border-gray-300 p-2 lg:text-center dark:border-gray-600"
        >
          Хатха, мантра и кундалини йога
        </p>
        <p
          class="rounded-sm border border-gray-300 p-2 lg:text-center dark:border-gray-600"
        >
          Мауна и простирания
        </p>
        <p
          class="rounded-sm border border-gray-300 p-2 lg:text-center dark:border-gray-600"
        >
          Концентрация и медитация
        </p>
      </div>
      <p>
        <b class="dark:text-amber-600">PS:</b> все практики адаптированы для жителей
        мегаполиса: без побега от реальности — с интеграцией тишины в обычную жизнь.
      </p>

      <div
        class="mt-7 flex w-full flex-col items-center justify-center gap-2 lg:mt-10 lg:text-2xl 2xl:mt-12"
      >
        <h5
          class="w-full text-center text-lg font-bold md:mt-7 md:text-xl dark:text-amber-600"
        >
          Ретритное расписание:
        </h5>
        <div class="flex flex-col gap-3 rounded-sm border p-2 lg:p-4 2xl:p-6">
          <p>9:30 — Сбор/ инструктаж</p>
          <p>10:00 — Простирания/ хатха йога</p>
          <p>11:30 — Кундалини йога/ Чандали</p>
          <p>13:00 — Концентрация/ созерцательная ходьба</p>
          <p>14:00 — Прасад/лекция гуру</p>
          <p>15:00 — Медитация/ созерцательная ходьба</p>
          <p>16:00 — Мантра йога</p>
          <p>17:00 — Медитация/ созерцательная ходьба</p>
          <p>18:00 — Чай/ беседы о дхарме</p>
          <p>19:00 — Завершение ретрита</p>
        </div>
      </div>

      <div class="mt-7 flex w-full justify-center lg:mt-10 2xl:mt-12">
        <Image
          src={meditation}
          alt="meditation"
          class="rounded-sm lg:rounded-xl"
        />
      </div>

      <div class="mt-7 flex w-full flex-col gap-5 lg:mt-10 2xl:mt-12">
        <p>
          <b class="dark:text-amber-600">Место проведения ретрита:</b> московский
          дхарма центр ШактиМа.
        </p>
        <p>
          <b class="dark:text-amber-600">Адрес:</b> Москва, Нижняя Красносельская
          улица, 40/12к2.
        </p>
        <div class="flex w-full items-center gap-1">
          <b class="dark:text-amber-600">Проводник:</b>
          <p>Тиртхадева</p>
          <a
            href="https://tirthadeva.vercel.app/"
            target="_blank"
            rel="noreferrer"
          >
            <Icon
              name="mdi:vector-link"
              class="size-4 text-indigo-700 dark:text-amber-400"
            />
          </a>
        </div>
        <div class="inline w-full items-center gap-1">
          <p class="inline">
            <b class="dark:text-amber-600">Подношения:</b> ретрит проводится за свободные
            пожертвования по сердцу
          </p>
          <Icon name="mdi:cards-heart-outline" class="inline text-red-500" />
        </div>
        <p>
          <b class="dark:text-amber-600">Дата:</b> 24 мая. Сбор в ДЦ в 9:30. Завершение
          ретрита в 19:00.
        </p>

        <p>
          <b class="dark:text-amber-600">Форма одежды:</b> свободная, комфортная для
          практик хатха, кундалини йоги, медитации.
        </p>
        <p>
          <b class="dark:text-amber-600">Завтрак:</b> до начала ретрита допускается
          лёгкий завтрак, такой, чтобы не было тяжело практиковать асаны и кундалини
          йогу.
        </p>
        <p>
          <b class="dark:text-amber-600">Обед:</b>
          саттвичный прасад приносите с собой. Предпочтительно свежие фрукты, овощи,
          орехи и вкусняшки к чаю.
        </p>
        <div
          class="mt-7 flex w-full flex-col items-center justify-center gap-3 lg:mt-10 2xl:mt-12"
        >
          <h5
            class="font-bold md:text-xl lg:mt-10 lg:text-2xl 2xl:mt-12 dark:text-amber-600"
          >
            Регистрация:
          </h5>
          <a
            href="whatsapp://send?phone=79672067710"
            target="_blank"
            rel="noreferrer"
            class="rounded-3xl border bg-white px-5 py-2 font-medium text-indigo-700 hover:underline dark:text-amber-400"
            >whatsapp
          </a>
          <a
            href="https://t.me/tirthadeva"
            target="_blank"
            rel="noreferrer"
            class="rounded-3xl border bg-white px-5 py-2 font-medium text-indigo-700 hover:underline dark:text-amber-400"
            >telegram
          </a>
          <a
            href="https://vk.com/tirthadeva"
            target="_blank"
            rel="noreferrer"
            class="rounded-3xl border bg-white px-5 py-2 font-medium text-indigo-700 hover:underline dark:text-amber-400"
            >VK
          </a>
          <span>Либо, по номеру телефона: +79672067710 (Тиртхадева)</span>
        </div>
      </div>

      <div
        class="mt-7 flex w-full flex-col items-center justify-center gap-1 lg:mt-10 lg:gap-2 2xl:mt-12"
      >
        <p class="text-base lg:text-3xl">До встречи на практике</p>
        <Image src={meditation2} alt="meditation" class="rounded-sm" />
      </div>
    </div>
  </div>
</Layout>
