---
import DividerTop from "../components/DividerTop.astro";
import DividerButtom from "../components/DividerButtom.astro";
---

<section class="main-container flex flex-col justify-between">
  <DividerTop />
  <slot />
  <DividerButtom />
</section>
